textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus { outline: 0 none; }

form.needs-validation label { font-weight: 400 !important; }

form .input-group-text { width: 40px; padding-left: 0.8rem; padding-right: 0.8rem; }

    form .input-group-text > i { margin-left: 1px; }

.was-validated .form-control.input-validation-error { border-color: #dc3545; outline: 0 none; }

    .was-validated .form-control.input-validation-error:focus { border-color: rgba(220, 53, 69, 1); box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }

    .was-validated .form-control.input-validation-error ~ .invalid-feedback { display: block; }

.not-active { pointer-events: none; cursor: default; text-decoration: none; color: black; }
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-treeview { background: rgb(247, 247, 247); border: 1px solid rgb(221, 221, 221); }