@model NewsViewModel2
@{
    ViewData["Title"] = "THÔNG TIN TRAO ĐỔI (GÓP Ý, PHẢN ÁNH, HỎI ĐÁP)";
    var formView = "frm_contact";
    var data = ViewData["data"];
}

@section Styles {
    <!-- Core CSS  -->
    <link href="~/lib/kendo-ui/styles/kendo.common.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/kendo-ui/styles/kendo.default.min.css" rel="stylesheet" asp-append-version="true" />

    <style>
        .k-editor .k-i-insert-video:before {
            font-family: FontAwesome;
            content: "\f167";
            font-size: 16px;
        }
    </style>

}

@section Breadcrumb {
    <div id="breadcrumb">
        <a href="/">Cổng thông tin bộ Tài Nguyên &amp; Môi trường</a>
    </div>

}

<div id="page">
    <!-- content -->
    <div id="content">
        <div class="region">
            <article class="node">
                <h2 style="margin-bottom: 5px;" class="title">@ViewData["Title"]</h2>

                <div class="content">

                    <div id="contact_form" class="row box-KN">
                        <form id="@formView" class="needs-validation" method="post">
                            <div class="row">
                                <p style="font-weight: 600">THÔNG TIN TỔ CHỨC VÀ CÁ NHÂN</p>
                                <div style="width: 50%; float: left;" class="col-sm-6">
                                    <div class="form-item">
                                        <label for="UserFullName" class="control-label">Họ tên:</label>
                                        <input class="form-text" asp-for="UserFullName" required placeholder="Nhập đầy đủ họ và tên" />
                                    </div>
                                    <div class="form-item">
                                        <label for="UserAddress" class="control-label">Địa chỉ:</label>
                                        <input class="form-text" asp-for="UserAddress" required placeholder="Địa chỉ" />
                                    </div>
                                    <div class="form-item">
                                        <label for="UserEmail" class="control-label">Điện thoại:</label>
                                        <input class="form-text" asp-for="UserPhone" required placeholder="Điện thoại" />
                                    </div>
                                    <div class="form-item">
                                        <label for="UserEmail" class="control-label">Địa chỉ E-mail:</label>
                                        <input class="form-text" asp-for="UserEmail" required placeholder="Địa chỉ E-mail liên lạc" />
                                    </div>
                                </div>
                                <div class="col-sm-6" id="mapframe" style="width: 49%; float: right;">
                                    <div style="width: 100%">
                                        <iframe height="280"
                                                src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=ha%20noi&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                                            <a href="https://www.maps.ie/create-google-map/">Add map to website</a>
                                        </iframe>
                                    </div><br />
                                </div>
                            </div>
                            <div class="row">
                                <p style="font-weight: 600">NỘI DUNG TRAO ĐỔI</p>

                                <div class="form-item">
                                    <label asp-for="Name" class="control-label">Tiêu đề:</label>
                                    <input asp-for="Name" class="form-text" placeholder="Tiêu đề phản ánh" required />
                                    <span asp-validation-for="Name" class="form-required"></span>
                                </div>
                                <div id="map"></div>
                                <div class="form-item">
                                    <label asp-for="Link" class="control-label">Địa điểm:</label>
                                    <input asp-for="Link" class="form-text" id="address_map" placeholder="Địa điểm diễn ra" />
                                    <input type="hidden" id="lat" name="lat" />
                                    <input type="hidden" id="lng" name="lng" />
                                    <span asp-validation-for="Link" class="form-required"></span>
                                </div>

                                @*<div class="form-item">
                <label asp-for="CategoryId" class="control-label">Chủ đề phản ánh:</label>
                <input asp-for="CategoryId" required style="width: 0; height: 0; border: 0; visibility: hidden;" class="form-text " />
                <span asp-validation-for="CategoryId" class="form-required"></span>

                <div class="demo-section k-content" style="overflow: auto; max-height: 300px; background: transparent;">
                    <div id="cat_treeview"></div>
                </div>
            </div>*@

                                <div class="form-item" style="display: none;">
                                    <label asp-for="Abstract" class="control-label">Tóm tắt:</label>
                                    <textarea style="width:100%; height:150px" rows="10" asp-for="Abstract" class="form-text"></textarea>
                                </div>

                                <div class="form-item">
                                    <label asp-for="Content" class="control-label">Nội dung trao đổi:</label>
                                    <textarea style="width:100%; height:400px" rows="10" asp-for="Content" class="form-text"></textarea>
                                    <span asp-validation-for="Content" class="form-required"></span>
                                </div>

                                <div class="form-item">
                                    <div class="g-recaptcha" data-sitekey="6LeC1HYUAAAAAKwSLhUFdKLggrlFy2QqIsLD1Evr" data-size="invisible"  data-callback="onCompleted"></div>
                                </div>
                            </div>
                            <div class="form-item">
                                <div asp-validation-summary="All" class="form-required"></div>
                            </div>
                            <div class="form-item">
                                <button type="submit" onclick="submitForm()">
                                    <span class="view_all_medium"><span><span>Gửi phản ánh kiến nghị</span></span></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <!-- end content -->
</div>
<!-- right sidebar -->

@section Scripts {
    <script src="~/js/home/Scripts.js" asp-append-version="true"></script>
    <script src="~/js/kendo.all.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">
        var dataNews = @Html.Raw(Json.Serialize(@data));
        $.each(dataNews, function (item , vlue) {
            var date = new Date(vlue.OnCreated).toDateString();
            var time = new Date(vlue.OnCreated).toTimeString()
            var html = '<li class="last"><article><div class="photo"><a href="#"><img src="/images/homes/_MG_4863 sep Thuc.jpg" alt="Photo" /></a></div>';
            html += '<div class="details"><h4 class="title"><a href="#">' + vlue.Abstract + '</a></h4><p class="date"><time datetime="2013-01-29">' + date + '</time>';
            html += '           <span class="comments_count"><a href="#">21</a></span></p></div></article></li>';
            $("#block_popular").append(html);
        });

        var ngNews = {
            formName: '@formView'
        };

        function googleInput() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -33.8688, lng: 151.2195 },
                zoom: 13,
                mapTypeId: 'roadmap'
            });

            var input = document.getElementById('address_map');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
            searchBox.addListener('places_changed', function () {
                var places = searchBox.getPlaces();
                if (places.length > 0) {
                    $("#lat").val(places[0].geometry.location.lat());
                    $("#lng").val(places[0].geometry.location.lng());
                    var address_map = $("#address_map").val();
                    var html = ' <div style="width: 100%"><iframe id="mapframe" height="280" src = "https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q='+ encodeURI(address_map) +'&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder = "0" scrolling = "no" marginheight = "0" marginwidth = "0" > <a href="https://www.maps.ie/create-google-map/">Add map to website</a></iframe ></div > <br />';
                    $("#mapframe").html(html);
                }
            });
        }
    </script>

    <script type="text/x-kendo-template" id="insertVideo-template">
        <div>
            <label for="videoUrl">Nhập link video từ YouTube:</label>
            <input type="text" id="videoUrl" name="videoUrl" />

            <div class="insertVideo-actions">
                <button class="k-button insertVideo-insert">Chèn video</button>
                <button class="k-button insertVideo-cancel">Hủy bỏ</button>
            </div>
        </div>
    </script>

    <script type="text/x-kendo-template" id="youTube-template">
        <iframe width="200" height="115" src="http://www.youtube.com/embed/#= source #?wmode=opaque&rel=0" frameborder="0"></iframe>
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlLvJ9NzDhCd9z-urxEAe83JGCqv1G0TI&libraries=places&callback=googleInput" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js?hl=vi" async defer></script>

    <script src="~/js/home/contact.js" asp-append-version="true"></script>
}