
@{
    ViewData["Title"] = "Chi tiết tin tức";
}
<script src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link href="~/css/news.css" rel="stylesheet" />
<style>
    .firstNewsetItem {
        display: grid !important;
        font-size: 14px !important;
        line-height: 30px !important;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
        padding: 12px !important;
        margin-top: 10px !important;
    }
</style>

<style>
    h1 {
        font-size: 24px;
        padding: 10px 10px 10px 0px;
    }
    .embed-container {
        position: relative;
        padding-bottom: 80%;
        height: 0;
        max-width: 100%;
    }

        .embed-container iframe, .embed-container object, .embed-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    small {
        position: absolute;
        z-index: 40;
        bottom: 0;
        margin-bottom: -15px;
    }

    .tomtatTintuc {
        font-size: 14px !important;
        font-family: Arial !important;
        font-style: italic;
    }
</style>
<link href="~/css/news.css" rel="stylesheet" />

<div class="container">
    <div id="detail-news" class="col-md-8">
        <br />
    </div>
    <div class="col-md-4">
        <div class="col-md-12">
            <section class="block block_business_news">
                <h3 class="block_title_black">CHUYÊN MỤC TIN<a href="#" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                <div class="content">
                    <div class="right">
                        <ul id="tin-chuyen-muc-content"></ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-12">
            <section class="block block_business_news">
                <h3 class="block_title_black">TIN MỚI<a href="#" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                <div class="content">
                    <div class="right">
                        <ul id="tin-moi-content"></ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-12">
            <section class="block block_business_news">
                <h3 class="block_title_black">TIN XEM NHIỀU<a href="#" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                <div class="content">
                    <div class="right">
                        <ul id="tin-xem-nhieu-content"></ul>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>
@section Scripts {
    <script src="~/js/date.format.js"></script>
    <script>
        function formatDate(date) {
            var monthNames = [
                "Tháng Một", "Tháng Hai", "Tháng Ba",
                "Tháng Tư", "Tháng Năm", "Tháng Sáu", "Tháng Bảy",
                "Tháng Tám", "Tháng Chín", "Tháng Mười",
                "Tháng Mười Một", "Tháng Mười Hai"
            ];

            var day = date.getDate();
            var monthIndex = date.getMonth();
            var year = date.getFullYear();
            var hour = date.getHours();
            var minute = date.getMinutes();
            var second = date.getSeconds();
            var current_day = date.getDay();
            var day_name = '';
            switch (current_day) {
                case 0:
                    day_name = "Chủ nhật";
                    break;
                case 1:
                    day_name = "Thứ hai";
                    break;
                case 2:
                    day_name = "Thứ ba";
                    break;
                case 3:
                    day_name = "Thứ tư";
                    break;
                case 4:
                    day_name = "Thứ năm";
                    break;
                case 5:
                    day_name = "Thứ sáu";
                    break;
                case 6:
                    day_name = "Thứ bảy";
            }

            return day_name + ' ' + day + ' ' + monthNames[monthIndex] + ' - ' + year + ' ' + (hour >= 10 ? hour : '0' + hour) + ':' + (minute >= 10 ? minute : '0' + minute) + ':' + (second >= 10 ? second : '0' + second);
        }

        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        };
        $.get(appConfig.apiHostUrl + "/api/News/getHomeNewsById?id=" + getUrlParameter('id'), function (data, status) {
            var content = '';
            content += '<h1 style="line-height: 31px;"><font color="black">' + data.model.Name + '</font></h1>'
            content += formatDate(new Date(data.model.OnPublished));
            content += '<br />';
            content += '<br />';
            if (data.model.Image) {
                content += '<img src="' + appConfig.apiCdnUrl + data.model.Image + '" class="anhdaidien">';
            }
            content += '<br/><p class="tomtatTintuc">' + data.model.Abstract + '</p>';
            content += '<br />';

            content += data.model.Content;
            content += '<br />';
            content += '<br />';
            content += '<p  style="text-align:right;font-size:17px;font-family: Arial, Helvetica, sans-serif;"><b>' + data.model.SourceNews + '/' + data.model.UserFullName + '</b></p >';
            content += '<style>';
            content += 'p span span {margin-top:9px;}';
            content += '</style>';  
            $('#detail-news').html(content);
        });

        $.get(appConfig.apiHostUrl + "/api/News/getHomeNewsByCate?number=3", function (data, status) {
            var content = '';
            for (var i = 0; i < data.model.length; i++) {
                if (i != data.model.length - 1) {
                    content += '<article class="border-dot">';
                    content += '<hgroup>';
                    content += '<h4 class="title"><a href="/home/detailnews?id=' + data.model[i].Id + '" >' + data.model[i].Name + '</a></h4>';
                    content += '</hgroup>';

                    content += '<p class="date" style="text-align:left;">'
                    content += '<time datetime="2013-01-21">'
                    content += new Date(data.model[i].OnPublished).format("dd/mm/yyyy");
                    content += '</time>'
                    content += '</p>'
                    if (data.model[i].Image != '') {
                        content += '<img alt="(Ảnh minh họa)" src="' + data.model[i].Image + '" style="BORDER: 0px solid; width:120px; height:80px; float:left; margin-right:5px">'

                    }

                    content += '<p style="line-height: 15px;">';
                    content += data.model[i].Abstract;
                    content += '</p>';


                    content += '</article>';
                } else {
                    content += '<article>';
                    content += '<hgroup>';
                    content += '<h4 class="title"><a href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                    content += '</hgroup>';
                    content += '<p class="date" style="text-align:left;">'
                    content += '<time datetime="2013-01-21">'
                    content += new Date(data.model[i].OnPublished).format("dd/mm/yyyy");
                    content += '</time>'
                    content += '</p>'
                    if (data.model[i].Image != '') {
                        content += '<img alt="(Ảnh minh họa)" src="' + data.model[i].Image + '" style="BORDER: 0px solid; width:120px; height:80px; float:left; margin-right:5px">'

                    }
                    content += '<p style="line-height: 15px;">';
                    content += data.model[i].Abstract;
                    content += '</p>';
                    content += '</article>';
                }
            }
              
            $('#tin-chuyen-muc-content').html(content);
        });

        $.get(appConfig.apiHostUrl + "/api/News/getHomeNewsByCate?id=2&number=3", function (data, status) {
            var content = '';
            for (var i = 0; i < data.model.length; i++) {
                if (i != data.model.length - 1) {
                    content += '<article class="border-dot">';
                    content += '<hgroup>';
                    content += '<h4 class="title"><a href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                    content += '</hgroup>';
                    content += '<p class="date" style="text-align:left;">'
                    content += '<time datetime="2013-01-21">'
                    content += new Date(data.model[i].OnPublished).format("dd/mm/yyyy");
                    content += '</time>'
                    content += '</p>'
                    if (data.model[i].Image != '') {
                        content += '<img alt="(Ảnh minh họa)" src="' + data.model[i].Image + '" style="BORDER: 0px solid; width:120px; height:80px; float:left; margin-right:5px">'

                    }
                    content += '<p style="line-height: 15px;">';
                    content += data.model[i].Abstract;
                    content += '...</p>';
                    content += '</article>';
                } else {
                    content += '<article>';
                    content += '<hgroup>';
                    content += '<h4 class="title"><a href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                    content += '</hgroup>';
                    content += '<p class="date" style="text-align:left;">'
                    content += '<time datetime="2013-01-21">'
                    content += new Date(data.model[i].OnPublished).format("dd/mm/yyyy");
                    content += '</time>'
                    content += '</p>'
                    if (data.model[i].Image != '') {
                        content += '<img alt="(Ảnh minh họa)" src="' + data.model[i].Image + '" style="BORDER: 0px solid; width:120px; height:80px; float:left; margin-right:5px">'

                    }
                    content += '<p style="line-height: 15px;">';
                    content += data.model[i].Abstract;
                    content += '...</p>';
                    content += '</article>';
                }

            }
            $('#tin-moi-content').html(content);
        });

        $.get(appConfig.apiHostUrl + "/api/News/getHomeNewsByCate?id=14&number=3", function (data, status) {
            var content = '';
            for (var i = 0; i < data.model.length; i++) {
                if (i != data.model.length - 1) {
                    content += '<article class="border-dot">';
                    content += '<hgroup>';
                    content += '<h4 class="title"><a href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                    content += '</hgroup>';
                    content += '<p class="date" style="text-align:left;">'
                    content += '<time datetime="2013-01-21">'
                    content += new Date(data.model[i].OnPublished).format("dd/mm/yyyy");
                    content += '</time>'
                    content += '</p>'
                    if (data.model[i].Image != '') {
                        content += '<img alt="(Ảnh minh họa)" src="' + data.model[i].Image + '" style="BORDER: 0px solid; width:120px; height:80px; float:left; margin-right:5px">'

                    }
                    content += '<p style="line-height: 15px;">';
                    content += data.model[i].Abstract;
                    content += '</p>';
                    content += '</article>';
                } else {
                    content += '<article>';
                    content += '<hgroup>';
                    content += '<h4 class="title"><a href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                    content += '</hgroup>';
                    content += '<p class="date" style="text-align:left;">'
                    content += '<time datetime="2013-01-21">'
                    content += new Date(data.model[i].OnPublished).format("dd/mm/yyyy");
                    content += '</time>'
                    content += '</p>'
                    if (data.model[i].Image != '') {
                        content += '<img alt="(Ảnh minh họa)" src="' + data.model[i].Image + '" style="BORDER: 0px solid; width:120px; height:80px; float:left; margin-right:5px">'

                    }
                    content += '<p style="line-height: 15px;">';
                    content += data.model[i].Abstract;
                    content += '</p>';
                    content += '</article>';
                }
            }
            $('#tin-xem-nhieu-content').html(content);
        });
    </script>
}