@{
    ViewData["Title"] = "Cổng thông tin bộ tài nguyên và môi trường";
    Layout = "_HomeLayout";
    var url = ViewData["map"];
}

@section Styles {
    
    <style>
        .view_all {
            color: #282828;
            font-size: 12px;
            text-transform: lowercase;
            font-weight: normal;
            text-decoration: none;
            background: url(../images/bg_view_all.png) no-repeat 0 -48px;
            padding-left: 11px;
            display: inline-block;
            zoom: 1;
            *display: inline;
        }

            .view_all span {
                background: url(../images/bg_view_all.png) no-repeat 100% -24px;
                cursor: pointer;
                padding-right: 11px;
                display: inline-block;
                zoom: 1;
                *display: inline;
            }

                .view_all span span {
                    background: url(../images/bg_view_all.png) repeat-x 0 0;
                    height: 24px;
                    line-height: 24px;
                    padding: 0;
                }

        .block a {
            color: #282828;
            text-decoration: none;
        }


    </style>
}
<!-- left sidebar -->
<!-- end left sidebar -->
<!-- content -->
<div id="content" class="container">
    <div class="region row">
        <div class="col-sm-8">
            <section class="block_business_news block">
                <h3 class="block_title_black">PHẢN ÁNH KIẾN NGHỊ<a href="/home/tracuu" class="view_all"><span><span>Tra cứu</span></span></a></h3>

                <div id="lstGopy">

                </div>
            </section>
        </div>
        <div class="col-sm-4">
            <section class="block block_business_news">
                <h3 class="block_title_black">TIN TRUYỀN THÔNG<a href="/home/news" class="view_all"><span><span>Tất cả tin</span></span></a></h3>


                <ul id="truyen-thong-news-content"></ul>

            </section>
        </div>


    </div>
    <div class="region row">
        <div class="col-sm-8">
            <section class="block_business_news block">
                <h3 class="block_title_black">THÔNG TIN QUAN TRẮC</h3>

                <aside id="block_weather" class="block">
                    <div class="content">
                        <div id="chart_div"> </div>
                        <div class="sc-iRbamj gRGzsx" style="position: relative; top: 6px; right: 6px;"><div><span class="sc-jlyJG kgyyWB">Thang đo VN AQI</span></div><div style="flex: 1 1 0%; display: flex; flex-direction: row;"><div style="width: 90px; display: flex; flex-direction: column;"><div style="height: 5px; background: rgb(0, 228, 0);"></div><div style="color: rgb(51, 51, 51); font-weight: 550; justify-content: center; align-items: center; text-align: center;"><span class="sc-gipzik kVTgJc" style="margin-right: 2px;">0 – 50</span><span class="sc-gipzik zJvnp" font-size="6"> (Tốt)</span></div></div><div style="width: 90px; display: flex; flex-direction: column;"><div style="height: 5px; background: rgb(255, 255, 0);"></div><div style="color: rgb(51, 51, 51); font-weight: 550; justify-content: center; align-items: center; text-align: center;"><span class="sc-gipzik kVTgJc" style="margin-right: 2px;">51 – 100</span><span class="sc-gipzik zJvnp" font-size="6"> (Trung bình)</span></div></div><div style="width: 90px; display: flex; flex-direction: column;"><div style="height: 5px; background: rgb(255, 126, 0);"></div><div style="color: rgb(51, 51, 51); font-weight: 550; justify-content: center; align-items: center; text-align: center;"><span class="sc-gipzik kVTgJc" style="margin-right: 2px;">101 – 200</span><span class="sc-gipzik zJvnp" font-size="6"> (Kém)</span></div></div><div style="width: 90px; display: flex; flex-direction: column;"><div style="height: 5px; background: rgb(255, 0, 0);"></div><div style="color: rgb(51, 51, 51); font-weight: 550; justify-content: center; align-items: center; text-align: center;"><span class="sc-gipzik kVTgJc" style="margin-right: 2px;">201 – 300</span><span class="sc-gipzik zJvnp" font-size="6"> (Xấu)</span></div></div><div style="width: 90px; display: flex; flex-direction: column;"><div style="height: 5px; background: rgb(126, 0, 35);"></div><div style="color: rgb(51, 51, 51); font-weight: 550; justify-content: center; align-items: center; text-align: center;"><span class="sc-gipzik kVTgJc" style="margin-right: 2px;">Trên 300</span><span class="sc-gipzik zJvnp" font-size="6"> (Nguy hại)</span></div></div></div></div>
                    </div>
                </aside>

            </section>
        </div>
        <div class="col-sm-4">
            <section class="block block_business_news">
                <h3 class="block_title_black">VĂN BẢN<a href="/news/vanban" class="view_all"><span><span>Tất cả văn bản</span></span></a></h3>


                <ul id="van-ban-chinh-sach-from-second"></ul>


            </section>
        </div>


    </div>
    <div class="region row" id="home_video">
        <div class="col-sm-8">
            <section class="block_business_news block">
                <h3 class="block_title_black">VIDEO<a href="/news/video" class="view_all"><span><span>Tất cả video</span></span></a></h3>

                <aside id="block_front_slides_v" class="block slider" style="height: 100%;">
                    <div class="flexslider slider video_home" id="block_front_slides_video" style="height: 100%;">
                        <ul class="slides" id="contentVideo"></ul>
                    </div>
                    <div class="flexslider carousel" id="block_front_carousel_video">
                        <ul class="slides" id="contentImage"></ul>
                    </div>
                </aside>

            </section>
        </div>

        <div class="col-sm-4">
            <section class="block block_business_news">
                <h3 class="block_title_black">PHẢN ÁNH MÔI TRƯỜNG<a href="/home/news" class="view_all"><span><span>Tất cả tin</span></span></a></h3>


                <div class="">
                    <ul id="phan-anh-moi-truong-content"></ul>
                </div>

            </section>
        </div>


    </div>
    <div class="region row">
        <div class="col-sm-8">
            <section class="block_business_news block">
                <h3 class="block_title_black">HÌNH ẢNH<a href="/news/Images" class="view_all"><span><span>Tất cả hình ảnh</span></span></a></h3>

                <div id="content_top2" style="padding-top: 14px;">
                    <div class="region">
                        <aside id="block_front_slider" class="block slider" style="height: 520px;width: 100%;">
                            <div class="flexslider slider" id="block_front_slides" style="height: 450px;width: 100%;">
                                <ul class="slides" id="home-image-preview"></ul>
                            </div>
                            <div class="flexslider carousel" id="block_front_carousel">
                                <ul class="slides" id="home-image-slide"></ul>
                            </div>
                        </aside>
                    </div>
                </div>

            </section>
        </div>
        <div class="col-sm-4">
            <section class="block block_business_news">
                <h3 class="block_title_black">GIẢI PHÁP SÁNG KIẾN<a href="/home/news" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                <div class="">
                    <div class="">
                        <ul id="giai-phap-sang-kien-content"></ul>
                    </div>
                </div>
            </section>
        </div>


    </div>
</div>

<!-- end content -->
<!-- content bottom -->
<!-- end content bottom -->
<!-- right sidebar -->
@section Scripts {
    <script>
        $('input[type=radio][name=phanloai]').change(function () {
            console.log("radio phan loai change:" + this.value);
            if (this.value != 0) {
                $('#form-phan-loai').css('display', 'none');
            } else {
                $('#form-phan-loai').css('display', '');
            }
        });

    </script>

    <script src="~/js/home/contact.js" asp-append-version="true"></script>
    <script src="~/js/home/home.js" asp-append-version="true"></script>
    <script src="~/js/date.format.js"></script>
    <script>

        $(document).ready(function () {
            getdata();
        });

        function getdata() {
            $.ajax({
                url: appConfig.apiHostUrl + "/api/news/getNewsAno",
                data: {
                    name: $("#inputName").val(),
                    mapakn: $("#inputEmail").val(),
                    sdt: $("#inputSdt").val(),
                },
                success: function (result) {
                    var dataContainer = $("#lstGopy");
                    $('#lstGopy').pagination({
                        dataSource: result,
                        pageSize: 5,
                        showGoInput: true,
                        showGoButton: true,
                        callback: function (data, pagination) {
                            var html = templateData(data, $("#inputEmail").val());
                            dataContainer.html(html);
                        }
                    })
                }
            });
        }
        function templateData(data, mapakn) {

            var html = '';
            for (var i = 0; i < data.length; i++) {
                var noidung = '';
                noidung = data[i].Name;
                var linkDetail = appConfig.current + "/home/DetailTracuu?id=" + data[i].Id;
                if (mapakn !== "" && mapakn !== undefined) {
                    linkDetail += "&mapakn=" + mapakn;
                }

                var dateTime = dateFormat(data[i].OnPublished, "dd/mm/yyyy")
                var content = '<div class="MB20" style="font-size: 14px;">';
                content += '<div class="media-object-default media-object-default1 boT">';
                content += '<div class="media">';
                content += '<div class="media-left"> <a href="' + linkDetail + '"><img class="media-object img-thumbnail img-circle" src="../../images/MediaObj_Placeholder.png" width="80" alt="placeholder image"></a> </div> <div class="media-body">';
                if (data[i].UserFullName == '') {
                    content += '<p class="text-muted" style="margin-bottom:8px;margin-top: 8px;"><a style="color: blue;" href="' + linkDetail + '">' + "Ẩn danh" + '</a> - <i class="MR5 fa fa-clock-o" aria-hidden="true"></i> ' + dateTime + '</p> <h4 class="media-heading">';
                } else {
                    content += '<p class="text-muted" style="margin-bottom:8px;margin-top: 8px;"><a style="color: blue;" href="' + linkDetail + '">' + data[i].UserFullName + '</a> - <i class="MR5 fa fa-clock-o" aria-hidden="true"></i> ' + dateTime + '</p> <h4 class="media-heading">';
                }
                content += '<a href="' + linkDetail + '" class="tieu-de-pakn">Kiến nghị về việc: ' + data[i].Name + '</a></h4>';
                content += '<p class="text-justify"><b>Nội dung kiến nghị:</b> ' + noidung + '</p>';
                content += '</div></div></div></div>';
                html += content;
            }
            return html;
        }

        $.get(appConfig.apiHostUrl + "/api/News/getHomeNewsByCate?number=3", function (data, status) {
            var content = '';
            for (var i = 0; i < data.model.length; i++) {
                content += '<article class="border-dot">';
                content += '<hgroup>';
                content += '<h4 class="title"><a  href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                content += '</hgroup>';
                content += '<p class="date" style="text-align:left;">'
                content += '<time datetime="2013-01-21">'
                content += new Date(data.model[i].OnPublished).format("dd/mm/yyyy");
                content += '</time>'
                content += '</p>'
                if (data.model[i].Image != '') {
                    content += '<img alt="(Ảnh minh họa)" src="' + data.model[i].Image + '" style="BORDER: 0px solid; width:120px; height:80px; float:left; margin-right:5px">'

                }
                content += '<p style="line-height: 15px;">';
                content += data.model[i].Abstract;
                content += '</p>';
                content += '</article>';
            }
            $('#tin-moi-nhat-content').html(content);
        });

        $.get(appConfig.apiHostUrl + "/api/News/getHomeNewsByCate?id=13&number=4", function (data, status) {
            var news = '';

            for (var i = 0; i < data.model.length; i++) {
                news += '<li >';
                news += '<hgroup>';
                news += '<h4 class="title"><a href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                news += '</hgroup>';
                news += '<p class="date" style="text-align:left;">'
                news += '<time datetime="2013-01-21">'
                news += new Date(data.model[i].OnPublished).format("dd/mm/yyyy");
                news += '</time>'
                news += '</p>'
                if (data.model[i].Image != '') {
                    news += '<img alt="(Ảnh minh họa)" src="' + data.model[i].Image + '" style="BORDER: 0px solid; width:120px; height:80px; float:left; margin-right:5px">'

                }
                news += '<p>';
                news += data.model[i].Abstract;
                news += '</p>';
                news += '</li >';
               
            }
            $("#truyen-thong-news-content").html(news);
        });

        $.get(appConfig.apiHostUrl + "/api/News/getHomeNewsByCate?id=1&number=2", function (data, status) {
            var content = '';
            for (var i = 0; i < data.model.length; i++) {
                content += '<li class="first">';
                content += '<article>';
                content += '<hgroup>';
                content += '<h4 class="title"><a href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                content += '</hgroup>';
                content += '<p class="date" style="text-align:left;">'
                content += '<time datetime="2013-01-21">'
                content += new Date(data.model[i].OnPublished).format("dd/mm/yyyy");
                content += '</time>'
                content += '</p>'
                if (data.model[i].Image != '') {
                    content += '<img alt="(Ảnh minh họa)" src="' + data.model[i].Image + '" style="BORDER: 0px solid; width:120px; height:80px; float:left; margin-right:5px">'

                }
                content += '<p>';
                content += data.model[i].Abstract;
                content += '</p>';
                content += '<a style="color: red;text-decoration: underline" href="http://demo.eportal.today/doc/235-qd-btnmt.pdf" target="_blank">Tải xuống Quyết định số 235/QĐ-BTNMT</a>';
                content += '</article>';
                content += '</li>';
            }
            $('#van-ban-chinh-sach-from-second').html(content);
        });

        $.get(appConfig.apiHostUrl + "/api/News/getHomeNewsByCate?id=2&number=3", function (data, status) {
            var content = '';
            for (var i = 0; i < data.model.length; i++) {
                content += '<li class="first">';
                content += '<article>';
                content += '<hgroup>';
                content += '<h4 class="title"><a href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                content += '</hgroup>';
                content += '<p class="date" style="text-align:left;">'
                content += '<time datetime="2013-01-21">'
                content += new Date(data.model[i].OnPublished).format("dd/mm/yyyy");
                content += '</time>'
                content += '</p>'
                if (data.model[i].Image != '') {
                    content += '<img alt="(Ảnh minh họa)" src="' + data.model[i].Image + '" style="BORDER: 0px solid; width:120px; height:80px; float:left; margin-right:5px">'

                }
                content += '<p>';
                content += data.model[i].Abstract;
                content += '</p>';
                content += '</article>';
                content += '</li>';
            }
            $('#phan-anh-moi-truong-content').html(content);
        });

        $.get(appConfig.apiHostUrl + "/api/News/getHomeNewsByCate?id=14&number=4", function (data, status) {
            var content = '';
            for (var i = 0; i < data.model.length; i++) {
                content += '<li>';
                content += '<article>';
                content += '<hgroup>';
                content += '<h4 class="title"><a  href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                content += '</hgroup>';
                content += '<p class="date" style="text-align:left;">'
                content += '<time datetime="2013-01-21">'
                content += new Date(data.model[i].OnPublished).format("dd/mm/yyyy");
                content += '</time>'
                content += '</p>'
                if (data.model[i].Image != '') {
                    content += '<img alt="(Ảnh minh họa)" src="' + data.model[i].Image + '" style="BORDER: 0px solid; width:120px; height:80px; float:left; margin-right:5px">'

                }
                content += '<p>';
                content += data.model[i].Abstract;
                content += '</p>';
                content += '</article>';
                content += '</li>';
            }
            $('#giai-phap-sang-kien-content').html(content);
        });

        //album anhr
        $.get(appConfig.apiHostUrl + "/api/Media/getMedia?type=image&is_publish=1", function (data, status) {
            var preview = '';
            var slide = '';
            for (var i = 0; i < data.length; i++) {
                preview += '<li>';
                preview += '<img src="' + data[i].url + '" height="430" width = "100%"/>';
                preview += '<p class="flex-caption" style="width:100%">';
                preview += data[i].description;
                preview += '</p>';
                preview += '</li>';

                slide += '<li>';
                slide += '<img src="' + data[i].url + '" />';
                slide += '</li>';
            }
            $('#home-image-preview').html(preview);
            $('#home-image-slide').html(slide);
            $('#block_front_slides').flexslider({
                animation: "slide",
                controlNav: false,
                directionNav: false,
                animationLoop: false,
                slideshow: false,
                animationDuration: 1000,
                sync: "#block_front_carousel"
            });

            $('#block_front_carousel').flexslider({
                animation: "slide",
                controlNav: false,
                directionNav: true,
                itemWidth: 120,
                itemMargin: 30,
                animationDuration: 1000,
                asNavFor: '#block_front_slides'
            });
        });
        //album, video

        $.get(appConfig.apiHostUrl + "/api/Media/getMedia?type=video&is_publish=1", function (data, status) {
            var preview = '';
            var slide = '';
            for (var i = 0; i < data.length; i++) {
                preview += '<li> <video style="width: 100%",height="100%" controls> <source src="' + data[i].url + '"> </video> <p class="flex-caption" style="width:100%;">' + data[i].description + '</p> </li>';

                slide += '<li>';
                slide += '<img src="' + data[i].filesImage + '" />';
                slide += '</li>';
            }

            $('#contentVideo').html(preview);
            $('#contentImage').html(slide);
            $('#block_front_slides_video').flexslider({
                animation: "slide",
                controlNav: false,
                directionNav: false,
                animationLoop: false,
                slideshow: false,
                animationDuration: 1000,
                sync: "#block_front_carousel_video"
            });

            $('#block_front_carousel_video').flexslider({
                animation: "slide",
                controlNav: false,
                directionNav: false,
                itemWidth: 120,
                itemMargin: 50,
                animationDuration: 1000,
                asNavFor: '#block_front_slides_video'
            });
        });

    </script>

}
<!-- end right sidebar -->
