@{
    ViewData["Title"] = "Cổng thông tin bộ tài nguyên và môi trường";
    Layout = "_HomeLayout";
}

<div id="page" style="width: 100%;">
    <!-- left sidebar -->
    <!-- end left sidebar -->
    <!-- content -->
    <div id="content" style="width: 100%">
        <div class="region">
            <section class="block_world_news block">
                <h3 class="block_title_black">VIDEO<a href="#" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                <div class="content">
                    
                </div>
            </section>
            <section class="block block_business_news">
                <h3 class="block_title_black">PHẢN ÁNH MÔI TRƯỜNG<a href="#" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                <div class="content">
       
                    <div class="right">
                        <ul>
                            <li class="first">
                                <article>
                                    <hgroup>
                                        <h4 class="title"><a href="#">Điện Biên: Sông Nậm Rốm tiếp tục bị ô nhiễm do sơ chế dong riềng.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-21">
                                            27/7/2018 10:20:35 PM
                                        </time>
                                        <span class="comments_count"><a href="#">10</a></span>
                                    </p>
                                    <p>
                                        ​Giải quyết tình trạng ô nhiễm môi trường do sơ chế dong riềng là vấn đề nóng được chính quyền và các chủ cơ sở sản xuất tại xã Nà Tấu, Nà Nhạn, huyện Điện Biên, tỉnh Điện Biên nhiều năm tìm hướng khắc phục...
                                    </p>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <hgroup>
                                        <h4 class="title"><a href="#">Nam Định: Gây ô nhiễm môi trường, bãi rác bị người dân 'phong tỏa'.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-17">
                                            18/7/2018 5:13:30 PM
                                        </time>
                                        <span class="comments_count"><a href="#">1</a></span>
                                    </p>
                                    <p>
                                        Bức xúc trước việc bãi rác gây ô nhiễm môi trường nghiêm trọng, nhiều người dân đã tiến hành chặn đường, không cho xe vận chuyển rác thải chở rác vào điểm tập kết ...
                                    </p>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <hgroup>
                                        <h4 class="title"><a href="#">Nước biển không ô nhiễm, cá chết hàng loạt dạt bờ biển Đà Nẵng.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-17">
                                            18/7/2018 5:13:30 PM
                                        </time>
                                        <span class="comments_count"><a href="#">1</a></span>
                                    </p>
                                    <p>
                                        Ngày 11-11, Sở Tài nguyên & Môi trường (TN& MT) TP Đà Nẵng đã có báo cáo về việc xử lý tình trạng cá chết trôi dạt vào khu vực bãi biển Liên Chiểu chiều 10-11 khẳng định không có hiện tượng nước xả thải ra biển gây ô nhiễm vùng biển nêu trên...
                                    </p>
                                </article>
                            </li>
                            <li class="last">
                                <article>
                                    <hgroup>
                                        <h4 class="title"><a href="#">Doanh nghiệp dùng phân bón cây, dân kêu trời vì ô nhiễm.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-14">
                                            27/7/2018 10:19:43 PM
                                        </time>
                                        <span class="comments_count"><a href="#">5</a></span>
                                    </p>
                                    <p>
                                        Người dân cho rằng việc Công ty TNHH chăn nuôi Hòa Phát sử dụng phân bò không qua xử lý để trồng cây là nguyên nhân khiến số lượng ruồi tăng đột biến đã làm đảo lộn cuộc sống hàng ngày...
                                    </p>
                                </article>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="region">
            <section class="block_world_news block">
                <h3 class="block_title_black">HÌNH ẢNH<a href="#" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                <div class="content">
                    <div id="content_top" style="padding-top: 14px;">
                        <div class="region">
                            <aside id="block_front_slider" class="block slider" style="height: 520px;width: 620px;padding-right: 28px;">
                                <div class="flexslider slider" id="block_front_slides" style="height: 450px;width: 620px;">
                                    <ul class="slides">
                                        <li>
                                            <img src="~/images/homes/1.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Làng nghề kim khí Đại Tự Nơm nớp nỗi lo ô nhiễm nguồn nước ngầm...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/1.1.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Làng nghề kim khí Đại Tự Nơm nớp nỗi lo ô nhiễm nguồn nước ngầm...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/2.1.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Nước biển không ô nhiễm, cá chết hàng loạt dạt bờ biển Đà Nẵng...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/3.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Doanh nghiệp dùng phân bón cây, dân kêu trời vì ô nhiễm...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/4.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Nam Định: Gây ô nhiễm môi trường, bãi rác bị người dân 'phong tỏa'...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/5.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Điện Biên: Sông Nậm Rốm tiếp tục bị ô nhiễm do sơ chế dong riềng...
                                            </p>
                                        </li>

                                        <li>
                                            <img src="~/images/homes/5.1.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Điện Biên: Sông Nậm Rốm tiếp tục bị ô nhiễm do sơ chế dong riềng...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/6.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Sài Gòn 'nhức óc' bắt quả tang... tiếng ồn...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/6.1.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Sài Gòn 'nhức óc' bắt quả tang... tiếng ồn...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/7.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Trạm trộn bê tông trái phép thách thức chính quyền...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/8.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Báo động môi trường vì chôn lấp rác...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/9.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Ô nhiễm làng nghề - 'căn bệnh nan y' ở Phan Bôi...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/10.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Cảng Sa Kỳ ngập rác...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/11.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Ô nhiễm môi trường nghiêm trọng từ các vườn cây Thanh long...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/12.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Nhà vườn xã Lương Hòa Lạc, huyện Chợ Gạo tự ý để những bao phân gia súc, gia cầm tươi ngay cạnh đường giao thông...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/13.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Đại công trường than trái phép núp bóng dự án nghĩa trang ở Quảng Ninh...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/14.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Đất rừng phòng hộ hồ Yên Lập bị đào bới trái phép...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/15.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                30 ha đất bị đào xới với danh nghĩa phục vụ dự án nghĩa trang...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/16.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Hàng trăm tấn cá bè ở Tiền Giang chết là do thiếu ôxy?...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/16.1.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Hàng trăm tấn cá bè ở Tiền Giang chết là do thiếu ôxy?...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/16.2.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Hàng trăm tấn cá bè ở Tiền Giang chết là do thiếu ôxy?...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/17.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Khánh Hòa: Nước thải đen ngòm, thối nực trời, dân ngán ngẩm...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/17.1.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Khánh Hòa: Nước thải đen ngòm, thối nực trời, dân ngán ngẩm...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/17.2.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Khánh Hòa: Nước thải đen ngòm, thối nực trời, dân ngán ngẩm...
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="flexslider carousel" id="block_front_carousel">
                                    <ul class="slides">
                                        <li>
                                            <img src="~/images/homes/1.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/1.1.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/2.1.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/3.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/4.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/5.jpg" />
                                        </li>

                                        <li>
                                            <img src="~/images/homes/5.1.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/6.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/6.1.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/7.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/8.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/9.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/10.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/11.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/12.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/13.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/14.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/15.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/16.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/16.1.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/16.2.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/17.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/17.1.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/17.2.jpg" />
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                            

                        </div>
                    </div>
                </div>
            </section>
            <section class="block block_business_news">
                <h3 class="block_title_black">GIẢI PHÁP SÁNG KIẾN<a href="#" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                <div class="content">
                    <div class="right">
                        <ul>
                            <li class="first">
                                <article>
                                    <hgroup>
                                        <h4 class="title"><a href="#">Cần quan trắc để đánh giá chính xác được nguồn thải ra sông Cầu.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-21">
                                            27/7/2018 10:20:35 PM
                                        </time>
                                        <span class="comments_count"><a href="#">10</a></span>
                                    </p>
                                    <p>
                                        Đặt câu hỏi với Bộ trưởng, đại biểu Leo Thị Lịch (Đoàn ĐBQH tỉnh Bắc Giang) nêu vấn đề: Những năm gần đây, dòng sông Cầu đang dần bị ô nhiễm do phát triển kinh tế bất chấp...
                                    </p>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <hgroup>
                                        <h4 class="title"><a href="#">Xử lý các cơ sở gây ô nhiễm nghiêm trọng chậm do thiếu vốn.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-17">
                                            18/7/2018 5:13:30 PM
                                        </time>
                                        <span class="comments_count"><a href="#">1</a></span>
                                    </p>
                                    <p>
                                        Bộ trưởng Trần Hồng Hà cho biết, xử lý các cơ sở gây ô nhiễm môi trường nghiêm trọng là vấn đề lớn, nhiều năm nay, Chính phủ đã quyết tâm ...
                                    </p>
                                </article>
                            </li>
                            <li class="last">
                                <article>
                                    <hgroup>
                                        <h4 class="title"><a href="#">Ban hành tiêu chí xác định sản phẩm sản xuất từ hoạt động tái chế.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-14">
                                            27/7/2018 10:19:43 PM
                                        </time>
                                        <span class="comments_count"><a href="#">5</a></span>
                                    </p>
                                    <p>
                                        Phó Thủ tướng Chính phủ Vương Đình Huệ vừa có ý kiến chỉ đạo về việc thuế xuất khẩu đối với sản phẩm sản xuất từ hoạt động tái chế, xử lý chất thải....
                                    </p>
                                </article>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- end content -->
    <!-- content bottom -->
    
    <!-- end content bottom -->
</div>
<!-- right sidebar -->

   

@section Scripts {
    <script src="~/js/home/contact.js" asp-append-version="true"></script>
}

<!-- end right sidebar -->