@{
    ViewData["Title"] = "Cổng thông tin bộ tài nguyên và môi trường";
    Layout = "_HomeLayout";
    var url = ViewData["map"];
}

@model NewsViewModel2
@{
    ViewData["Title"] = "THÔNG TIN TRAO ĐỔI (GÓP Ý, PHẢN ÁNH, HỎI ĐÁP)";
    var formView = "frm_contact";
    var data = ViewData["data"];
}

<!-- Core CSS  -->
<link href="~/lib/kendo-ui/styles/kendo.common.min.css" rel="stylesheet" asp-append-version="true" />
<link href="~/lib/kendo-ui/styles/kendo.default.min.css" rel="stylesheet" asp-append-version="true" />
<!-- blueimp Gallery styles -->
<link rel="stylesheet" href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css" crossorigin="anonymous">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="~/css/jquery.fileupload.css">
<link rel="stylesheet" href="~/css/jquery.fileupload-ui.css">
<style>

    .k-editor .k-i-insert-video:before {
        font-family: FontAwesome;
        content: "\f167";
        font-size: 16px;
    }

    .form-group select {
        height: 30px;
    }

    .row {
        margin: 0 !important;
    }

    #header {
        height: 204px !important;
    }

    #block_main_menu li span {
        height: 30px !important;
    }

    #block_main_menu .inner ul {
        margin-bottom: 0 !important;
    }

    #block-search-form .form-text {
        margin-top: 0 !important;
    }

    .col-sm-8 .block {
        width: 100% !important;
    }

    .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
        margin-top: -0.5px;
    }

    #comment_form label, #contact_form2 label {
        width: 100%;
        float: left;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 600;
        display: inline-block;
    }
</style>
<!-- Modal -->
<div id="myModal" class="modal fade content" role="dialog">
    <div class="modal-dialog" style="max-width: 1000px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="display: flex;">
                <div id="contact_form" class="row box-KN">

                    <form id="frm_contact" class="needs-validation" method="post">
                        <div class="row">
                            <p style="font-weight: 600;line-height: 20px;">THÔNG TIN TỔ CHỨC VÀ CÁ NHÂN</p>
                            <div float: left;" class="col-sm-12">

                                <div class="form-check" style="margin-left:15px;margin-top:5px; margin-bottom:3px;">
                                    <input class="form-check-input" style="margin-top:0px;" type="radio" name="doituong" id="doituong0" value="0" checked>
                                    <label class="form-check-label" style="width:50%;float:inherit;" for="doituong0">
                                        Cá nhân
                                    </label>
                                </div>

                                <div class="form-check" style="margin-left:15px;margin-bottom:3px;">
                                    <input class="form-check-input" style="margin-top:0px;" type="radio" name="doituong" id="doituong1" value="1">
                                    <label class="form-check-label" style="width:50%;float:inherit;" for="doituong1">
                                        Tổ chức
                                    </label>
                                </div>


                                <label for="UserFullName" class="col-sm-3 control-label">Tên tổ chức, cá nhân <span style="color: red">*</span>:</label>
                                <div class="col-sm-12" id="aui_3_4_0_1_495">
                                    <span id="senderName_error"></span>
                                    <input type="text" class="form-control aui-text-placeholder" asp-for="UserFullName" placeholder="Nhập tên tổ chức, cá nhân">
                                </div>

                                <div class="col-sm-12" style="padding: 0">
                                    <div class="col-md-6">
                                        <label for="UserAddress" class="control-label col-sm-3" style="padding-left:0px;">Điện thoại <span style="color: red">*</span>:</label>
                                        <div class="col-sm-12" style="padding: 0" id="aui_3_4_0_1_495"> <span id="senderName_error"></span> <input type="text" class="form-control aui-text-placeholder" asp-for="UserPhone" required placeholder="Điện thoại"> </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="UserEmail" class="control-label col-sm-3" style="padding-left:0px;">Thư điện tử <span style="color: red">*</span>:</label>
                                        <div class="col-sm-12" style="padding: 0" id="aui_3_4_0_1_495"> <span id="senderName_error"></span> <input type="text" class="form-control aui-text-placeholder" asp-for="UserEmail" required placeholder="Địa chỉ hòm thư liên lạc"> </div>
                                    </div>
                                </div>

                                <label for="UserAddress" class="control-label col-sm-3">Địa chỉ <span style="color: red">*</span>:</label>
                                <div class="col-sm-12"> <span id="senderName_error"></span> <input type="text" class="form-control aui-text-placeholder" asp-for="UserAddress" required placeholder="Địa chỉ"> </div>

                                <div class="col-sm-12" id="aui_3_4_0_1_495">
                                    <div class="form-group row">
                                        <select id="thanhpho" required class="col-sm-4">
                                            <option selected disabled>- Tỉnh thành -</option>
                                        </select>
                                        <select id="quantp" class="col-sm-4">
                                            <option selected disabled>- Quận/huyện -</option>
                                        </select>
                                        <select id="huyen" class="col-sm-4">
                                            <option selected disabled>- Phường xã -</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <p style="font-weight: 600;margin-top: 20px;margin-bottom:20px;">NỘI DUNG TRAO ĐỔI</p>


                            <div class="form-check" style="margin-left:30px; margin-top:-10px; margin-bottom:3px;">
                                <input class="form-check-input" style="margin-top:0px;" type="radio" name="phanloai" id="exampleRadios0" value="6" checked>
                                <label class="form-check-label" style="width:90%;float:inherit;" for="exampleRadios0">
                                    Ô nhiễm môi trường
                                </label>
                            </div>

                            <div class="form-check" style="margin-left:30px;margin-bottom:3px;">
                                <input class="form-check-input" style="margin-top:0px;" type="radio" name="phanloai" id="exampleRadios1" value="7">
                                <label class="form-check-label" style="width:90%;float:inherit;" for="exampleRadios1">
                                    Cơ chế chính sách
                                </label>
                            </div>

                            <div class="form-check" style="margin-left:30px;margin-bottom:3px;">
                                <input class="form-check-input" style="margin-top:0px;" type="radio" name="phanloai" id="exampleRadios2" value="8">
                                <label class="form-check-label" style="width:90%;float:inherit;" for="exampleRadios2">
                                    Giải pháp sáng kiến BVMT
                                </label>
                            </div>


                            <div class="col-sm-12">
                                <div class="form-item col-sm-12">
                                    <label asp-for="Name" class="control-label">Tiêu đề <span style="color: red">*</span>:</label>
                                    <input asp-for="Name" class="form-control aui-text-placeholder" required placeholder="Tiêu đề phản ánh" />
                                    <span asp-validation-for="Name" class="form-required"></span>
                                </div>
                                <div id="form-phan-loai">
                                    <div class="form-item col-sm-12">
                                        <label asp-for="Link" class="control-label">Địa điểm <span style="color: red">*</span>:</label>
                                        <input asp-for="Link" class="form-control aui-text-placeholder" id="address_map" required placeholder="Địa điểm diễn ra" />


                                        <input type="hidden" id="lat" name="lat" />
                                        <input type="hidden" id="lng" name="lng" />
                                        <span asp-validation-for="Link" class="form-required"></span>
                                    </div>

                                    <div class="form-item col-sm-12">
                                        <label asp-for="TenCaNhanToChuc" class="control-label">Tên tổ chức, tác nhân gây ô nhiễm:</label>
                                        <input asp-for="TenCaNhanToChuc" class="form-control aui-text-placeholder" placeholder="Tên tổ chức, các nhân gây ô nhiễm" />
                                        <span asp-validation-for="TenCaNhanToChuc" class="form-required"></span>
                                    </div>

                                    <div class="form-item col-sm-12">
                                        <label asp-for="Thoigianxayra" class="control-label">Thời gian xảy ra hoặc phát hiện ô nhiễm:</label>
                                        <input asp-for="Thoigianxayra" type="date" class="form-control aui-text-placeholder" placeholder="Thời gian xảy ra hoặc phát hiện ô nhiễm" />
                                        <span asp-validation-for="Thoigianxayra" class="form-required"></span>
                                    </div>
                                </div>


                                <div class="form-item col-sm-12" style="display: none;">
                                    <label asp-for="Abstract" class="control-label">Tóm tắt:</label>
                                    <textarea style="width:100%; height:150px" rows="10" asp-for="Abstract" class="form-text"></textarea>
                                </div>

                                <div class="form-item col-sm-12">
                                    <label asp-for="Content" class="control-label">Nội dung trao đổi <span style="color: red">*</span>:</label>
                                    <textarea style="width:100%; height:400px" rows="10" asp-for="Content" class="form-text" required></textarea>
                                    <span asp-validation-for="Content" class="form-required"></span>
                                </div>
                            </div>

                            <div class="row" style="padding: 0px 0px 0px 35px; display: flex;">
                                <div id="captcha">
                                </div>
                                <span onclick="createCaptcha()" style=" font-size: 30px; font-weight: 900; color: red; padding: 0 10px;cursor: pointer " class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                <br />
                            </div>
                            <div class="row" style=" padding: 5px 0px 0px 20px; display: flex; ">
                                <div class="form-item col-sm-12">
                                    <label class="control-label">Nhập mã bảo mật:</label>
                                    <input type="text" style="width: 150px" class="form-control aui-text-placeholder" placeholder="Mã bảo mật" id="cpatchaTextBox" />
                                </div>
                            </div>
                        </div>
                        <div class="form-item">
                            <div asp-validation-summary="All" class="form-required"></div>
                        </div>
                    </form>
                    <div class="form-group" style="width: 100%;">
                        <label style="padding: 10px;" for="recipient-name" class="col-form-label">Tài liệu đình kèm:</label>


                        <form id="fileupload" method="POST" enctype="multipart/form-data">
                            <!-- Redirect browsers with JavaScript disabled to the origin page -->
                            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                            <div class="row fileupload-buttonbar">
                                <div class="col-lg-6">
                                    <!-- The fileinput-button span is used to style the file input field as button -->
                                    <span class="btn btn-success fileinput-button">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>Thêm tệp tin...</span>
                                        <input type="file" name="files" multiple>
                                    </span>
                                    <!-- The global file processing state -->
                                    <span class="fileupload-process"></span>
                                </div>
                                <div class="col-lg-6" style="line-height:16px;">
                                    Chỉ nhận file mp4, mov, wmv, jpg, png, pdf, doc, docx, xls, xlsx (Tối đa 5 file)
                                </div>
                                <!-- The global progress state -->
                                <div class="col-lg-5 fileupload-progress fade">
                                    <!-- The global progress bar -->
                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                    </div>
                                    <!-- The extended global progress state -->
                                    <div class="progress-extended">&nbsp;</div>
                                </div>
                            </div>
                            <!-- The table listing the files available for upload/download -->
                            <table id="filebaocao" role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                        </form>
                    </div>


                    <div class="form-group" style="margin-bottom:20px;"> <label for="inputEmail3" class="col-sm-3 control-label"></label> <div class="col-sm-9"> <button type="submit" onclick="onCompleted()" class="btn btn-primary" style="margin-bottom: 10px;"><i class="MR5 fa fa-paper-plane" aria-hidden="true"></i>Gửi phản ánh, kiến nghị</button> </div> </div>

                </div>
            </div>
        </div>

    </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlLvJ9NzDhCd9z-urxEAe83JGCqv1G0TI&libraries=places&callback=googleInput2" async defer></script>



@section Styles {
    <style>
        .pac-container {
            z-index: 90000000 !important;
        }
    </style>

    <style>
        .view_all {
            color: #282828;
            font-size: 12px;
            text-transform: lowercase;
            font-weight: normal;
            text-decoration: none;
            background: url(../images/bg_view_all.png) no-repeat 0 -48px;
            padding-left: 11px;
            display: inline-block;
            zoom: 1;
            *display: inline;
        }

            .view_all span {
                background: url(../images/bg_view_all.png) no-repeat 100% -24px;
                cursor: pointer;
                padding-right: 11px;
                display: inline-block;
                zoom: 1;
                *display: inline;
            }

                .view_all span span {
                    background: url(../images/bg_view_all.png) repeat-x 0 0;
                    height: 24px;
                    line-height: 24px;
                    padding: 0;
                }

        .block a {
            color: #282828;
            text-decoration: none;
        }
    </style>
}

<!-- content -->
<div id="content" class="container" style="margin-top: 40px">

    <div class="region row">
        <div class="col-sm-8">
            <section class="block_business_news block">
                <h3 class="block_title_black">GÓP Ý, PHẢN ÁNH</h3>

                <div id="contact_form2" class="row box-KN" style="padding: 5px">
                    <p style="font-weight: 600">&nbsp; THÔNG TIN TỔ CHỨC VÀ CÁ NHÂN</p>
                    <div class="row" style="margin-bottom: 10px !important">

                        <div class="col-sm-12" id="aui_3_4_0_1_495">
                            <div class="radio">
                                <label><input type="radio" value="0" name="doituong" checked>Cá nhân</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" value="1" name="doituong">Tổ chức</label>
                            </div>
                        </div>


                        <label for="UserFullName" class="col-sm-6 control-label">Tên tổ chức, cá nhân <span style="color: red">*</span>:</label>
                        <div class="col-sm-12" id="aui_3_4_0_1_495">
                            <span id="senderName_error"></span>
                            <input type="text" class="form-control aui-text-placeholder" asp-for="UserFullName" placeholder="Nhập tên tổ chức, cá nhân">
                        </div>

                        <div class="col-sm-12" style="padding: 0">
                            <div class="col-md-6">
                                <label for="UserAddress" class="control-label col-sm-6" style="padding-left:0px;">Điện thoại <span style="color: red">*</span>:</label>
                                <div class="col-sm-12" style="padding: 0" id="aui_3_4_0_1_495"> <span id="senderName_error"></span> <input type="text" class="form-control aui-text-placeholder" asp-for="UserPhone" required placeholder="Điện thoại"> </div>
                            </div>
                            <div class="col-md-6">
                                <label for="UserEmail" class="control-label col-sm-6" style="padding-left:0px;">Thư điện tử <span style="color: red">*</span>:</label>
                                <div class="col-sm-12" style="padding: 0" id="aui_3_4_0_1_495"> <span id="senderName_error"></span> <input type="text" class="form-control aui-text-placeholder" asp-for="UserEmail" required placeholder="Địa chỉ hòm thư liên lạc"> </div>
                            </div>
                        </div>

                        <label for="UserAddress" class="control-label col-sm-3">Địa chỉ <span style="color: red">*</span>:</label>
                        <div class="col-sm-12"> <span id="senderName_error"></span> <input type="text" class="form-control aui-text-placeholder" asp-for="UserAddress" required placeholder="Địa chỉ"> </div>

                        <div class="col-sm-12" id="aui_3_4_0_1_495">
                            <div class="form-group row">
                                <select id="thanhpho" required class="col-sm-4">
                                    <option selected disabled>- Tỉnh thành -</option>
                                </select>
                                <select id="quantp" class="col-sm-4">
                                    <option selected disabled>- Quận/huyện -</option>
                                </select>
                                <select id="huyen" class="col-sm-4">
                                    <option selected disabled>- Phường xã -</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <p style="font-weight: 600;margin-bottom:10px;">&nbsp; NỘI DUNG TRAO ĐỔI</p>
                    
                    <div class="row" >
                        <div class="form-check" style="margin-left:30px; margin-bottom:3px;">
                            <input class="form-check-input" style="margin-top:0px;" type="radio" value="0" checked>
                            <label class="form-check-label" style="width:90%;float:inherit;">
                                Ô nhiễm môi trường
                            </label>
                        </div>

                        <div class="form-check" style="margin-left:30px;margin-bottom:3px;">
                            <input class="form-check-input" style="margin-top:0px;" type="radio"value="1">
                            <label class="form-check-label" style="width:90%;float:inherit;">
                                Cơ chế chính sách
                            </label>
                        </div>

                        <div class="form-check" style="margin-left:30px;margin-bottom:3px;">
                            <input class="form-check-input" style="margin-top:0px;" type="radio" value="2">
                            <label class="form-check-label" style="width:90%;float:inherit;" >
                                Giải pháp sáng kiến BVMT
                            </label>
                        </div>
                        <label for="UserEmail" class="control-label col-sm-3">Tiêu đề</label>
                        <div class="col-sm-12"> <span id="senderName_error"></span> <input type="text" class="form-control aui-text-placeholder" asp-for="UserEmail" required placeholder="Tiêu đề"> </div>

                        
                    </div>
                </div>
            </section>
            <section class="block_business_news block">
                <h3 class="block_title_black">PHẢN ÁNH, KIẾN NGHỊ ĐÃ TRẢ LỜI<a href="/home/tracuu" class="view_all"><span><span>Tra cứu</span></span></a></h3>

                <div id="lstGopy">

                </div>
            </section>
            <section class="block_business_news block">
                <h3 class="block_title_black">CHẤT LƯỢNG MÔI TRƯỜNG<a href="/home/ttquantrac" class="view_all"><span><span>Xem chi tiết</span></span></a></h3>

                <aside id="block_weather" class="block">
                    <div class="content">
                        <div id="chart_div"> </div>
                        <div class="sc-iRbamj gRGzsx" style="position: relative; top: 6px; right: 6px;"><div><span class="sc-jlyJG kgyyWB">Thang đo VN AQI</span></div><div style="flex: 1 1 0%; display: flex; flex-direction: row;"><div style="width: 90px; display: flex; flex-direction: column;"><div style="height: 5px; background: rgb(0, 228, 0);"></div><div style="color: rgb(51, 51, 51); font-weight: 550; justify-content: center; align-items: center; text-align: center;"><span class="sc-gipzik kVTgJc" style="margin-right: 2px;">0 – 50</span><span class="sc-gipzik zJvnp" font-size="6"> (Tốt)</span></div></div><div style="width: 90px; display: flex; flex-direction: column;"><div style="height: 5px; background: rgb(255, 255, 0);"></div><div style="color: rgb(51, 51, 51); font-weight: 550; justify-content: center; align-items: center; text-align: center;"><span class="sc-gipzik kVTgJc" style="margin-right: 2px;">51 – 100</span><span class="sc-gipzik zJvnp" font-size="6"> (Trung bình)</span></div></div><div style="width: 90px; display: flex; flex-direction: column;"><div style="height: 5px; background: rgb(255, 126, 0);"></div><div style="color: rgb(51, 51, 51); font-weight: 550; justify-content: center; align-items: center; text-align: center;"><span class="sc-gipzik kVTgJc" style="margin-right: 2px;">101 – 200</span><span class="sc-gipzik zJvnp" font-size="6"> (Kém)</span></div></div><div style="width: 90px; display: flex; flex-direction: column;"><div style="height: 5px; background: rgb(255, 0, 0);"></div><div style="color: rgb(51, 51, 51); font-weight: 550; justify-content: center; align-items: center; text-align: center;"><span class="sc-gipzik kVTgJc" style="margin-right: 2px;">201 – 300</span><span class="sc-gipzik zJvnp" font-size="6"> (Xấu)</span></div></div><div style="width: 90px; display: flex; flex-direction: column;"><div style="height: 5px; background: rgb(126, 0, 35);"></div><div style="color: rgb(51, 51, 51); font-weight: 550; justify-content: center; align-items: center; text-align: center;"><span class="sc-gipzik kVTgJc" style="margin-right: 2px;">Trên 300</span><span class="sc-gipzik zJvnp" font-size="6"> (Nguy hại)</span></div></div></div></div>
                    </div>
                </aside>

            </section>
            <section class="block_business_news block">
                <h3 class="block_title_black">VIDEO<a href="/news/video" class="view_all"><span><span>Tất cả video</span></span></a></h3>

                <aside id="block_front_slides_v" class="block slider" style="height: 100%;">
                    <div class="flexslider slider video_home" id="block_front_slides_video" style="height: 100%;">
                        <ul class="slides" id="contentVideo"></ul>
                    </div>
                    <div class="flexslider carousel" id="block_front_carousel_video">
                        <ul class="slides" id="contentImage"></ul>
                    </div>
                </aside>

            </section>
            <section class="block_business_news block">
                <h3 class="block_title_black">HÌNH ẢNH<a href="/news/Images" class="view_all"><span><span>Tất cả hình ảnh</span></span></a></h3>

                <div id="content_top2" style="padding-top: 14px;">
                    <div class="region">
                        <aside id="block_front_slider" class="block slider" style="height: 520px;width: 100%;">
                            <div class="flexslider slider" id="block_front_slides" style="height: 450px;width: 100%;">
                                <ul class="slides" id="home-image-preview"></ul>
                            </div>
                            <div class="flexslider carousel" id="block_front_carousel">
                                <ul class="slides" id="home-image-slide"></ul>
                            </div>
                        </aside>
                    </div>
                </div>

            </section>
        </div>
        <div class="col-sm-4">
            <section class="block block_business_news">
                <h3 class="block_title_black">TIN TRUYỀN THÔNG<a href="/home/news" class="view_all" style="opacity: 0.5;"><span><span>Tất cả tin</span></span></a></h3>

                <div id="truyen-thong-news-content">


                </div>

            </section>
            <section class="block block_business_news">
                <h3 class="block_title_black">BẢN ĐỒ MÔI TRƯỜNG<a href="/home/map" target="_blank" class="view_all"><span><span>Xem bản đồ</span></span></a></h3>

                <a href="/home/map" target="_blank"><img style="margin-bottom:3px;" src="~/images/banner-home/ban-do-moi-truong.jpg" /></a>
                
            </section>
            <section class="block block_business_news">

                <h3 class="block_title_black">VĂN BẢN<a href="/news/vanban" class="view_all"><span><span>Tất cả văn bản</span></span></a></h3>
                <ul id="home-vanban">
                 
                </ul>

            </section>

            <section class="block block_business_news">
                <h3 class="block_title_black">LIÊN KẾT</h3>
                <a href="http://www.monre.gov.vn" target="_blank"><img style="margin-bottom:3px;" src="~/images/banner-home/bo-tn-va-mt.PNG" /></a>
                <a href="http://vea.gov.vn/vn/Pages/trangchu.aspx" target="_blank"><img style="margin-bottom:3px;" src="~/images/banner-home/tong-cuc-moi-truong.png" /></a>
                <a href="http://tapchimoitruong.vn/pages/home.aspx" target="_blank"><img style="margin-bottom:3px;" src="~/images/banner-home/tap-chi-moi-truong.png" /></a>

            </section>
        </div>

    </div>
    <div class="region row">
        <div class="col-sm-8">
            
        </div>
        <div class="col-sm-4">
            
        </div>
    </div>
    <div class="region row" id="home_video">
        <div class="col-sm-8">
           
        </div>

    </div>
    <div class="region row">
        <div class="col-sm-8">
           
        </div>
    </div>
</div>

<!-- end content -->
<!-- content bottom -->
<!-- end content bottom -->
<!-- right sidebar -->
@section Scripts {
    <script>
        $(document).ready(
            function () {
                $('[data-toggle="tooltip"]').tooltip();
            }
        );
    </script>

    <script>
        $('input[type=radio][name=phanloai]').change(function () {
            console.log("radio phan loai change:" + this.value);
            if (this.value != 6) {
                $('#form-phan-loai').css('display', 'none');
            } else {
                $('#form-phan-loai').css('display', '');
            }
        });

    </script>

    <script src="~/js/home/contact.js" asp-append-version="true"></script>
    <script src="~/js/home/home.js" asp-append-version="true"></script>
    <script src="~/js/date.format.js"></script>
    <script>

        $(document).ready(function () {
            getdata();
        });

        function getdata() {
            $.ajax({
                url: appConfig.apiHostUrl + "/api/news/getNewsAno",
                data: {
                    name: $("#inputName").val(),
                    mapakn: $("#inputEmail").val(),
                    sdt: $("#inputSdt").val(),
                },
                success: function (result) {
                    var dataContainer = $("#lstGopy");
                    $('#lstGopy').pagination({
                        dataSource: result,
                        pageSize: 5,
                        showGoInput: true,
                        showGoButton: true,
                        callback: function (data, pagination) {
                            var html = templateData(data, $("#inputEmail").val());
                            dataContainer.html(html);
                        }
                    })
                }
            });
        }
        function templateData(data, mapakn) {

            var html = '';
            for (var i = 0; i < data.length; i++) {
                var noidung = '';
                noidung = data[i].Name;
                var linkDetail = appConfig.current + "/home/DetailTracuu?id=" + data[i].Id;
                if (mapakn !== "" && mapakn !== undefined) {
                    linkDetail += "&mapakn=" + mapakn;
                }

                var dateTime = dateFormat(data[i].OnPublished, "dd/mm/yyyy")
                var content = '<div class="MB20" style="font-size: 14px;">';
                content += '<div class="media-object-default media-object-default1 boT">';
                content += '<div class="media">';
                content += '<div class="media-left"> <a href="' + linkDetail + '"><img class="media-object img-thumbnail img-circle" src="../../images/MediaObj_Placeholder.png" width="80" alt="placeholder image"></a> </div> <div class="media-body">';
                if (data[i].UserFullName == '') {
                    content += '<p class="text-muted" style="margin-bottom:8px;margin-top: 8px;"><a style="color: blue;" href="' + linkDetail + '">' + "Ẩn danh" + '</a> - <i class="MR5 fa fa-clock-o" aria-hidden="true"></i> ' + dateTime + '</p> <h4 class="media-heading">';
                } else {
                    content += '<p class="text-muted" style="margin-bottom:8px;margin-top: 8px;"><a style="color: blue;" href="' + linkDetail + '">' + data[i].UserFullName + '</a> - <i class="MR5 fa fa-clock-o" aria-hidden="true"></i> ' + dateTime + '</p> <h4 class="media-heading">';
                }
                content += '<a href="' + linkDetail + '" class="tieu-de-pakn">Kiến nghị về việc: ' + data[i].Name + '</a></h4>';
                content += '<p class="text-justify"><b>Nội dung kiến nghị:</b> ' + noidung + '</p>';
                content += '</div></div></div></div>';
                html += content;
            }
            return html;
        }

        $.get(appConfig.apiHostUrl + "/api/News/getHomeNewsByCate?number=3", function (data, status) {
            var content = '';
        
            for (var i = 0; i < data.model.length; i++) {
                content += '<article class="border-dot">';
                content += '<hgroup>';
                content += '<h4 class="title" ><a style="font-size:14px;" href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                content += '</hgroup>';
                content += '<p class="date" style="text-align:left;">'
                content += '<time datetime="2013-01-21">'
                content += new Date(data.model[i].OnPublished).format("dd/mm/yyyy");
                content += '</time>'
                content += '</p>'
                if (data.model[i].Image != '') {
                    content += '<img alt="(Ảnh minh họa)" src="' + data.model[i].Image + '" style="BORDER: 0px solid; width:120px; height:80px; float:left; margin-right:5px">'
                }
                content += '<p class="tom-tat-news" style="line-height: 20px; color:#333;text-align:justify;">';
                content += data.model[i].Abstract;
                content += '</p>';
                content += '</article>';

            }
            $('#truyen-thong-news-content').html(content);
            $('.tom-tat-news span').css({ 'font-size': '14px' });
        });

        $.get(appConfig.apiHostUrl + "/api/Media/GetVanban?number=10" , function (data, status) {
            var content = '';
            console.log(data);
            console.log(data[0]);
            for (var i = 0; i < data.length; i++) {
                content += '<li class="last" style = "margin-top:-5px;padding-bottom: 2px;margin-bottom: 7px;font-size:12px;line-height:16px;text-align:justify;" >';
                content += '<a target="_blank" href="' + data[i].url + '"> '+(i+1)+' - ';
                content += data[i].tenvanban;
                content += '<span class="glyphicon glyphicon-download-alt"></span>';
                content += '</a>';
                content += '</li>';
            }
            $('#home-vanban').html(content);
        });
        //album anhr
        $.get(appConfig.apiHostUrl + "/api/Media/getMedia?type=image&is_publish=1", function (data, status) {
            var preview = '';
            var slide = '';
            for (var i = 0; i < data.length; i++) {
                preview += '<li>';
                preview += '<img src="' + data[i].url + '" height="430" width = "100%"/>';
                preview += '<p class="flex-caption" style="width:100%">';
                preview += data[i].description;
                preview += '</p>';
                preview += '</li>';

                slide += '<li>';
                slide += '<img src="' + data[i].url + '" />';
                slide += '</li>';
            }
            $('#home-image-preview').html(preview);
            $('#home-image-slide').html(slide);
            $('#block_front_slides').flexslider({
                animation: "slide",
                controlNav: false,
                directionNav: false,
                animationLoop: false,
                slideshow: false,
                animationDuration: 1000,
                sync: "#block_front_carousel"
            });

            $('#block_front_carousel').flexslider({
                animation: "slide",
                controlNav: false,
                directionNav: true,
                itemWidth: 120,
                itemMargin: 30,
                animationDuration: 1000,
                asNavFor: '#block_front_slides'
            });
        });
        //album, video

        $.get(appConfig.apiHostUrl + "/api/Media/getMedia?type=video&is_publish=1", function (data, status) {
            var preview = '';
            var slide = '';
            for (var i = 0; i < data.length; i++) {
                preview += '<li> <video style="width: 100%",height="100%" controls> <source src="' + data[i].url + '"> </video> <p class="flex-caption" style="width:100%;">' + data[i].description + '</p> </li>';

                slide += '<li>';
                slide += '<img src="' + data[i].filesImage + '" />';
                slide += '</li>';
            }

            $('#contentVideo').html(preview);
            $('#contentImage').html(slide);
            $('#block_front_slides_video').flexslider({
                animation: "slide",
                controlNav: false,
                directionNav: false,
                animationLoop: false,
                slideshow: false,
                animationDuration: 1000,
                sync: "#block_front_carousel_video"
            });

            $('#block_front_carousel_video').flexslider({
                animation: "slide",
                controlNav: false,
                directionNav: false,
                itemWidth: 120,
                itemMargin: 50,
                animationDuration: 1000,
                asNavFor: '#block_front_slides_video'
            });
        });

    </script>

}
<!-- end right sidebar -->
