@{
    ViewData["Title"] = "Cổng thông tin bộ tài nguyên và môi trường";
    Layout = "_HomeLayout";
}

<div id="page">
    <!-- left sidebar -->
    <div id="left_sidebar">
        <div class="region">
            <section id="block_left" class="block">
                <h3 class="block_title">Ý kiến mới</h3>
                <div class="content">
                    <ul>
                        <li class="first">
                            <article>
                                <h4 class="title"><a href="#">Rác tại khu vực cầu đi bộ Nguyễn Văn Trỗi</a></h4>
                                <p class="date">
                                    <time datetime="2018-07-30">
                                        10:23 30/07/2018
                                    </time>
                                    <span class="comments_count"><a href="#">7</a></span>
                                </p>
                                <p>
                                    Mong chính quyền quan tâm đến môi trường rác tại địa điểm cầu đi bộ Nguyễn Văn Trỗi...
                                </p>
                            </article>
                        </li>
                        <li>
                            <article>
                                <h4 class="title"><a href="#">Đại lý trứng gia cầm tại 335 Huỳnh Ngọc Huệ gây ô nhiễm.</a></h4>
                                <p class="date">
                                    <time datetime="2018-07-30">
                                        10:07 30/07/2018
                                    </time>
                                    <span class="comments_count"><a href="#">3</a></span>
                                </p>
                                <p>
                                    Đề nghị chính quyền có biện pháp di dời đại lý trứng gia cầm cuối đường Huỳnh Ngọc Huệ ra khỏi khu dân ...
                                </p>
                            </article>
                        </li>
                        <li>
                            <article>
                                <h4 class="title"><a href="#">Hộ sản xuất gạch terrazzo tại thôn Đại La, xã Hòa Sơn ...</a></h4>
                                <p class="date">
                                    <time datetime="2018-07-29">
                                        09:56 29/07/2018
                                    </time>
                                    <span class="comments_count"><a href="#">9</a></span>
                                </p>
                                <p>
                                    Tôi đang ở tại Khu tái định cư đường Hoàng Văn Thái nối dài đi Bà Nà (thôn Đại La, xã Hòa Sơn, huyện ...
                                </p>
                            </article>
                        </li>
                        <li>
                            <article>
                                <h4 class="title"><a href="#">Kênh hở trên đường Huỳnh Tấn Phát nối dài bốc mùi hôi ...</a></h4>
                                <p class="date">
                                    <time datetime="2018-07-28">
                                        11:34 28/07/2018
                                    </time>
                                    <span class="comments_count"><a href="#">11</a></span>
                                </p>
                                <p>
                                    Đề nghị cơ quan chức năng xem xét xử lý mùi hôi từ hồ nước thải khu vực Đò xu. Hôi thối và muỗi không ...
                                </p>
                            </article>
                        </li>
                        <li class="last">
                            <article>
                                <h4 class="title"><a href="#">Không thu gom rác tại ngã tư Đoàn Khuê -Phạm Tuấn Tài</a></h4>
                                <p class="date">
                                    <time datetime="2018-07-13">
                                        21:44 13/07/2018
                                    </time>
                                    <span class="comments_count"><a href="#">21</a></span>
                                </p>
                                <p>
                                    Cả tuần nay rác tại ngã tư Đoàn Khuê - Phạm Tuấn Tài, phường Khuê Mỹ, quận Ngũ Hành Sơn không được thu ...
                                </p>
                            </article>
                        </li>
                    </ul>
                    <p>
                        <a href="#" class="view_all"><span><span>Xem thêm</span></span></a>
                    </p>
                </div>
            </section>
        </div>
    </div>
    <!-- end left sidebar -->
    <!-- content -->
    <div id="content">
        <div class="region">
            <section id="block_world_news" class="block">
                <h3 class="block_title_black">Công bố tin tức môi trường<a href="#" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                <div class="content">
                    <div class="left">
                        <article>
                            <p>
                                <img src="/images/homes/20180727 (6).jpg" alt="World News" />
                            </p>
                            <hgroup>
                                <h5 class="category"><a href="#">Công bố tin tức môi trường</a></h5>
                                <h4 class="title"><a href="#">Hà Nội nỗ lực cải thiện chất lượng không khí.</a></h4>
                            </hgroup>
                            <p class="date">
                                <time datetime="2018-7-27">
                                    27/7/2018 10:08:00 PM
                                </time>
                                <span class="comments_count"><a href="#">7</a></span>
                            </p>
                            <p>
                                Thời gian gần đây, những thông tin về chỉ số chất lượng không khí (AQI) tại Hà Nội được cập nhật rộng rãi, hàng ngày, trên phương tiện truyền thông.
                            </p>
                        </article>
                    </div>
                    <div class="right">
                        <ul>
                            <li class="first">
                                <article>
                                    <hgroup>
                                        <h5 class="category"><a href="#">MÔI TRƯỜNG XANH SẠCH ĐẸP</a></h5>
                                        <h4 class="title"><a href="#">Từ đêm 25/7, Bắc Bộ và Thanh Hóa sẽ có mưa to diện rộng.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2018-07-27">
                                            27/7/2018 9:53:11 PM
                                        </time>
                                        <span class="comments_count"><a href="#">10</a></span>
                                    </p>
                                    <p>
                                        Trung tâm Dự báo Khí tượng Thủy văn Quốc gia cho biết, do ảnh hưởng của hoàn lưu vùng áp thấp trên khu vực biên giới Việt-Trung ở Bắc Bộ và Bắc Trung Bộ đã có mưa rào và dông trên diện rộng,...
                                    </p>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <hgroup>
                                        <h5 class="category"><a href="#">HIỆN TRẠNG MÔI TRƯỜNG</a></h5>
                                        <h4 class="title"><a href="#">Loạt ảnh độc đáo về thiên nhiên hoang dã trên thế giới.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2017-11-22">
                                            22/11/2017 5:28:49 PM
                                        </time>
                                        <span class="comments_count"><a href="#">1</a></span>
                                    </p>
                                    <p>
                                        Mùa đông đến với những sắc màu tràn ngập và hình ảnh sống động từ thiên nhiên hoang dã trên khắp thế giới.
                                    </p>
                                </article>
                            </li>
                            <li class="last">
                                <article>
                                    <hgroup>
                                        <h5 class="category"><a href="#">MÔI TRƯỜNG XANH SẠCH ĐẸP</a></h5>
                                        <h4 class="title"><a href="#">Pù Luông vào mùa lúa chín đẹp nhất trong năm.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2017-11-10">
                                            10/11/2017 9:55:27 AM
                                        </time>
                                        <span class="comments_count"><a href="#">5</a></span>
                                    </p>
                                    <p>
                                        ​Là “thiên đường giữa đại ngàn” của Thanh Hóa, Pù Luông không chỉ mê hoặc du khách bởi màu xanh non hay sắc vàng óng ánh của lúa...
                                    </p>
                                </article>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section id="block_business_news" class="block">
                <h3 class="block_title_black">VĂN BẢN PHÁP LUẬT<a href="#" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                <div class="content">
                    <div class="left">
                        <article>
                            <p>
                                <img src="/images/homes/20180727 (1).jpg" alt="World News" />
                            </p>
                            <hgroup>
                                <h5 class="category"><a href="#">Văn bản quy phạm pháp luật</a></h5>
                                <h4 class="title"><a href="#">Ninh Bình: Triển khai xây dựng quy chuẩn kỹ thuật về môi trường.</a></h4>
                            </hgroup>
                            <p class="date">
                                <time datetime="2013-01-24">
                                    27/7/2018 10:24:28 PM
                                </time>
                                <span class="comments_count"><a href="#">7</a></span>
                            </p>
                            <p>
                                Chi cục Bảo vệ môi trường Ninh Bình vừa được UBND tỉnh Ninh Bình phê duyệt triển khai xây dựng quy chuẩn kỹ thuật về môi trường...
                            </p>
                        </article>
                    </div>
                    <div class="right">
                        <ul>
                            <li class="first">
                                <article>
                                    <hgroup>
                                        <h5 class="category"><a href="#">Văn bản quy phạm pháp luật</a></h5>
                                        <h4 class="title"><a href="#">Thủ tướng ban hành Danh mục dịch vụ công trực tuyến mức độ 3, mức độ 4 thực hiện trong các năm 2018 – 2019.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-21">
                                            27/7/2018 10:20:35 PM
                                        </time>
                                        <span class="comments_count"><a href="#">10</a></span>
                                    </p>
                                    <p>
                                        ​Năm 2018 - 2019, các Bộ, ngành, địa phương sẽ thực hiện 255 dịch vụ công trực tuyến mức độ 3, mức độ 4. Bộ Tài nguyên và Môi trường sẽ thực hiện thêm 07 dịch vụ công trực tuyến...
                                    </p>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <hgroup>
                                        <h5 class="category"><a href="#">Văn bản quy phạm pháp luật</a></h5>
                                        <h4 class="title"><a href="#">Gửi, nhận văn bản điện tử giữa các cơ quan nhà nước.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-17">
                                            18/7/2018 5:13:30 PM
                                        </time>
                                        <span class="comments_count"><a href="#">1</a></span>
                                    </p>
                                    <p>
                                        Việc gửi, nhận văn bản điện tử phải thực hiện theo nguyên tắc quy định tại Điều 5 của Luật giao dịch điện tử ...
                                    </p>
                                </article>
                            </li>
                            <li class="last">
                                <article>
                                    <hgroup>
                                        <h5 class="category"><a href="#">Văn bản quy phạm pháp luật</a></h5>
                                        <h4 class="title"><a href="#">Ban hành tiêu chí xác định sản phẩm sản xuất từ hoạt động tái chế.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-14">
                                            27/7/2018 10:19:43 PM
                                        </time>
                                        <span class="comments_count"><a href="#">5</a></span>
                                    </p>
                                    <p>
                                        Phó Thủ tướng Chính phủ Vương Đình Huệ vừa có ý kiến chỉ đạo về việc thuế xuất khẩu đối với sản phẩm sản xuất từ hoạt động tái chế, xử lý chất thải....
                                    </p>
                                </article>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- end content -->
    <!-- content bottom -->
    <div id="content_bottom">
        <div class="region">
            <aside id="block_sports" class="block one_fourth">
                <h3 class="block_title">Ô nhiễm nước</h3>
                <div class="content">
                    <ul>
                        <li class="first">
                            <a href="#">
                                Mất vệ sinh và trật tự tại đường Mỹ Đa Đông 5.
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Khách sạn Valencia trêb đường Phan Liêm xả rác bừa bãi.
                            </a>
                        </li>
                        <li class="last">
                            <a href="#">
                                Kinh doanh phế liệu đường Phạm Ngũ Lão gây ô nhiễm khu dân cư.
                            </a>
                        </li>
                    </ul>
                    <p>
                        <a href="#" class="view_all"><span><span>Xem thêm</span></span></a>
                    </p>
                </div>
            </aside>
            <aside id="block_entertainment" class="block one_fourth">
                <h3 class="block_title">Ô nhiễm đất</h3>
                <div class="content">
                    <ul>
                        <li class="first">
                            <a href="#">
                                Buôn bán gia cầm tại đường Hồ Đắc Di.
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Vứt rác bừa bãi, đổ phế thải trước 06 Trần Nhân Tông.
                            </a>
                        </li>
                        <li class="last">
                            <a href="#">
                                Nuôi gia cầm trong khu dân cư tại Tổ 4A phường Hòa Phát.
                            </a>
                        </li>
                    </ul>
                    <p>
                        <a href="#" class="view_all"><span><span>Xem thêm</span></span></a>
                    </p>
                </div>
            </aside>
            <aside id="block_health" class="block one_fourth">
                <h3 class="block_title">Ô nhiễm chất thải</h3>
                <div class="content">
                    <ul>
                        <li class="first">
                            <a href="#">
                                Mất vệ sinh và trật tự tại đường Mỹ Đa Đông 5.
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Khách sạn Valencia trêb đường Phan Liêm xả rác bừa bãi.
                            </a>
                        </li>
                        <li class="last">
                            <a href="#">
                                Kinh doanh phế liệu đường Phạm Ngũ Lão gây ô nhiễm khu dân cư.
                            </a>
                        </li>
                    </ul>
                    <p>
                        <a href="#" class="view_all"><span><span>Xem thêm</span></span></a>
                    </p>
                </div>
            </aside>
            <aside id="block_tech" class="block last one_fourth">
                <h3 class="block_title">Bảo vệ rừng</h3>
                <div class="content">
                    <ul>
                        <li class="first">
                            <a href="#">
                                Nuôi gia cầm trong khu dân cư tại Tổ 4A phường Hòa Phát.
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Môi trường tại khu vực phường Hòa Khê.
                            </a>
                        </li>
                        <li class="last">
                            <a href="#">
                                Hộ gia đình 79 Lê Quang Đạo đổ giá hạ, xà bần không dọn dẹp.
                            </a>
                        </li>
                    </ul>
                    <p>
                        <a href="#" class="view_all"><span><span>Xem thêm</span></span></a>
                    </p>
                </div>
            </aside>
        </div>
    </div>
    <!-- end content bottom -->
</div>
<!-- right sidebar -->
<div id="right_sidebar">
    <div class="region">
        <aside id="block_in_pictures" class="block">
            <h3 class="block_title">Bản đồ môi trường tổng hợp</h3>
            <div>
                <iframe width="320" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="Bản đồ môi trường tổng hợp 3" src="//arcgisportal.ceid.gov.vn/portal/apps/Embed/index.html?webmap=d6db8bd27ddc454596a33df331a40887&extent=105.2722,20.0776,108.0023,21.4439&home=true&zoom=true&previewImage=false&scale=true&details=true&legend=true&active_panel=details&basemap_gallery=true&disable_scroll=true&theme=light"></iframe>
            </div>
        </aside>
        <ul>
            <li>
                <h3>Video</h3>
            </li>
            @*<li>
                    <a href="#block_opinions"><span class="bg">Opinions</span></a>
                </li>
                <li>
                    <a href="#block_extra"><span class="bg">Extra</span></a>
                </li>
                <li>
                    <a href="#block_poll"><span class="bg">Poll</span></a>
                </li>*@
        </ul>
        <aside id="block_video" class="content">
            <div class="flexslider carousel" id="block_big_video">
                <ul class="slides">
                    <li>
                        <a href="gallery_page.html"><img src="/images/content/big_video1.jpg" /></a>
                    </li>
                    <li>
                        <a href="gallery_page.html"><img src="/images/content/big_video2.jpg" /></a>
                    </li>
                    <li>
                        <a href="gallery_page.html"><img src="/images/content/big_video3.jpg" /></a>
                    </li>
                    <li>
                        <a href="gallery_page.html"><img src="/images/content/big_video4.jpg" /></a>
                    </li>
                    <li>
                        <a href="gallery_page.html"><img src="/images/content/big_video1.jpg" /></a>
                    </li>
                    <li>
                        <a href="gallery_page.html"><img src="/images/content/big_video2.jpg" /></a>
                    </li>
                    <li>
                        <a href="gallery_page.html"><img src="/images/content/big_video3.jpg" /></a>
                    </li>
                    <li>
                        <a href="gallery_page.html"><img src="/images/content/big_video4.jpg" /></a>
                    </li>
                </ul>
            </div>
            <div class="flexslider carousel" id="block_small_video">
                <ul class="slides">
                    <li>
                        <img src="/images/content/small_video1.jpg" />
                    </li>
                    <li>
                        <img src="/images/content/small_video2.jpg" />
                    </li>
                    <li>
                        <img src="/images/content/small_video3.jpg" />
                    </li>
                    <li>
                        <img src="/images/content/small_video4.jpg" />
                    </li>
                    <li>
                        <img src="/images/content/small_video1.jpg" />
                    </li>
                    <li>
                        <img src="/images/content/small_video2.jpg" />
                    </li>
                    <li>
                        <img src="/images/content/small_video3.jpg" />
                    </li>
                    <li>
                        <img src="/images/content/small_video4.jpg" />
                    </li>
                </ul>
            </div>
            <p>
                <a href="#" class="view_all"><span><span>All Videos</span></span></a>
            </p>
        </aside>
    </div>
    <div id="block_sidebar_tabs" class="block">
        <ul>
            <li>
                <a href="#block_popular"><span class="bg">Truy cập nhiều</span></a>
            </li>
            <li>
                <a href="#block_comments"><span class="bg">Thảo luận</span></a>
            </li>
            <li>
                <a href="#block_tags"><span class="bg">Tags</span></a>
            </li>
        </ul>
        <aside id="block_popular" class="content">
            <ul>
                <li>
                    <article>
                        <div class="photo">
                            <a href="#"><img src="/images/homes/Nhieu-lang-nghe-o-dat-nhan-long-ngop-tho-vi-rac-thai-dji_0166-1532329409-width2000height1125.jpg" alt="Photo" /></a>
                        </div>
                        <div class="details">
                            <h4 class="title"><a href="#">​Nhiều làng nghề ở đất nhãn "lồng ngộp" thở vì rác thải.</a></h4>
                            <p class="date">
                                <time datetime="2013-01-21">
                                    2/7/2018 9:21:50 PM
                                </time>
                                <span class="comments_count"><a href="#">27</a></span>
                            </p>
                        </div>
                    </article>
                </li>
                <li>
                    <article>
                        <div class="photo">
                            <a href="#"><img src="/images/homes/thutuong.jpg" alt="Photo" /></a>
                        </div>
                        <div class="details">
                            <h4 class="title"><a href="#">Thủ tướng thị sát hoạt động, làm việc với Formosa Hà Tĩnh.</a></h4>
                            <p class="date">
                                <time datetime="2013-01-23">
                                    20/7/2018 9:21:50 PM
                                </time>
                                <span class="comments_count"><a href="#">19</a></span>
                            </p>
                        </div>
                    </article>
                </li>
                <li class="last">
                    <article>
                        <div class="photo">
                            <a href="#"><img src="/images/homes/_MG_4863 sep Thuc.jpg" alt="Photo" /></a>
                        </div>
                        <div class="details">
                            <h4 class="title"><a href="#">Cần có các giải pháp quản lý nhà nước về nhập khẩu phế liệu.</a></h4>
                            <p class="date">
                                <time datetime="2013-01-29">
                                    18/7/2018 5:18:28 PM
                                </time>
                                <span class="comments_count"><a href="#">21</a></span>
                            </p>
                        </div>
                    </article>
                </li>
            </ul>
        </aside>
        <aside id="block_comments" class="content">
            <ul>
                <li>
                    <article>
                        <div class="photo">
                            <a href="#"><img src="images/bg_user.png" alt="Photo" /></a>
                        </div>
                        <div class="details">
                            <h4 class="title"><a href="#">Trần Trung Nguyên</a> on <a href="#">Buôn bán gia cầm tại đường Hồ Đắc Di.</a></h4>
                            <p class="date">
                                <time datetime="2013-01-29">
                                    Jan 29, 2018, 8:47 am
                                </time>
                            </p>
                        </div>
                        <p class="text">
                            Đã chuyển thông tin phản ánh cho UBND quận Hải Châu tiếp nhận và xử lý
                        </p>
                    </article>
                </li>
                <li class="last">
                    <article>
                        <div class="photo">
                            <a href="#"><img src="images/bg_user.png" alt="Photo" /></a>
                        </div>
                        <div class="details">
                            <h4 class="title"><a href="#">George Clark</a> on <a href="#">Nuôi gia cầm trong khu dân cư tại Tổ 4A phường Hòa ...</a></h4>
                            <p class="date">
                                <time datetime="2013-01-29">
                                    Jan 29, 2018, 8:47 am
                                </time>
                            </p>
                        </div>
                        <p class="text">
                            Tiếp nhận ý kiến công dân, UBND phường cùng với KDC có buổi làm việc thực tế tại nhà ông Lê ...
                        </p>
                    </article>
                </li>
            </ul>
        </aside>
        <aside id="block_tags" class="content">
            <ul>
                <li>
                    <a href="#">All</a>
                </li>
                <li>
                    <a href="#">Đất</a>
                </li>
                <li>
                    <a href="#">Nước</a>
                </li>
                <li>
                    <a href="#">Ô nhiễm</a>
                </li>
                <li>
                    <a href="#">Văn bản quy phạm</a>
                </li>
                <li>
                    <a href="#">Cảnh đẹp</a>
                </li>
                <li>
                    <a href="#">Nghệ thuật</a>
                </li>
                <li>
                    <a href="#">Khí hậu</a>
                </li>
                <li>
                    <a href="#">Tài nguyên</a>
                </li>
                <li>
                    <a href="#">Bão tố</a>
                </li>
                <li>
                    <a href="#">Khoáng sản</a>
                </li>
                <li>
                    <a href="#">Sông ngòi</a>
                </li>
            </ul>
        </aside>
    </div>
</div>
   

@section Scripts {
    <script src="~/js/home/contact.js" asp-append-version="true"></script>
}

<!-- end right sidebar -->