@{
    ViewData["Title"] = "Cổng thông tin bộ tài nguyên và môi trường";
    Layout = "_HomeLayout";
}

<div id="page" style="width: 100%;">
    <!-- left sidebar -->
    <!-- end left sidebar -->
    <!-- content -->
    <div id="content" style="width: 100%">
        <div class="region">
            <section class="block_world_news block">
                <h3 class="block_title_black">Công bố tin tức môi trường<a href="#" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                <div class="content">
                    <div class="left">
                        <article>
                            <p>
                                <img src="/images/homes/20180727 (6).jpg" alt="World News" />
                            </p>
                            <hgroup>
                                <h5 class="category"><a href="#">Công bố tin tức môi trường</a></h5>
                                <h4 class="title"><a href="#">Hà Nội nỗ lực cải thiện chất lượng không khí.</a></h4>
                            </hgroup>
                            <p class="date">
                                <time datetime="2018-7-27">
                                    27/7/2018 10:08:00 PM
                                </time>
                                <span class="comments_count"><a href="#">7</a></span>
                            </p>
                            <p>
                                Thời gian gần đây, những thông tin về chỉ số chất lượng không khí (AQI) tại Hà Nội được cập nhật rộng rãi, hàng ngày, trên phương tiện truyền thông.
                            </p>
                        </article>
                    </div>
                </div>
            </section>
            <section class="block block_business_news">
                <h3 class="block_title_black">VĂN BẢN PHÁP LUẬT<a href="#" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                <div class="content">
                    <div class="left">
                        <article>
                            <p>
                                <img src="/images/homes/20180727 (1).jpg" alt="World News" />
                            </p>
                            <hgroup>
                                <h5 class="category"><a href="#">Văn bản quy phạm pháp luật</a></h5>
                                <h4 class="title"><a href="#">Ninh Bình: Triển khai xây dựng quy chuẩn kỹ thuật về môi trường.</a></h4>
                            </hgroup>
                            <p class="date">
                                <time datetime="2013-01-24">
                                    27/7/2018 10:24:28 PM
                                </time>
                                <span class="comments_count"><a href="#">7</a></span>
                            </p>
                            <p>
                                Chi cục Bảo vệ môi trường Ninh Bình vừa được UBND tỉnh Ninh Bình phê duyệt triển khai xây dựng quy chuẩn kỹ thuật về môi trường...
                            </p>
                        </article>
                    </div>
                    <div class="right">
                        <ul>
                            <li class="first">
                                <article>
                                    <hgroup>
                                        <h5 class="category"><a href="#">Văn bản quy phạm pháp luật</a></h5>
                                        <h4 class="title"><a href="#">Thủ tướng ban hành Danh mục dịch vụ công trực tuyến mức độ 3, mức độ 4 thực hiện trong các năm 2018 – 2019.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-21">
                                            27/7/2018 10:20:35 PM
                                        </time>
                                        <span class="comments_count"><a href="#">10</a></span>
                                    </p>
                                    <p>
                                        ​Năm 2018 - 2019, các Bộ, ngành, địa phương sẽ thực hiện 255 dịch vụ công trực tuyến mức độ 3, mức độ 4. Bộ Tài nguyên và Môi trường sẽ thực hiện thêm 07 dịch vụ công trực tuyến...
                                    </p>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <hgroup>
                                        <h5 class="category"><a href="#">Văn bản quy phạm pháp luật</a></h5>
                                        <h4 class="title"><a href="#">Gửi, nhận văn bản điện tử giữa các cơ quan nhà nước.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-17">
                                            18/7/2018 5:13:30 PM
                                        </time>
                                        <span class="comments_count"><a href="#">1</a></span>
                                    </p>
                                    <p>
                                        Việc gửi, nhận văn bản điện tử phải thực hiện theo nguyên tắc quy định tại Điều 5 của Luật giao dịch điện tử ...
                                    </p>
                                </article>
                            </li>
                            <li class="last">
                                <article>
                                    <hgroup>
                                        <h5 class="category"><a href="#">Văn bản quy phạm pháp luật</a></h5>
                                        <h4 class="title"><a href="#">Ban hành tiêu chí xác định sản phẩm sản xuất từ hoạt động tái chế.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-14">
                                            27/7/2018 10:19:43 PM
                                        </time>
                                        <span class="comments_count"><a href="#">5</a></span>
                                    </p>
                                    <p>
                                        Phó Thủ tướng Chính phủ Vương Đình Huệ vừa có ý kiến chỉ đạo về việc thuế xuất khẩu đối với sản phẩm sản xuất từ hoạt động tái chế, xử lý chất thải....
                                    </p>
                                </article>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="region">
            <section class="block_world_news block">
                <h3 class="block_title_black">Công bố tin tức môi trường<a href="#" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                <div class="content">
                    <div class="left">
                        <article>
                            <p>
                                <img src="/images/homes/20180727 (6).jpg" alt="World News" />
                            </p>
                            <hgroup>
                                <h5 class="category"><a href="#">Công bố tin tức môi trường</a></h5>
                                <h4 class="title"><a href="#">Hà Nội nỗ lực cải thiện chất lượng không khí.</a></h4>
                            </hgroup>
                            <p class="date">
                                <time datetime="2018-7-27">
                                    27/7/2018 10:08:00 PM
                                </time>
                                <span class="comments_count"><a href="#">7</a></span>
                            </p>
                            <p>
                                Thời gian gần đây, những thông tin về chỉ số chất lượng không khí (AQI) tại Hà Nội được cập nhật rộng rãi, hàng ngày, trên phương tiện truyền thông.
                            </p>
                        </article>
                    </div>
                </div>
            </section>
            <section class="block block_business_news">
                <h3 class="block_title_black">VĂN BẢN PHÁP LUẬT<a href="#" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                <div class="content">
                    <div class="left">
                        <article>
                            <p>
                                <img src="/images/homes/20180727 (1).jpg" alt="World News" />
                            </p>
                            <hgroup>
                                <h5 class="category"><a href="#">Văn bản quy phạm pháp luật</a></h5>
                                <h4 class="title"><a href="#">Ninh Bình: Triển khai xây dựng quy chuẩn kỹ thuật về môi trường.</a></h4>
                            </hgroup>
                            <p class="date">
                                <time datetime="2013-01-24">
                                    27/7/2018 10:24:28 PM
                                </time>
                                <span class="comments_count"><a href="#">7</a></span>
                            </p>
                            <p>
                                Chi cục Bảo vệ môi trường Ninh Bình vừa được UBND tỉnh Ninh Bình phê duyệt triển khai xây dựng quy chuẩn kỹ thuật về môi trường...
                            </p>
                        </article>
                    </div>
                    <div class="right">
                        <ul>
                            <li class="first">
                                <article>
                                    <hgroup>
                                        <h5 class="category"><a href="#">Văn bản quy phạm pháp luật</a></h5>
                                        <h4 class="title"><a href="#">Thủ tướng ban hành Danh mục dịch vụ công trực tuyến mức độ 3, mức độ 4 thực hiện trong các năm 2018 – 2019.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-21">
                                            27/7/2018 10:20:35 PM
                                        </time>
                                        <span class="comments_count"><a href="#">10</a></span>
                                    </p>
                                    <p>
                                        ​Năm 2018 - 2019, các Bộ, ngành, địa phương sẽ thực hiện 255 dịch vụ công trực tuyến mức độ 3, mức độ 4. Bộ Tài nguyên và Môi trường sẽ thực hiện thêm 07 dịch vụ công trực tuyến...
                                    </p>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <hgroup>
                                        <h5 class="category"><a href="#">Văn bản quy phạm pháp luật</a></h5>
                                        <h4 class="title"><a href="#">Gửi, nhận văn bản điện tử giữa các cơ quan nhà nước.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-17">
                                            18/7/2018 5:13:30 PM
                                        </time>
                                        <span class="comments_count"><a href="#">1</a></span>
                                    </p>
                                    <p>
                                        Việc gửi, nhận văn bản điện tử phải thực hiện theo nguyên tắc quy định tại Điều 5 của Luật giao dịch điện tử ...
                                    </p>
                                </article>
                            </li>
                            <li class="last">
                                <article>
                                    <hgroup>
                                        <h5 class="category"><a href="#">Văn bản quy phạm pháp luật</a></h5>
                                        <h4 class="title"><a href="#">Ban hành tiêu chí xác định sản phẩm sản xuất từ hoạt động tái chế.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-14">
                                            27/7/2018 10:19:43 PM
                                        </time>
                                        <span class="comments_count"><a href="#">5</a></span>
                                    </p>
                                    <p>
                                        Phó Thủ tướng Chính phủ Vương Đình Huệ vừa có ý kiến chỉ đạo về việc thuế xuất khẩu đối với sản phẩm sản xuất từ hoạt động tái chế, xử lý chất thải....
                                    </p>
                                </article>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- end content -->
    <!-- content bottom -->
    
    <!-- end content bottom -->
</div>
<!-- right sidebar -->

   

@section Scripts {
    <script src="~/js/home/contact.js" asp-append-version="true"></script>
}

<!-- end right sidebar -->