@{
    ViewData["Title"] = "Cổng thông tin bộ tài nguyên và môi trường";
    Layout = "_HomeLayout";
}
<!-- left sidebar -->
<!-- end left sidebar -->
<!-- content -->
<div id="content" class="container">
    <div class="region row">
        <div class="col-md-8">
            <section class="block_business_news block">
                <h3 class="block_title_black">Bản đồ môi trường</h3>
                <div class="content">
                    <style>
                        .embed-container {
                            position: relative;
                            padding-bottom: 80%;
                            height: 0;
                            max-width: 100%;
                        }

                            .embed-container iframe, .embed-container object, .embed-container iframe {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }

                        small {
                            position: absolute;
                            z-index: 40;
                            bottom: 0;
                            margin-bottom: -15px;
                        }
                    </style><div class="embed-container"><small><a href="//arcgisportal.ceid.gov.vn/portal/apps/Embed/index.html?webmap=fc034f6a1d8e4648b627c12a4cd779ff&extent=106.2405,20.6341,107.0494,21.0282&home=true&zoom=true&scale=true&search=true&searchextent=true&details=true&legend=true&active_panel=details&basemap_gallery=true&disable_scroll=true&theme=light" style="color:#0000FF;text-align:left" target="_blank">View larger map</a></small><br><iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="Bản đồ môi trường tổng hợp" src="//arcgisportal.ceid.gov.vn/portal/apps/Embed/index.html?webmap=fc034f6a1d8e4648b627c12a4cd779ff&extent=106.2405,20.6341,107.0494,21.0282&home=true&zoom=true&previewImage=false&scale=true&search=true&searchextent=true&details=true&legend=true&active_panel=details&basemap_gallery=true&disable_scroll=true&theme=light"></iframe></div>
                </div>
            </section>
        </div>
        <div class="col-md-4">
            <section class="block block_business_news">
                <h3 class="block_title_black">TIN TRUYỀN THÔNG<a href="#" class="view_all"><span><span>Tất cả tin</span></span></a></h3>

                <div class="content">
                    <div class="left">
                        <article id="truyen-thong-news-header" class="border-dot"></article>
                    </div>
                    <div class="right">
                        <ul id="truyen-thong-news-content"></ul>
                    </div>
                </div>
            </section>
        </div>


    </div>
    <div class="region row">
        <div class="col-md-8">
            <section class="block_business_news block">
                <h3 class="block_title_black">THÔNG TIN QUAN TRẮC</h3>
                <div class="content">
                    <div class="left">
                        <aside id="block_weather" class="block">
                            <div class="content">
                                <div id="chart_div"> </div>
                                <div class="sc-iRbamj gRGzsx" style="position: relative; top: 6px; right: 6px;"><div><span class="sc-jlyJG kgyyWB">Thang đo VN AQI</span></div><div style="flex: 1 1 0%; display: flex; flex-direction: row;"><div style="width: 90px; display: flex; flex-direction: column;"><div style="height: 5px; background: rgb(0, 228, 0);"></div><div style="color: rgb(51, 51, 51); font-weight: 550; justify-content: center; align-items: center; text-align: center;"><span class="sc-gipzik kVTgJc" style="margin-right: 2px;">0 – 50</span><span class="sc-gipzik zJvnp" font-size="6"> (Tốt)</span></div></div><div style="width: 90px; display: flex; flex-direction: column;"><div style="height: 5px; background: rgb(255, 255, 0);"></div><div style="color: rgb(51, 51, 51); font-weight: 550; justify-content: center; align-items: center; text-align: center;"><span class="sc-gipzik kVTgJc" style="margin-right: 2px;">51 – 100</span><span class="sc-gipzik zJvnp" font-size="6"> (Trung bình)</span></div></div><div style="width: 90px; display: flex; flex-direction: column;"><div style="height: 5px; background: rgb(255, 126, 0);"></div><div style="color: rgb(51, 51, 51); font-weight: 550; justify-content: center; align-items: center; text-align: center;"><span class="sc-gipzik kVTgJc" style="margin-right: 2px;">101 – 200</span><span class="sc-gipzik zJvnp" font-size="6"> (Kém)</span></div></div><div style="width: 90px; display: flex; flex-direction: column;"><div style="height: 5px; background: rgb(255, 0, 0);"></div><div style="color: rgb(51, 51, 51); font-weight: 550; justify-content: center; align-items: center; text-align: center;"><span class="sc-gipzik kVTgJc" style="margin-right: 2px;">201 – 300</span><span class="sc-gipzik zJvnp" font-size="6"> (Xấu)</span></div></div><div style="width: 90px; display: flex; flex-direction: column;"><div style="height: 5px; background: rgb(126, 0, 35);"></div><div style="color: rgb(51, 51, 51); font-weight: 550; justify-content: center; align-items: center; text-align: center;"><span class="sc-gipzik kVTgJc" style="margin-right: 2px;">Trên 300</span><span class="sc-gipzik zJvnp" font-size="6"> (Nguy hại)</span></div></div></div></div>
                            </div>
                        </aside>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4">
            <section class="block block_business_news">
                <h3 class="block_title_black">VĂN BẢN CHÍNH SÁCH<a href="#" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                <div class="content">
                    @*<div id="van-ban-chinh-sach-first" class="left">
                        <article class="border-dot">
                            <p>
                                <img src="http://www.xaluan.com/images/news/Image/2018/11/04/15bdea11f4d72b.img.jpg" alt="World News" />
                            </p>
                            <hgroup>
                                <h4 class="title"><a href="#">Quy trình mới về kiểm tra phế liệu nhập khẩu: Doanh nghiệp lo thêm nhiều thủ tục.</a></h4>
                            </hgroup>
                            <p class="date">
                                <time datetime="2013-01-24">
                                    27/7/2018 10:24:28 PM
                                </time>
                                <span class="comments_count"><a href="#">7</a></span>
                            </p>
                            <p>
                                ​Một số doanh nghiệp cho rằng, việc tổ chức thực hiện kiểm tra nhà nước về chất lượng phế liệu nhập khẩu làm nguyên liệu sản xuất theo Thông tư 08/2018/TT-BTNMT và Thông tư 09/2018/TT-BTNMT của Bộ Tài nguyên và Môi trường còn nhiều vấn đề chưa phù hợp với thực tế....
                            </p>
                        </article>
                    </div>*@
                    <div class="right">
                        <ul id="van-ban-chinh-sach-from-second"></ul>
                    </div>
                </div>
            </section>
        </div>


    </div>
    <div class="region row" id="home_video">
        <div class="col-md-8">
            <section class="block_business_news block">
                <h3 class="block_title_black">VIDEO<a href="#" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                <div class="content">
                    <aside id="block_front_slider" class="block slider" style="height: 520px;padding-right: 28px;">
                        <div class="flexslider slider video_home" id="block_front_slides_2" style="height: 450px;">
                            <ul class="slides">
                                <li>
                                    <video style="width: 100%" height="430" controls>
                                        <source src="http://demo.eportal.today/video/v1.mp4">
                                    </video>
                                    <p class="flex-caption" style="width:620px">
                                        Lào Cai: Vỡ đập bãi thải nhà máy DAP 2 gây hậu quả nghiêm trọng
                                    </p>
                                </li>

                                <li>
                                    <video style="width: 100%" height="430" controls>
                                        <source src="http://demo.eportal.today/video/v2.mp4">
                                    </video>
                                    <p class="flex-caption" style="width:620px">
                                        Nam Định Công ty Nhôm đúc Hoàng Anh hoạt động trái phép bất chấp lệnh cấm của chủ tịch UBND huyện

                                    </p>
                                </li>
                                <li>
                                    <video style="width: 100%" height="430" controls>
                                        <source src="http://demo.eportal.today/video/v3.mp4">
                                    </video>
                                    <p class="flex-caption" style="width:620px">
                                        Cuộc sống ác mộng của hàng trăm hộ dân gần bãi rác lộ thiên lớn nhất Trà Vinh
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="flexslider carousel" id="block_front_carousel_2">
                            <ul class="slides">
                                <li>
                                    <img src="http://vea.gov.vn/vn/tintuc/multimedia/PublishingImages/_t/20180919LaoCai_png.jpg" />
                                </li>
                                <li>
                                    <img src="http://vea.gov.vn/vn/tintuc/multimedia/PublishingImages/_t/20180814congtynhom_png.jpg" />
                                </li>
                                <li>
                                    <img src="http://vea.gov.vn/vn/tintuc/multimedia/PublishingImages/_t/20180810bairac_png.jpg" />
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </section>
        </div>

        <div class="col-md-4">
            <section class="block block_business_news">
                <h3 class="block_title_black">PHẢN ÁNH MÔI TRƯỜNG<a href="#" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                <div class="content">

                    <div class="right">
                        <ul id="phan-anh-moi-truong-content"></ul>
                    </div>
                </div>
            </section>
        </div>


    </div>
    <div class="region row">
        <div class="col-md-8">
            <section class="block_business_news block">
                <h3 class="block_title_black">HÌNH ẢNH<a href="#" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                <div class="content">
                    <div id="content_top2" style="padding-top: 14px;">
                        <div class="region">
                            <aside id="block_front_slider" class="block slider" style="height: 520px;width: 620px;padding-right: 28px;">
                                <div class="flexslider slider" id="block_front_slides" style="height: 450px;width: 620px;">
                                    <ul class="slides">
                                        <li>
                                            <img src="~/images/homes/1.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Làng nghề kim khí Đại Tự Nơm nớp nỗi lo ô nhiễm nguồn nước ngầm...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/1.1.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Làng nghề kim khí Đại Tự Nơm nớp nỗi lo ô nhiễm nguồn nước ngầm...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/2.1.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Nước biển không ô nhiễm, cá chết hàng loạt dạt bờ biển Đà Nẵng...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/3.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Doanh nghiệp dùng phân bón cây, dân kêu trời vì ô nhiễm...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/4.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Nam Định: Gây ô nhiễm môi trường, bãi rác bị người dân 'phong tỏa'...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/5.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Điện Biên: Sông Nậm Rốm tiếp tục bị ô nhiễm do sơ chế dong riềng...
                                            </p>
                                        </li>

                                        <li>
                                            <img src="~/images/homes/5.1.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Điện Biên: Sông Nậm Rốm tiếp tục bị ô nhiễm do sơ chế dong riềng...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/6.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Sài Gòn 'nhức óc' bắt quả tang... tiếng ồn...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/6.1.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Sài Gòn 'nhức óc' bắt quả tang... tiếng ồn...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/7.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Trạm trộn bê tông trái phép thách thức chính quyền...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/8.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Báo động môi trường vì chôn lấp rác...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/9.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Ô nhiễm làng nghề - 'căn bệnh nan y' ở Phan Bôi...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/10.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Cảng Sa Kỳ ngập rác...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/11.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Ô nhiễm môi trường nghiêm trọng từ các vườn cây Thanh long...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/12.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Nhà vườn xã Lương Hòa Lạc, huyện Chợ Gạo tự ý để những bao phân gia súc, gia cầm tươi ngay cạnh đường giao thông...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/13.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Đại công trường than trái phép núp bóng dự án nghĩa trang ở Quảng Ninh...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/14.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Đất rừng phòng hộ hồ Yên Lập bị đào bới trái phép...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/15.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                30 ha đất bị đào xới với danh nghĩa phục vụ dự án nghĩa trang...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/16.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Hàng trăm tấn cá bè ở Tiền Giang chết là do thiếu ôxy?...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/16.1.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Hàng trăm tấn cá bè ở Tiền Giang chết là do thiếu ôxy?...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/16.2.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Hàng trăm tấn cá bè ở Tiền Giang chết là do thiếu ôxy?...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/17.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Khánh Hòa: Nước thải đen ngòm, thối nực trời, dân ngán ngẩm...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/17.1.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Khánh Hòa: Nước thải đen ngòm, thối nực trời, dân ngán ngẩm...
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/images/homes/17.2.jpg" height="430" />
                                            <p class="flex-caption" style="width:620px">
                                                Khánh Hòa: Nước thải đen ngòm, thối nực trời, dân ngán ngẩm...
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="flexslider carousel" id="block_front_carousel">
                                    <ul class="slides">
                                        <li>
                                            <img src="~/images/homes/1.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/1.1.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/2.1.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/3.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/4.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/5.jpg" />
                                        </li>

                                        <li>
                                            <img src="~/images/homes/5.1.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/6.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/6.1.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/7.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/8.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/9.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/10.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/11.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/12.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/13.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/14.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/15.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/16.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/16.1.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/16.2.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/17.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/17.1.jpg" />
                                        </li>
                                        <li>
                                            <img src="~/images/homes/17.2.jpg" />
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4">
            <section class="block block_business_news">
                <h3 class="block_title_black">GIẢI PHÁP SÁNG KIẾN<a href="#" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                <div class="content">
                    <div class="right">
                        <ul id="giai-phap-sang-kien-content"></ul>
                    </div>
                </div>
            </section>
        </div>


    </div>
</div>

<!-- end content -->
<!-- content bottom -->
<!-- end content bottom -->
<!-- right sidebar -->
@section Scripts {
    <script src="~/js/home/contact.js" asp-append-version="true"></script>
    <script src="~/js/home/home.js" asp-append-version="true"></script>
    <script src="~/js/date.format.js"></script>
    <script>
        $.get("http://apinode.eportal.today/api/News/getHomeNewsByCate?number=2", function (data, status) {
            var content = '';
            for (var i = 0; i < data.model.length; i++) {
                content += '<article class="border-dot">';
                content += '<hgroup>';
                content += '<h4 class="title"><a  href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                content += '</hgroup>';
                content += '<p class="date">';
                content += '<time>';
                content += new Date(data.model[i].OnCreated).format("dd/mm/yyyy HH:MM:ss");
                content += '</time>';
                content += '</p>';
                content += '<p style="line-height: 15px;">';
                content += data.model[i].Abstract;
                content += '...</p>';
                content += '</article>';
            }
            $('#tin-moi-nhat-content').html(content);
        });

        $.get("http://apinode.eportal.today/api/News/getHomeNewsByCate?id=13&number=4", function (data, status) {
            var header = '';
            header += '<p>';
            header += '<img src="' + data.model[0].Image + '" alt="World News" />';
            header += '</p>';
            header += '<hgroup>';
            header += '<h4 class="title"><a href="/home/detailnews?id=' + data.model[0].Id + '">' + data.model[0].Name + '</a></h4>';
            header += '</hgroup>';
            header += '<p class="date">';
            header += '<time datetime="2013-01-24">';
            header += new Date(data.model[0].OnCreated).format("dd/mm/yyyy HH:MM:ss");
            header += '</time>';
            header += '</p>';
            header += '<p>'
            header += data.model[0].Abstract;
            header += '...</p>';
            $("#truyen-thong-news-header").html(header);


            var news = '';
            for (var i = 1; i < data.model.length; i++) {
                news += '<li >';
                news += '<hgroup>';
                news += '<h4 class="title"><a href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                news += '</hgroup>';
                news += '<p class="date">';
                news += '<time datetime="2013-01-21">';
                news += new Date(data.model[i].OnCreated).format("dd/mm/yyyy HH:MM:ss");
                news += '</time>';
                news += '</p>';
                news += '<p>';
                news += data.model[i].Abstract;
                news += '...</p>';
                news += '</li >';
                $("#truyen-thong-news-content").html(news);
            }
        });

        $.get("http://apinode.eportal.today/api/News/getHomeNewsByCate?id=1&number=2", function (data, status) {
            var content = '';
            for (var i = 0; i < data.model.length; i++) {
                content += '<li class="first">';
                content += '<article>';
                content += '<hgroup>';
                content += '<h4 class="title"><a href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                content += '</hgroup>';
                content += '<p class="date">';
                content += '<time datetime="2013-01-21">';
                content += new Date(data.model[i].OnCreated).format("dd/mm/yyyy HH:MM:ss");
                content += '</time>';
                content += '</p>';
                content += '<p>';
                content += data.model[i].Abstract;
                content += '...</p>';
                content += '<a style="color: red;text-decoration: underline" href="http://demo.eportal.today/doc/235-qd-btnmt.pdf" target="_blank">Tải xuống Quyết định số 235/QĐ-BTNMT</a>';
                content += '</article>';
                content += '</li>';
            }
            $('#van-ban-chinh-sach-from-second').html(content);
        });

        $.get("http://apinode.eportal.today/api/News/getHomeNewsByCate?id=2&number=5", function (data, status) {
            var content = '';
            for (var i = 0; i < data.model.length; i++) {
                content += '<li class="first">';
                content += '<article>';
                content += '<hgroup>';
                content += '<h4 class="title"><a href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                content += '</hgroup>';
                content += '<p class="date">';
                content += '<time datetime="2013-01-21">';
                content += new Date(data.model[i].OnCreated).format("dd/mm/yyyy HH:MM:ss");
                content += '</time>';
                content += '</p>';
                content += '<p>';
                content += data.model[i].Abstract;
                content += '...</p>';
                content += '</article>';
                content += '</li>';
            }
            $('#phan-anh-moi-truong-content').html(content);
        });

        $.get("http://apinode.eportal.today/api/News/getHomeNewsByCate?id=14&number=4", function (data, status) {
            var content = '';
            for (var i = 0; i < data.model.length; i++) {
                content += '<li>';
                content += '<article>';
                content += '<hgroup>';
                content += '<h4 class="title"><a  href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                content += '</hgroup>';
                content += '<p class="date">';
                content += '<time datetime="2013-01-21">';
                content += new Date(data.model[i].OnCreated).format("dd/mm/yyyy HH:MM:ss");
                content += '</time>';
                content += '</p>';
                content += '<p>';
                content += data.model[i].Abstract;
                content += '...</p>';
                content += '</article>';
                content += '</li>';
            }
            $('#giai-phap-sang-kien-content').html(content);
        });
    </script>

}
<!-- end right sidebar -->
