
@{
    ViewData["Title"] = "Tin tức";
}
<script src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link href="~/css/news.css" rel="stylesheet" />

<style>
    h1 {
        font-size: 24px;
        padding: 10px 10px 10px 0px;
    }

    #right_sidebar {
        display: none !important;
    }

    .embed-container {
        position: relative;
        padding-bottom: 80%;
        height: 0;
        max-width: 100%;
    }

        .embed-container iframe, .embed-container object, .embed-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    small {
        position: absolute;
        z-index: 40;
        bottom: 0;
        margin-bottom: -15px;
    }
</style>
<link href="~/css/news.css" rel="stylesheet"/>

<div class="container news">
    <div class="col-md-8 col-sm-12 news-block news-left">
        <div class="newestItem firstNewsetItem">
            <div class="newestItemTitle-Detail">
                <a title="Xây dựng kênh kết nối đa phương tiện để phản ánh về vấn đề môi trường" href="http://vea.gov.vn/vn/vanbanphapquy/tintucvbqppl/Pages/%C4%90%E1%BB%81-xu%E1%BA%A5t-n%C3%A2ng-ti%C3%AAu-chu%E1%BA%A9n-kh%C3%AD-th%E1%BA%A3i-%C4%91%E1%BB%91i-v%E1%BB%9Bi-%C3%B4-t%C3%B4-%C4%91%E1%BB%83-b%E1%BA%A3o-v%E1%BB%87-m%C3%B4i-tr%C6%B0%E1%BB%9Dng.aspx">
                    Xây dựng kênh kết nối đa phương tiện để phản ánh về vấn đề môi trường<img width="31px" height="20px" src="/Văn bản quy phạm pháp luật_files/new-icon.png" style="display:none">
                </a>
            </div>

            <div class="content">
                <p>
                    <a title="Đề xuất nâng tiêu chuẩn khí thải đối với ô tô để bảo vệ môi trường" href="http://vea.gov.vn/vn/vanbanphapquy/tintucvbqppl/Pages/%C4%90%E1%BB%81-xu%E1%BA%A5t-n%C3%A2ng-ti%C3%AAu-chu%E1%BA%A9n-kh%C3%AD-th%E1%BA%A3i-%C4%91%E1%BB%91i-v%E1%BB%9Bi-%C3%B4-t%C3%B4-%C4%91%E1%BB%83-b%E1%BA%A3o-v%E1%BB%87-m%C3%B4i-tr%C6%B0%E1%BB%9Dng.aspx">
                        <img alt="(Ảnh minh họa)" src="~/images/content/image_6483441-2.jpg" style="BORDER: 0px solid; width:120px; height:80px; float:left; margin-right:5px">
                    </a>
                    <span style="position:relative; top:5px;">Hệ thống trao đổi thông tin hai chiều bằng đa phương tiện giữa người dân, doanh nghiệp và cơ quan quản lý về môi trường đang được xây dựng nhằm mục tiêu phát triển bền vững.</span>
                </p>
                <div class="readMoreDetail">
                    <a title="Đề xuất nâng tiêu chuẩn khí thải đối với ô tô để bảo vệ môi trường" href="http://vea.gov.vn/vn/vanbanphapquy/tintucvbqppl/Pages/%C4%90%E1%BB%81-xu%E1%BA%A5t-n%C3%A2ng-ti%C3%AAu-chu%E1%BA%A9n-kh%C3%AD-th%E1%BA%A3i-%C4%91%E1%BB%91i-v%E1%BB%9Bi-%C3%B4-t%C3%B4-%C4%91%E1%BB%83-b%E1%BA%A3o-v%E1%BB%87-m%C3%B4i-tr%C6%B0%E1%BB%9Dng.aspx">
                        <span id="ctl00_PlaceHolderTopColMiddle_g_5271cf1b_ba26_4ac5_99bc_7a7b243c3627_ctl00_rptintuc_ctl01_lblchitiet"> Chi Tiết</span>
                    </a>
                </div>
                <p class="date">
                    <time datetime="2013-01-21">
                        22/10/2018 7:23:35 PM
                    </time>
                    <span class="comments_count"></span>
                </p>
            </div>
        </div>
        <div class="newestItem firstNewsetItem">
            <div class="newestItemTitle-Detail">
                <a title="Đề xuất nâng tiêu chuẩn khí thải đối với ô tô để bảo vệ môi trường" href="http://vea.gov.vn/vn/vanbanphapquy/tintucvbqppl/Pages/%C4%90%E1%BB%81-xu%E1%BA%A5t-n%C3%A2ng-ti%C3%AAu-chu%E1%BA%A9n-kh%C3%AD-th%E1%BA%A3i-%C4%91%E1%BB%91i-v%E1%BB%9Bi-%C3%B4-t%C3%B4-%C4%91%E1%BB%83-b%E1%BA%A3o-v%E1%BB%87-m%C3%B4i-tr%C6%B0%E1%BB%9Dng.aspx">
                    Xây dựng hệ thống trao đổi thông tin hai chiều về môi trường giữa cộng đồng và cơ quan quản lý<img width="31px" height="20px" src="/Văn bản quy phạm pháp luật_files/new-icon.png" style="display:none">
                </a>
            </div>
            
            <div class="content">
                <p>
                    <a title="Đề xuất nâng tiêu chuẩn khí thải đối với ô tô để bảo vệ môi trường" href="http://vea.gov.vn/vn/vanbanphapquy/tintucvbqppl/Pages/%C4%90%E1%BB%81-xu%E1%BA%A5t-n%C3%A2ng-ti%C3%AAu-chu%E1%BA%A9n-kh%C3%AD-th%E1%BA%A3i-%C4%91%E1%BB%91i-v%E1%BB%9Bi-%C3%B4-t%C3%B4-%C4%91%E1%BB%83-b%E1%BA%A3o-v%E1%BB%87-m%C3%B4i-tr%C6%B0%E1%BB%9Dng.aspx">
                        <img alt="(Ảnh minh họa)" src="~/images/content/toan-canh-ht.jpg" style="BORDER: 0px solid; width:120px; height:80px; float:left; margin-right:5px">
                    </a>
                    <span style="position:relative; top:5px;">Ngày 26/10, tại Hà Nội, Trung tâm Thông tin và Tư liệu môi trường (Tổng cục Môi trường) đã tổ chức Hội thảo về 2 nội dung chính: “Hướng dẫn...</span>
                </p>
                <div class="readMoreDetail">
                    <a title="Đề xuất nâng tiêu chuẩn khí thải đối với ô tô để bảo vệ môi trường" href="http://vea.gov.vn/vn/vanbanphapquy/tintucvbqppl/Pages/%C4%90%E1%BB%81-xu%E1%BA%A5t-n%C3%A2ng-ti%C3%AAu-chu%E1%BA%A9n-kh%C3%AD-th%E1%BA%A3i-%C4%91%E1%BB%91i-v%E1%BB%9Bi-%C3%B4-t%C3%B4-%C4%91%E1%BB%83-b%E1%BA%A3o-v%E1%BB%87-m%C3%B4i-tr%C6%B0%E1%BB%9Dng.aspx">
                        <span id="ctl00_PlaceHolderTopColMiddle_g_5271cf1b_ba26_4ac5_99bc_7a7b243c3627_ctl00_rptintuc_ctl01_lblchitiet"> Chi Tiết</span>
                    </a>
                </div>
                <p class="date">
                    <time datetime="2013-01-21">
                        25/9/2018 10:20:35 PM
                    </time>
                    <span class="comments_count"></span>
                </p>
            </div>
        </div>
        <div class="newestItem firstNewsetItem">
            <div class="newestItemTitle-Detail">
                <a title="Đề xuất nâng tiêu chuẩn khí thải đối với ô tô để bảo vệ môi trường" href="http://vea.gov.vn/vn/vanbanphapquy/tintucvbqppl/Pages/%C4%90%E1%BB%81-xu%E1%BA%A5t-n%C3%A2ng-ti%C3%AAu-chu%E1%BA%A9n-kh%C3%AD-th%E1%BA%A3i-%C4%91%E1%BB%91i-v%E1%BB%9Bi-%C3%B4-t%C3%B4-%C4%91%E1%BB%83-b%E1%BA%A3o-v%E1%BB%87-m%C3%B4i-tr%C6%B0%E1%BB%9Dng.aspx">
                    Doanh nghiệp dùng phân bón cây, dân kêu trời vì ô nhiễm<img width="31px" height="20px" src="/Văn bản quy phạm pháp luật_files/new-icon.png" style="display:none">
                </a>
            </div>
            <div class="content">
                <p>
                    <a title="Đề xuất nâng tiêu chuẩn khí thải đối với ô tô để bảo vệ môi trường" href="http://vea.gov.vn/vn/vanbanphapquy/tintucvbqppl/Pages/%C4%90%E1%BB%81-xu%E1%BA%A5t-n%C3%A2ng-ti%C3%AAu-chu%E1%BA%A9n-kh%C3%AD-th%E1%BA%A3i-%C4%91%E1%BB%91i-v%E1%BB%9Bi-%C3%B4-t%C3%B4-%C4%91%E1%BB%83-b%E1%BA%A3o-v%E1%BB%87-m%C3%B4i-tr%C6%B0%E1%BB%9Dng.aspx">
                        <img alt="(Ảnh minh họa)" src="~/images/content/tien_phong_o__nhiem_teei.jpg" style="BORDER: 0px solid; width:120px; height:80px; float:left; margin-right:5px">
                    </a>
                    <span style="position:relative; top:5px;">Người dân cho rằng việc Công ty TNHH chăn nuôi Hòa Phát sử dụng phân bò không qua xử lý để trồng cây là nguyên nhân khiến số lượng ruồi tăng đột biến đã làm đảo lộn cuộc sống hàng ngày...</span>
                </p>
                <div class="readMoreDetail">
                    <a title="Đề xuất nâng tiêu chuẩn khí thải đối với ô tô để bảo vệ môi trường" href="http://vea.gov.vn/vn/vanbanphapquy/tintucvbqppl/Pages/%C4%90%E1%BB%81-xu%E1%BA%A5t-n%C3%A2ng-ti%C3%AAu-chu%E1%BA%A9n-kh%C3%AD-th%E1%BA%A3i-%C4%91%E1%BB%91i-v%E1%BB%9Bi-%C3%B4-t%C3%B4-%C4%91%E1%BB%83-b%E1%BA%A3o-v%E1%BB%87-m%C3%B4i-tr%C6%B0%E1%BB%9Dng.aspx">
                        <span id="ctl00_PlaceHolderTopColMiddle_g_5271cf1b_ba26_4ac5_99bc_7a7b243c3627_ctl00_rptintuc_ctl01_lblchitiet"> Chi Tiết</span>
                    </a>
                </div>
                <p class="date">
                    <time datetime="2013-01-21">
                        14/8/2018 15:20:35 PM
                    </time>
                    <span class="comments_count"></span>
                </p>
            </div>
        </div>
        <div class="newestItem firstNewsetItem">
            <div class="newestItemTitle-Detail">
                <a title="Đề xuất nâng tiêu chuẩn khí thải đối với ô tô để bảo vệ môi trường" href="http://vea.gov.vn/vn/vanbanphapquy/tintucvbqppl/Pages/%C4%90%E1%BB%81-xu%E1%BA%A5t-n%C3%A2ng-ti%C3%AAu-chu%E1%BA%A9n-kh%C3%AD-th%E1%BA%A3i-%C4%91%E1%BB%91i-v%E1%BB%9Bi-%C3%B4-t%C3%B4-%C4%91%E1%BB%83-b%E1%BA%A3o-v%E1%BB%87-m%C3%B4i-tr%C6%B0%E1%BB%9Dng.aspx">
                    Ô nhiễm khói xe góp phần gây bệnh béo phì ở trẻ em<img width="31px" height="20px" src="/Văn bản quy phạm pháp luật_files/new-icon.png" style="display:none">
                </a>
            </div>
            <div class="content">
                <p>
                    <a title="Đề xuất nâng tiêu chuẩn khí thải đối với ô tô để bảo vệ môi trường" href="http://vea.gov.vn/vn/vanbanphapquy/tintucvbqppl/Pages/%C4%90%E1%BB%81-xu%E1%BA%A5t-n%C3%A2ng-ti%C3%AAu-chu%E1%BA%A9n-kh%C3%AD-th%E1%BA%A3i-%C4%91%E1%BB%91i-v%E1%BB%9Bi-%C3%B4-t%C3%B4-%C4%91%E1%BB%83-b%E1%BA%A3o-v%E1%BB%87-m%C3%B4i-tr%C6%B0%E1%BB%9Dng.aspx">
                        <img alt="(Ảnh minh họa)" src="~/images/content/o-nhiem-khoi-xe-gop-phan-gay-benh-beo-phi-o-tre-em.jpg" style="BORDER: 0px solid; width:120px; height:80px; float:left; margin-right:5px">
                    </a>
                    <span style="position:relative; top:5px;">Một nghiên cứu mới đây đã chỉ ra rằng, tiếp xúc với ô nhiễm không khí do khói xe từ sớm sẽ làm tăng nguy cơ béo phì ở trẻ em...</span>
                </p>
                <div class="readMoreDetail">
                    <a title="Đề xuất nâng tiêu chuẩn khí thải đối với ô tô để bảo vệ môi trường" href="http://vea.gov.vn/vn/vanbanphapquy/tintucvbqppl/Pages/%C4%90%E1%BB%81-xu%E1%BA%A5t-n%C3%A2ng-ti%C3%AAu-chu%E1%BA%A9n-kh%C3%AD-th%E1%BA%A3i-%C4%91%E1%BB%91i-v%E1%BB%9Bi-%C3%B4-t%C3%B4-%C4%91%E1%BB%83-b%E1%BA%A3o-v%E1%BB%87-m%C3%B4i-tr%C6%B0%E1%BB%9Dng.aspx">
                        <span id="ctl00_PlaceHolderTopColMiddle_g_5271cf1b_ba26_4ac5_99bc_7a7b243c3627_ctl00_rptintuc_ctl01_lblchitiet"> Chi Tiết</span>
                    </a>
                </div>
                <p class="date">
                    <time datetime="2013-01-21">
                        27/7/2018 10:20:35 PM
                    </time>
                    <span class="comments_count"></span>
                </p>
            </div>
        </div>
        <div class="newestItem firstNewsetItem">
            <div class="newestItemTitle-Detail">
                <a title="Đề xuất nâng tiêu chuẩn khí thải đối với ô tô để bảo vệ môi trường" href="http://vea.gov.vn/vn/vanbanphapquy/tintucvbqppl/Pages/%C4%90%E1%BB%81-xu%E1%BA%A5t-n%C3%A2ng-ti%C3%AAu-chu%E1%BA%A9n-kh%C3%AD-th%E1%BA%A3i-%C4%91%E1%BB%91i-v%E1%BB%9Bi-%C3%B4-t%C3%B4-%C4%91%E1%BB%83-b%E1%BA%A3o-v%E1%BB%87-m%C3%B4i-tr%C6%B0%E1%BB%9Dng.aspx">
                    Hà Nội: Xây dựng cơ chế khuyến khích xã hội hóa công tác bảo vệ môi trường<img width="31px" height="20px" src="/Văn bản quy phạm pháp luật_files/new-icon.png" style="display:none">
                </a>
            </div>
            <div class="content">
                <p>
                    <a title="Đề xuất nâng tiêu chuẩn khí thải đối với ô tô để bảo vệ môi trường" href="http://vea.gov.vn/vn/vanbanphapquy/tintucvbqppl/Pages/%C4%90%E1%BB%81-xu%E1%BA%A5t-n%C3%A2ng-ti%C3%AAu-chu%E1%BA%A9n-kh%C3%AD-th%E1%BA%A3i-%C4%91%E1%BB%91i-v%E1%BB%9Bi-%C3%B4-t%C3%B4-%C4%91%E1%BB%83-b%E1%BA%A3o-v%E1%BB%87-m%C3%B4i-tr%C6%B0%E1%BB%9Dng.aspx">
                        <img alt="(Ảnh minh họa)" src="~/images/content/20181113 (1).jpg" style="BORDER: 0px solid; width:120px; height:80px; float:left; margin-right:5px">
                    </a>
                    <span style="position:relative; top:5px;">Sáng 12/11, Đoàn công tác của Ban Chỉ đạo (BCĐ) T.Ư do Phó Trưởng ban Thường trực Ban Kinh tế T.Ư, Phó Trưởng ban Thường trực BCĐ Cao Đức Phát làm trưởng đoàn đã có buổi làm việc với UBND TP Hà Nội...</span>
                </p>
                <div class="readMoreDetail">
                    <a title="Đề xuất nâng tiêu chuẩn khí thải đối với ô tô để bảo vệ môi trường" href="http://vea.gov.vn/vn/vanbanphapquy/tintucvbqppl/Pages/%C4%90%E1%BB%81-xu%E1%BA%A5t-n%C3%A2ng-ti%C3%AAu-chu%E1%BA%A9n-kh%C3%AD-th%E1%BA%A3i-%C4%91%E1%BB%91i-v%E1%BB%9Bi-%C3%B4-t%C3%B4-%C4%91%E1%BB%83-b%E1%BA%A3o-v%E1%BB%87-m%C3%B4i-tr%C6%B0%E1%BB%9Dng.aspx">
                        <span id="ctl00_PlaceHolderTopColMiddle_g_5271cf1b_ba26_4ac5_99bc_7a7b243c3627_ctl00_rptintuc_ctl01_lblchitiet"> Chi Tiết</span>
                    </a>
                </div>
                <p class="date">
                    <time datetime="2013-01-21">
                        22/7/2018 17:20:35 PM
                    </time>
                    <span class="comments_count"></span>
                </p>
            </div>
        </div>
        <div class="newestItem firstNewsetItem">
            <div class="newestItemTitle-Detail">
                <a title="Đề xuất nâng tiêu chuẩn khí thải đối với ô tô để bảo vệ môi trường" href="http://vea.gov.vn/vn/vanbanphapquy/tintucvbqppl/Pages/%C4%90%E1%BB%81-xu%E1%BA%A5t-n%C3%A2ng-ti%C3%AAu-chu%E1%BA%A9n-kh%C3%AD-th%E1%BA%A3i-%C4%91%E1%BB%91i-v%E1%BB%9Bi-%C3%B4-t%C3%B4-%C4%91%E1%BB%83-b%E1%BA%A3o-v%E1%BB%87-m%C3%B4i-tr%C6%B0%E1%BB%9Dng.aspx">
                    Đề xuất nâng tiêu chuẩn khí thải đối với ô tô để bảo vệ môi trường<img width="31px" height="20px" src="/Văn bản quy phạm pháp luật_files/new-icon.png" style="display:none">
                </a>
            </div>
            <div class="content">
                <p>
                    <a title="Đề xuất nâng tiêu chuẩn khí thải đối với ô tô để bảo vệ môi trường" href="http://vea.gov.vn/vn/vanbanphapquy/tintucvbqppl/Pages/%C4%90%E1%BB%81-xu%E1%BA%A5t-n%C3%A2ng-ti%C3%AAu-chu%E1%BA%A9n-kh%C3%AD-th%E1%BA%A3i-%C4%91%E1%BB%91i-v%E1%BB%9Bi-%C3%B4-t%C3%B4-%C4%91%E1%BB%83-b%E1%BA%A3o-v%E1%BB%87-m%C3%B4i-tr%C6%B0%E1%BB%9Dng.aspx">
                        <img alt="(Ảnh minh họa)" src="~/images/content/big_video2.jpg" style="BORDER: 0px solid; width:120px; height:80px; float:left; margin-right:5px">
                    </a>
                    <span style="position:relative; top:5px;">Cục Đăng kiểm Việt Nam đã đề xuất nâng tiêu chuẩn khí thải đối với ô tô lên mức 2 nhằm giảm thiểu tình trạng ô nhiễm môi trường đang ngày càng nghiêm trọng.</span>
                </p>
                <div class="readMoreDetail">
                    <a title="Đề xuất nâng tiêu chuẩn khí thải đối với ô tô để bảo vệ môi trường" href="http://vea.gov.vn/vn/vanbanphapquy/tintucvbqppl/Pages/%C4%90%E1%BB%81-xu%E1%BA%A5t-n%C3%A2ng-ti%C3%AAu-chu%E1%BA%A9n-kh%C3%AD-th%E1%BA%A3i-%C4%91%E1%BB%91i-v%E1%BB%9Bi-%C3%B4-t%C3%B4-%C4%91%E1%BB%83-b%E1%BA%A3o-v%E1%BB%87-m%C3%B4i-tr%C6%B0%E1%BB%9Dng.aspx">
                        <span id="ctl00_PlaceHolderTopColMiddle_g_5271cf1b_ba26_4ac5_99bc_7a7b243c3627_ctl00_rptintuc_ctl01_lblchitiet"> Chi Tiết</span>
                    </a>
                </div>
                <p class="date">
                    <time datetime="2013-01-21">
                        15/06/2018 09:20:35 PM
                    </time>
                    <span class="comments_count"></span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 news-right">
        <div class="col-md-12 news-new-title">
            <section class="block_business_news block">
                <h3 class="block_title_black">CHUYÊN MỤC TIN</h3>
                <div class="content">

                    <div class="right">
                        <ul>
                            <li class="first">
                                <article>
                                    <hgroup>
                                        <h4 class="title"><a href="#">Điện Biên: Sông Nậm Rốm tiếp tục bị ô nhiễm do sơ chế dong riềng.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-21">
                                            17/8/2018 10:35:21 PM
                                        </time>
                                        <span class="comments_count"><a href="#">10</a></span>
                                    </p>
                                    <p>
                                        ​Giải quyết tình trạng ô nhiễm môi trường do sơ chế dong riềng là vấn đề nóng được chính quyền và các chủ cơ sở sản xuất tại xã Nà Tấu, Nà Nhạn, huyện Điện Biên, tỉnh Điện Biên nhiều năm tìm hướng khắc phục...
                                    </p>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <hgroup>
                                        <h4 class="title"><a href="#">Nam Định: Gây ô nhiễm môi trường, bãi rác bị người dân 'phong tỏa'.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-17">
                                            14/8/2018 9:14:10 PM
                                        </time>
                                        <span class="comments_count"><a href="#">1</a></span>
                                    </p>
                                    <p>
                                        Bức xúc trước việc bãi rác gây ô nhiễm môi trường nghiêm trọng, nhiều người dân đã tiến hành chặn đường, không cho xe vận chuyển rác thải chở rác vào điểm tập kết ...
                                    </p>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <hgroup>
                                        <h4 class="title"><a href="#">Nước biển không ô nhiễm, cá chết hàng loạt dạt bờ biển Đà Nẵng.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-17">
                                            18/7/2018 5:13:30 PM
                                        </time>
                                        <span class="comments_count"><a href="#">1</a></span>
                                    </p>
                                    <p>
                                        Ngày 11-11, Sở Tài nguyên & Môi trường (TN& MT) TP Đà Nẵng đã có báo cáo về việc xử lý tình trạng cá chết trôi dạt vào khu vực bãi biển Liên Chiểu chiều 10-11 khẳng định không có hiện tượng nước xả thải ra biển gây ô nhiễm vùng biển nêu trên...
                                    </p>
                                </article>
                            </li>
                            <li class="last">
                                <article>
                                    <hgroup>
                                        <h4 class="title"><a href="#">Doanh nghiệp dùng phân bón cây, dân kêu trời vì ô nhiễm.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-14">
                                            27/7/2018 10:19:43 PM
                                        </time>
                                        <span class="comments_count"><a href="#">5</a></span>
                                    </p>
                                    <p>
                                        Người dân cho rằng việc Công ty TNHH chăn nuôi Hòa Phát sử dụng phân bò không qua xử lý để trồng cây là nguyên nhân khiến số lượng ruồi tăng đột biến đã làm đảo lộn cuộc sống hàng ngày...
                                    </p>
                                </article>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-12 news-new">
            <section class="block_business_news block">
                <h3 class="block_title_black">TIN MỚI</h3>
                <div class="content">

                    <div class="right">
                        <ul>
                            <li class="first">
                                <article>
                                    <hgroup>
                                        <h4 class="title"><a href="#">Xử lý các cơ sở gây ô nhiễm nghiêm trọng chậm do thiếu vốn.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-21">
                                            12/9/2018 11:24:35 PM
                                        </time>
                                        <span class="comments_count"><a href="#">10</a></span>
                                    </p>
                                    <p>
                                        Thủ tướng Chính phủ đã phê duyệt Chương trình mục tiêu xử lý triệt để các cơ sở gây ô nhiễm môi trường nghiêm trọng thuộc đối tượng công ích giai đoạn 2016 – 2020...
                                    </p>
                                </article>
                            </li>
                            @*<li>
                                <article>
                                    <hgroup>
                                        <h4 class="title"><a href="#">Nam Định: Gây ô nhiễm môi trường, bãi rác bị người dân 'phong tỏa'.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-17">
                                            18/7/2018 5:13:30 PM
                                        </time>
                                        <span class="comments_count"><a href="#">1</a></span>
                                    </p>
                                    <p>
                                        Bức xúc trước việc bãi rác gây ô nhiễm môi trường nghiêm trọng, nhiều người dân đã tiến hành chặn đường, không cho xe vận chuyển rác thải chở rác vào điểm tập kết ...
                                    </p>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <hgroup>
                                        <h4 class="title"><a href="#">Nước biển không ô nhiễm, cá chết hàng loạt dạt bờ biển Đà Nẵng.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-17">
                                            18/7/2018 5:13:30 PM
                                        </time>
                                        <span class="comments_count"><a href="#">1</a></span>
                                    </p>
                                    <p>
                                        Ngày 11-11, Sở Tài nguyên & Môi trường (TN& MT) TP Đà Nẵng đã có báo cáo về việc xử lý tình trạng cá chết trôi dạt vào khu vực bãi biển Liên Chiểu chiều 10-11 khẳng định không có hiện tượng nước xả thải ra biển gây ô nhiễm vùng biển nêu trên...
                                    </p>
                                </article>
                            </li>
                            <li class="last">
                                <article>
                                    <hgroup>
                                        <h4 class="title"><a href="#">Doanh nghiệp dùng phân bón cây, dân kêu trời vì ô nhiễm.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-14">
                                            27/7/2018 10:19:43 PM
                                        </time>
                                        <span class="comments_count"><a href="#">5</a></span>
                                    </p>
                                    <p>
                                        Người dân cho rằng việc Công ty TNHH chăn nuôi Hòa Phát sử dụng phân bò không qua xử lý để trồng cây là nguyên nhân khiến số lượng ruồi tăng đột biến đã làm đảo lộn cuộc sống hàng ngày...
                                    </p>
                                </article>
                            </li>*@
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-12 news-popular">
            <section class="block_business_news block">
                <h3 class="block_title_black">TIN XEM NHIỀU</h3>
                <div class="content">

                    <div class="right">
                        <ul>
                            <li class="first">
                                <article>
                                    <hgroup>
                                        <h4 class="title"><a href="#">Nước biển không ô nhiễm, cá chết hàng loạt dạt bờ biển Đà Nẵng.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-17">
                                            12/8/2018 9:17:30 PM
                                        </time>
                                        <span class="comments_count"><a href="#">1</a></span>
                                    </p>
                                    <p>
                                        Ngày 11-11, Sở Tài nguyên & Môi trường (TN& MT) TP Đà Nẵng đã có báo cáo về việc xử lý tình trạng cá chết trôi dạt vào khu vực bãi biển Liên Chiểu chiều 10-11 khẳng định không có hiện tượng nước xả thải ra biển gây ô nhiễm vùng biển nêu trên...
                                    </p>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <hgroup>
                                        <h4 class="title"><a href="#">Nước biển không ô nhiễm, cá chết hàng loạt dạt bờ biển Đà Nẵng.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-17">
                                            18/7/2018 5:13:30 PM
                                        </time>
                                        <span class="comments_count"><a href="#">1</a></span>
                                    </p>
                                    <p>
                                        Ngày 11-11, Sở Tài nguyên & Môi trường (TN& MT) TP Đà Nẵng đã có báo cáo về việc xử lý tình trạng cá chết trôi dạt vào khu vực bãi biển Liên Chiểu chiều 10-11 khẳng định không có hiện tượng nước xả thải ra biển gây ô nhiễm vùng biển nêu trên...
                                    </p>
                                </article>
                            </li>
                            <li class="last">
                                <article>
                                    <hgroup>
                                        <h4 class="title"><a href="#">Doanh nghiệp dùng phân bón cây, dân kêu trời vì ô nhiễm.</a></h4>
                                    </hgroup>
                                    <p class="date">
                                        <time datetime="2013-01-14">
                                            27/7/2018 10:19:43 PM
                                        </time>
                                        <span class="comments_count"><a href="#">5</a></span>
                                    </p>
                                    <p>
                                        Người dân cho rằng việc Công ty TNHH chăn nuôi Hòa Phát sử dụng phân bò không qua xử lý để trồng cây là nguyên nhân khiến số lượng ruồi tăng đột biến đã làm đảo lộn cuộc sống hàng ngày...
                                    </p>
                                </article>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
     </div>
</div>