@{
    ViewData["Title"] = "Tracuu";
}
<style>
    #right_sidebar {
        display: none !important;
    }
    .thumbnail {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
        transition: 0.3s;
        min-width: 40%;
        border-radius: 5px;
        padding: 10px;
    }

    .thumbnail-description {
        min-height: 40px;
    }

    .thumbnail:hover {
        cursor: pointer;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
    }

    .thumbnail-label {
        font-size: 14px !important;
        float: left;
        color: blue;
    }
</style>

<div class="portlet-column portlet-column-only container" id="column-1" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-8">
            <div class="block">
                <h3 class="block_title_black">Tra cứu</h3>
            </div>
            <div class="portlet-dropzone portlet-column-content portlet-column-content-only" id="layout-column_column-1">
                <div id="p_p_id_tracuupaknaction_WAR_apcapaknportlet_" class="portlet-boundary portlet-boundary_tracuupaknaction_WAR_apcapaknportlet_ portlet-static portlet-static-end portlet-borderless tracuupaknaction-portlet ">
                    <span id="p_tracuupaknaction_WAR_apcapaknportlet"></span>
                    <div class="portlet-body">
                        <div class="portlet-borderless-container" style="">
                            <div class="portlet-body">
                                <div class="box-KN MB20" style="padding: 10px">

                                    <form class="form-horizontal" role="form" method="post" action="https://nguoidan.chinhphu.vn/web/quan-tri-he-thong/tra-cuu-ket-qua?p_p_id=tracuupaknaction_WAR_apcapaknportlet&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_tracuupaknaction_WAR_apcapaknportlet_mvcPath=%2Fhtml%2Ftracuupaknaction%2Fview.jsp&amp;p_auth=xnYz6bfz">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Tên người gửi</label>
                                            <div class="col-sm-9"> <input type="text" class="form-control" id="inputEmail3" placeholder="Nhập tên công dân" name="tenNguoiGui" value=""> </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                                            <div class="col-sm-9"> <input type="text" class="form-control" id="inputEmail3" placeholder="Nhập tên công dân" name="tenNguoiGui" value=""> </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Số điện thoại</label>
                                            <div class="col-sm-9"> <input type="text" class="form-control" id="inputEmail3" placeholder="Nhập tên công dân" name="tenNguoiGui" value=""> </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Thời gian công khai</label>
                                            <div class="col-sm-9"> <input type="date" class="form-control" placeholder="Thời gian công khai" aria-controls="aui_3_4_0_1_89"> </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9"> <button type="submit" class="btn btn-danger"><i class="MR5 fa fa-search" aria-hidden="true"></i>Tìm kiếm</button> <button type="submit" class="btn btn-default">Nhập lại</button> </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="row" style="padding: 10px;">
                                    <div class="col-md-12">
                                        <div class="thumbnail">
                                            <div class="caption text-center row">
                                                <div class="col-md-2">
                                                    <div class="position-relative">
                                                        <img src="https://nguoidan.chinhphu.vn/apca-pakn-portlet/images/MediaObj_Placeholder.png" style="width:72px;height:72px;" />
                                                    </div>
                                                </div>

                                                <div class="col-md-10">
                                                    <h4 class="thumbnail-label">Kiến nghị khắc phục ô nhiễm môi trường sông Đáy</h4>
                                                    <p><i class="glyphicon glyphicon-user light-red lighter bigger-120"></i>&nbsp;Bà Nguyễn Thị Trang</p>
                                                    <br />
                                                    <time datetime="2013-01-21" style="float: left">
                                                        22/10/2018 7:23:35 PM
                                                    </time>
                                                    <div class="thumbnail-description smaller">
                                                        <p style="margin-top: 10px; float: left; font-size: 13px;">Rất nhiều người dân ở Chương Mỹ phản ánh, ô nhiễm môi trường sông Đáy rất nghiêm trọng, đề nghị thành phố sớm có giải pháp khắc phục để phục vụ đời sống, sản xuất của nhân dân.</p>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="caption card-footer text-center">
                                                <ul class="list-inline" style="height: 100px;"></ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="thumbnail">
                                            <div class="caption text-center row">
                                                <div class="col-md-2">
                                                    <div class="position-relative">
                                                        <img src="https://nguoidan.chinhphu.vn/apca-pakn-portlet/images/MediaObj_Placeholder.png" style="width:72px;height:72px;" />
                                                    </div>
                                                </div>

                                                <div class="col-md-10">
                                                    <h4 class="thumbnail-label">Môi trường sống Hà Nội có nguy cơ bùng phát dịch bệnh</h4>
                                                    <p><i class="glyphicon glyphicon-user light-red lighter bigger-120"></i>&nbsp;Ông Trần Đức Hiền</p>
                                                    <br />
                                                    <time datetime="2013-01-21" style="float: left">
                                                        22/11/2018 7:23:35 PM
                                                    </time>
                                                    <div class="thumbnail-description smaller">
                                                        <p style="margin-top: 10px; float: left; font-size: 13px;">Nhiều mương thoát nước ở Hà Nội đã bị biến thành mương rác, gây tắc nghẽn và ô nhiễm môi trường nghiêm trọng, trong khi mùa mưa đã tới.</p>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="caption card-footer text-center">
                                                <ul class="list-inline" style="height: 100px;"></ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="thumbnail">
                                            <div class="caption text-center row">
                                                <div class="col-md-2">
                                                    <div class="position-relative">
                                                        <img src="https://nguoidan.chinhphu.vn/apca-pakn-portlet/images/MediaObj_Placeholder.png" style="width:72px;height:72px;" />
                                                    </div>
                                                </div>

                                                <div class="col-md-10">
                                                    <h4 class="thumbnail-label">Ô nhiễm môi trường sông Tô Lịch</h4>
                                                    <p><i class="glyphicon glyphicon-user light-red lighter bigger-120"></i>&nbsp;Ông Nguyễn Văn Nam</p>
                                                    <br />
                                                    <time datetime="2013-01-21" style="float: left">
                                                        02/11/2018 7:23:35 PM
                                                    </time>
                                                    <div class="thumbnail-description smaller">
                                                        <p style="margin-top: 10px; float: left; font-size: 13px;">Sông tô lịch gần đây bốc mùi hôi thối. Rác thải sinh hoạt, nước thải từ các nhà máy và khu dân cư lân cận ngày ngày thải trực tiếp ra khu vực sông Tô Lịch (Hà Nội), khiến dòng nước "ngậm" đầy rác trở nên đen ngòm, nồng nặc hôi tanh.</p>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="caption card-footer text-center">
                                                <ul class="list-inline" style="height: 100px;"></ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="thumbnail">
                                            <div class="caption text-center row">
                                                <div class="col-md-2">
                                                    <div class="position-relative">
                                                        <img src="https://nguoidan.chinhphu.vn/apca-pakn-portlet/images/MediaObj_Placeholder.png" style="width:72px;height:72px;" />
                                                    </div>
                                                </div>

                                                <div class="col-md-10">
                                                    <h4 class="thumbnail-label">Ô nhiễm không khí tại TP.HCM đang ở mức báo động</h4>
                                                    <p><i class="glyphicon glyphicon-user light-red lighter bigger-120"></i>&nbsp;Bà Bùi Thị Thanh Trang</p>
                                                    <br />
                                                    <time datetime="2013-01-21" style="float: left">
                                                        01/10/2018 7:23:35 PM
                                                    </time>
                                                    <div class="thumbnail-description smaller">
                                                        <p style="margin-top: 10px; float: left; font-size: 13px;">Những khu vực có mức độ ô nhiễm cao thường đi kèm với mật độ giao thông đông đúc như khu vực: Ngã tư An Sương, khu vực ra vào cảng Cát Lái, đường Cộng Hòa, Trường Chinh, Nguyễn Hữu Thọ, ngã sáu Gò Vấp….</p>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="caption card-footer text-center">
                                                <ul class="list-inline" style="height: 100px;"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 news-right">
            <div class="col-md-12 news-new-title">
                <section class="block_business_news block">
                    <h3 class="block_title_black">CHUYÊN MỤC TIN</h3>
                    <div class="content">

                        <div class="right">
                            <ul>
                                <li class="first">
                                    <article>
                                        <hgroup>
                                            <h4 class="title"><a href="#">Điện Biên: Sông Nậm Rốm tiếp tục bị ô nhiễm do sơ chế dong riềng.</a></h4>
                                        </hgroup>
                                        <p class="date">
                                            <time datetime="2013-01-21">
                                                17/8/2018 10:35:21 PM
                                            </time>
                                            <span class="comments_count"><a href="#">10</a></span>
                                        </p>
                                        <p>
                                            &#8203;Giải quyết tình trạng ô nhiễm môi trường do sơ chế dong riềng là vấn đề nóng được chính quyền và các chủ cơ sở sản xuất tại xã Nà Tấu, Nà Nhạn, huyện Điện Biên, tỉnh Điện Biên nhiều năm tìm hướng khắc phục...
                                        </p>
                                    </article>
                                </li>
                                <li>
                                    <article>
                                        <hgroup>
                                            <h4 class="title"><a href="#">Nam Định: Gây ô nhiễm môi trường, bãi rác bị người dân 'phong tỏa'.</a></h4>
                                        </hgroup>
                                        <p class="date">
                                            <time datetime="2013-01-17">
                                                14/8/2018 9:14:10 PM
                                            </time>
                                            <span class="comments_count"><a href="#">1</a></span>
                                        </p>
                                        <p>
                                            Bức xúc trước việc bãi rác gây ô nhiễm môi trường nghiêm trọng, nhiều người dân đã tiến hành chặn đường, không cho xe vận chuyển rác thải chở rác vào điểm tập kết ...
                                        </p>
                                    </article>
                                </li>
                                <li>
                                    <article>
                                        <hgroup>
                                            <h4 class="title"><a href="#">Nước biển không ô nhiễm, cá chết hàng loạt dạt bờ biển Đà Nẵng.</a></h4>
                                        </hgroup>
                                        <p class="date">
                                            <time datetime="2013-01-17">
                                                18/7/2018 5:13:30 PM
                                            </time>
                                            <span class="comments_count"><a href="#">1</a></span>
                                        </p>
                                        <p>
                                            Ngày 11-11, Sở Tài nguyên &amp; Môi trường (TN&amp; MT) TP Đà Nẵng đã có báo cáo về việc xử lý tình trạng cá chết trôi dạt vào khu vực bãi biển Liên Chiểu chiều 10-11 khẳng định không có hiện tượng nước xả thải ra biển gây ô nhiễm vùng biển nêu trên...
                                        </p>
                                    </article>
                                </li>
                                <li class="last">
                                    <article>
                                        <hgroup>
                                            <h4 class="title"><a href="#">Doanh nghiệp dùng phân bón cây, dân kêu trời vì ô nhiễm.</a></h4>
                                        </hgroup>
                                        <p class="date">
                                            <time datetime="2013-01-14">
                                                27/7/2018 10:19:43 PM
                                            </time>
                                            <span class="comments_count"><a href="#">5</a></span>
                                        </p>
                                        <p>
                                            Người dân cho rằng việc Công ty TNHH chăn nuôi Hòa Phát sử dụng phân bò không qua xử lý để trồng cây là nguyên nhân khiến số lượng ruồi tăng đột biến đã làm đảo lộn cuộc sống hàng ngày...
                                        </p>
                                    </article>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-12 news-new">
                <section class="block_business_news block">
                    <h3 class="block_title_black">TIN MỚI</h3>
                    <div class="content">

                        <div class="right">
                            <ul>
                                <li class="first">
                                    <article>
                                        <hgroup>
                                            <h4 class="title"><a href="#">Xử lý các cơ sở gây ô nhiễm nghiêm trọng chậm do thiếu vốn.</a></h4>
                                        </hgroup>
                                        <p class="date">
                                            <time datetime="2013-01-21">
                                                12/9/2018 11:24:35 PM
                                            </time>
                                            <span class="comments_count"><a href="#">10</a></span>
                                        </p>
                                        <p>
                                            Thủ tướng Chính phủ đã phê duyệt Chương trình mục tiêu xử lý triệt để các cơ sở gây ô nhiễm môi trường nghiêm trọng thuộc đối tượng công ích giai đoạn 2016 – 2020...
                                        </p>
                                    </article>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-12 news-popular">
                <section class="block_business_news block">
                    <h3 class="block_title_black">TIN XEM NHIỀU</h3>
                    <div class="content">

                        <div class="right">
                            <ul>
                                <li class="first">
                                    <article>
                                        <hgroup>
                                            <h4 class="title"><a href="#">Nước biển không ô nhiễm, cá chết hàng loạt dạt bờ biển Đà Nẵng.</a></h4>
                                        </hgroup>
                                        <p class="date">
                                            <time datetime="2013-01-17">
                                                12/8/2018 9:17:30 PM
                                            </time>
                                            <span class="comments_count"><a href="#">1</a></span>
                                        </p>
                                        <p>
                                            Ngày 11-11, Sở Tài nguyên &amp; Môi trường (TN&amp; MT) TP Đà Nẵng đã có báo cáo về việc xử lý tình trạng cá chết trôi dạt vào khu vực bãi biển Liên Chiểu chiều 10-11 khẳng định không có hiện tượng nước xả thải ra biển gây ô nhiễm vùng biển nêu trên...
                                        </p>
                                    </article>
                                </li>
                                <li>
                                    <article>
                                        <hgroup>
                                            <h4 class="title"><a href="#">Nước biển không ô nhiễm, cá chết hàng loạt dạt bờ biển Đà Nẵng.</a></h4>
                                        </hgroup>
                                        <p class="date">
                                            <time datetime="2013-01-17">
                                                18/7/2018 5:13:30 PM
                                            </time>
                                            <span class="comments_count"><a href="#">1</a></span>
                                        </p>
                                        <p>
                                            Ngày 11-11, Sở Tài nguyên &amp; Môi trường (TN&amp; MT) TP Đà Nẵng đã có báo cáo về việc xử lý tình trạng cá chết trôi dạt vào khu vực bãi biển Liên Chiểu chiều 10-11 khẳng định không có hiện tượng nước xả thải ra biển gây ô nhiễm vùng biển nêu trên...
                                        </p>
                                    </article>
                                </li>
                                <li class="last">
                                    <article>
                                        <hgroup>
                                            <h4 class="title"><a href="#">Doanh nghiệp dùng phân bón cây, dân kêu trời vì ô nhiễm.</a></h4>
                                        </hgroup>
                                        <p class="date">
                                            <time datetime="2013-01-14">
                                                27/7/2018 10:19:43 PM
                                            </time>
                                            <span class="comments_count"><a href="#">5</a></span>
                                        </p>
                                        <p>
                                            Người dân cho rằng việc Công ty TNHH chăn nuôi Hòa Phát sử dụng phân bò không qua xử lý để trồng cây là nguyên nhân khiến số lượng ruồi tăng đột biến đã làm đảo lộn cuộc sống hàng ngày...
                                        </p>
                                    </article>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
  
</div>

