@{
    ViewData["Title"] = "Tracuu";
}
<style>
    #right_sidebar {
        display: none !important;
    }
    .thumbnail {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
        transition: 0.3s;
        min-width: 40%;
        border-radius: 5px;
    }

    .thumbnail-description {
        min-height: 40px;
    }

    .thumbnail:hover {
        cursor: pointer;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
    }
</style>

<div class="portlet-column portlet-column-only container" id="column-1" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-8">
            <div class="block">
                <h3 class="block_title_black">Tra cứu</h3>
            </div>
            <div class="portlet-dropzone portlet-column-content portlet-column-content-only" id="layout-column_column-1">
                <div id="p_p_id_tracuupaknaction_WAR_apcapaknportlet_" class="portlet-boundary portlet-boundary_tracuupaknaction_WAR_apcapaknportlet_ portlet-static portlet-static-end portlet-borderless tracuupaknaction-portlet ">
                    <span id="p_tracuupaknaction_WAR_apcapaknportlet"></span>
                    <div class="portlet-body">
                        <div class="portlet-borderless-container" style="">
                            <div class="portlet-body">
                                <div class="box-KN MB20" style="padding: 10px">

                                    <form class="form-horizontal" role="form" method="post" action="https://nguoidan.chinhphu.vn/web/quan-tri-he-thong/tra-cuu-ket-qua?p_p_id=tracuupaknaction_WAR_apcapaknportlet&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_tracuupaknaction_WAR_apcapaknportlet_mvcPath=%2Fhtml%2Ftracuupaknaction%2Fview.jsp&amp;p_auth=xnYz6bfz">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Tên người gửi</label>
                                            <div class="col-sm-9"> <input type="text" class="form-control" id="inputEmail3" placeholder="Nhập tên công dân" name="tenNguoiGui" value=""> </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                                            <div class="col-sm-9"> <input type="text" class="form-control" id="inputEmail3" placeholder="Nhập tên công dân" name="tenNguoiGui" value=""> </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Số điện thoại</label>
                                            <div class="col-sm-9"> <input type="text" class="form-control" id="inputEmail3" placeholder="Nhập tên công dân" name="tenNguoiGui" value=""> </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Thời gian công khai</label>
                                            <div class="col-sm-9"> <input type="date" class="form-control" placeholder="Thời gian công khai" aria-controls="aui_3_4_0_1_89"> </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9"> <button type="submit" class="btn btn-danger"><i class="MR5 fa fa-search" aria-hidden="true"></i>Tìm kiếm</button> <button type="submit" class="btn btn-default">Nhập lại</button> </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="row" style="padding: 10px;">
                                    <div class="col-md-12">
                                        <div class="thumbnail">
                                            <div class="caption text-center row">
                                                <div class="col-md-2">
                                                    <div class="position-relative">
                                                        <img src="https://nguoidan.chinhphu.vn/apca-pakn-portlet/images/MediaObj_Placeholder.png" style="width:72px;height:72px;" />
                                                    </div>
                                                </div>

                                                <div class="col-md-10">
                                                    <h4 id="thumbnail-label">kiến nghị khắc phục ô nhiễm môi trường sông Đáy</h4>
                                                    <p><i class="glyphicon glyphicon-user light-red lighter bigger-120"></i>&nbsp;Auditor</p>
                                                    <div class="thumbnail-description smaller">
                                                        <p>kiến nghị khắc phục ô nhiễm môi trường sông Đáy</p>
                                                    </div>
                                                </div>
                                                
                                                
                                            </div>
                                            <div class="caption card-footer text-center">
                                                <ul class="list-inline">
                                                    <li><i class="people lighter"></i>&nbsp;7 Active Users</li>
                                                    <li></li>
                                                    <li><i class="glyphicon glyphicon-envelope lighter"></i><a href="#">&nbsp;Help</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>

