@{
    ViewData["Title"] = "Tracuu";
}
<style>
    #right_sidebar {
        display: none !important;
    }

    .thumbnail {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
        transition: 0.3s;
        min-width: 40%;
        border-radius: 5px;
        padding: 10px;
    }

    .thumbnail-description {
        min-height: 40px;
        height: 60px;
        line-height: 20px;
        overflow: hidden;
    }

    .thumbnail:hover {
        cursor: pointer;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
    }

    .thumbnail-label {
        font-size: 14px !important;
        float: left;
        color: blue;
    }
</style>

<div class="portlet-column portlet-column-only container" id="column-1" style="margin-top: 20px;">
    <div class="container">
        <div class="col-md-8">
            <div class="block">
                <h3 class="block_title_black">Tra cứu</h3>
            </div>
            <div class="portlet-dropzone portlet-column-content portlet-column-content-only" id="layout-column_column-1">
                <div id="p_p_id_tracuupaknaction_WAR_apcapaknportlet_" class="portlet-boundary portlet-boundary_tracuupaknaction_WAR_apcapaknportlet_ portlet-static portlet-static-end portlet-borderless tracuupaknaction-portlet ">
                    <span id="p_tracuupaknaction_WAR_apcapaknportlet"></span>
                    <div class="portlet-body">
                        <div class="portlet-borderless-container" style="">
                            <div class="portlet-body">
                                <div class="box-KN MB20" style="padding: 10px">

                                    <form class="form-horizontal" role="form" method="post" action="https://nguoidan.chinhphu.vn/web/quan-tri-he-thong/tra-cuu-ket-qua?p_p_id=tracuupaknaction_WAR_apcapaknportlet&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_tracuupaknaction_WAR_apcapaknportlet_mvcPath=%2Fhtml%2Ftracuupaknaction%2Fview.jsp&amp;p_auth=xnYz6bfz">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label" style="font-size:14px;padding-top: 10px;">Số PAKN</label>
                                            <div class="col-sm-9"> <input type="text" class="form-control" id="inputEmail" placeholder="Nhập số PAKN" name="pakn" value=""> </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label" style="font-size:14px;padding-top: 9px;">Tên người gửi</label>
                                            <div class="col-sm-9"> <input type="text" class="form-control" id="inputName" placeholder="Nhập tên công dân" name="tenNguoiGui" value=""> </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label" style="font-size:14px;padding-top: 9px;">Thời gian công khai</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="thoigiancongkhai" id="thoigiancongkhai" required readonly>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9"> <button type="button" onclick="getdata()" class="btn btn-danger"><i class="MR5 fa fa-search" aria-hidden="true"></i>Tìm kiếm</button> <button type="reset" class="btn btn-default">Nhập lại</button> </div>
                                        </div>
                                    </form>

                                </div>
                                <div id="lstGopy">
                                    <div class="MB20" style="font-size: 14px;">
                                        <div class="media-object-default media-object-default1 boT">
                                            <div class="media">
                                                <div class="media-left"> <a href="#"><img class="media-object img-thumbnail img-circle" src="~/images/MediaObj_Placeholder.png" width="80" alt="placeholder image"></a> </div> <div class="media-body">
                                                    <p class="text-muted" style="margin-bottom:8px;"><a style="color: blue;" href="#">trương ngọc thanh</a> - <i class="MR5 fa fa-clock-o" aria-hidden="true"></i>18/12/18</p> <h4 class="media-heading">
                                                        <a href="#" class="tieu-de-pakn">Kiến nghị về việc: sai thông tin căn cước công dân</a>
                                                    </h4>
                                                    <p class="text-justify"><b>Nội dung kiến nghị:</b> Một tháng trước, tôi có xin cấp lại thẻ căn cước với lý do bị mất CMND. Tôi cư ngụ ở quận 8, công an quận 8 có hẹn tôi 11/4/2018 lên lấy căn cước mới. Nhưng thông tin giới tính sai lệch. Vấn đề này sơ xuất của cán bộ đánh máy, đánh thông tin sai lệch. Nhưng khi tôi có ý kiến thì cán bộ nữ tên Nguyễn...</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="MB20" style="font-size: 14px;">
                                        <div class="media-object-default media-object-default1 boT">
                                            <div class="media">
                                                <div class="media-left"> <a href="#"><img class="media-object img-thumbnail img-circle" src="~/images/MediaObj_Placeholder.png" width="80" alt="placeholder image"></a> </div> <div class="media-body">
                                                    <p class="text-muted" style="margin-bottom:8px;"><a style="color: blue;" href="#">trương ngọc thanh</a> - <i class="MR5 fa fa-clock-o" aria-hidden="true"></i>18/12/18</p> <h4 class="media-heading">
                                                        <a href="#" class="tieu-de-pakn">Kiến nghị về việc: sai thông tin căn cước công dân</a>
                                                    </h4>
                                                    <p class="text-justify"><b>Nội dung kiến nghị:</b> Một tháng trước, tôi có xin cấp lại thẻ căn cước với lý do bị mất CMND. Tôi cư ngụ ở quận 8, công an quận 8 có hẹn tôi 11/4/2018 lên lấy căn cước mới. Nhưng thông tin giới tính sai lệch. Vấn đề này sơ xuất của cán bộ đánh máy, đánh thông tin sai lệch. Nhưng khi tôi có ý kiến thì cán bộ nữ tên Nguyễn...</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="MB20" style="font-size: 14px;">
                                        <div class="media-object-default media-object-default1 boT">
                                            <div class="media">
                                                <div class="media-left"> <a href="#"><img class="media-object img-thumbnail img-circle" src="~/images/MediaObj_Placeholder.png" width="80" alt="placeholder image"></a> </div> <div class="media-body">
                                                    <p class="text-muted" style="margin-bottom:8px;"><a style="color: blue;" href="#">trương ngọc thanh</a> - <i class="MR5 fa fa-clock-o" aria-hidden="true"></i>18/12/18</p> <h4 class="media-heading">
                                                        <a href="#" class="tieu-de-pakn">Kiến nghị về việc: sai thông tin căn cước công dân</a>
                                                    </h4>
                                                    <p class="text-justify"><b>Nội dung kiến nghị:</b> Một tháng trước, tôi có xin cấp lại thẻ căn cước với lý do bị mất CMND. Tôi cư ngụ ở quận 8, công an quận 8 có hẹn tôi 11/4/2018 lên lấy căn cước mới. Nhưng thông tin giới tính sai lệch. Vấn đề này sơ xuất của cán bộ đánh máy, đánh thông tin sai lệch. Nhưng khi tôi có ý kiến thì cán bộ nữ tên Nguyễn...</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="MB20" style="font-size: 14px;">
                                        <div class="media-object-default media-object-default1 boT">
                                            <div class="media">
                                                <div class="media-left"> <a href="#"><img class="media-object img-thumbnail img-circle" src="~/images/MediaObj_Placeholder.png" width="80" alt="placeholder image"></a> </div> <div class="media-body">
                                                    <p class="text-muted" style="margin-bottom:8px;"><a style="color: blue;" href="#">trương ngọc thanh</a> - <i class="MR5 fa fa-clock-o" aria-hidden="true"></i>18/12/18</p> <h4 class="media-heading">
                                                        <a href="#" class="tieu-de-pakn">Kiến nghị về việc: sai thông tin căn cước công dân</a>
                                                    </h4>
                                                    <p class="text-justify"><b>Nội dung kiến nghị:</b> Một tháng trước, tôi có xin cấp lại thẻ căn cước với lý do bị mất CMND. Tôi cư ngụ ở quận 8, công an quận 8 có hẹn tôi 11/4/2018 lên lấy căn cước mới. Nhưng thông tin giới tính sai lệch. Vấn đề này sơ xuất của cán bộ đánh máy, đánh thông tin sai lệch. Nhưng khi tôi có ý kiến thì cán bộ nữ tên Nguyễn...</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="MB20" style="font-size: 14px;">
                                        <div class="media-object-default media-object-default1 boT">
                                            <div class="media">
                                                <div class="media-left"> <a href="#"><img class="media-object img-thumbnail img-circle" src="~/images/MediaObj_Placeholder.png" width="80" alt="placeholder image"></a> </div> <div class="media-body">
                                                    <p class="text-muted" style="margin-bottom:8px;"><a style="color: blue;" href="#">trương ngọc thanh</a> - <i class="MR5 fa fa-clock-o" aria-hidden="true"></i>18/12/18</p> <h4 class="media-heading">
                                                        <a href="#" class="tieu-de-pakn">Kiến nghị về việc: sai thông tin căn cước công dân</a>
                                                    </h4>
                                                    <p class="text-justify"><b>Nội dung kiến nghị:</b> Một tháng trước, tôi có xin cấp lại thẻ căn cước với lý do bị mất CMND. Tôi cư ngụ ở quận 8, công an quận 8 có hẹn tôi 11/4/2018 lên lấy căn cước mới. Nhưng thông tin giới tính sai lệch. Vấn đề này sơ xuất của cán bộ đánh máy, đánh thông tin sai lệch. Nhưng khi tôi có ý kiến thì cán bộ nữ tên Nguyễn...</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="MB20" style="font-size: 14px;">
                                        <div class="media-object-default media-object-default1 boT">
                                            <div class="media">
                                                <div class="media-left"> <a href="#"><img class="media-object img-thumbnail img-circle" src="~/images/MediaObj_Placeholder.png" width="80" alt="placeholder image"></a> </div> <div class="media-body">
                                                    <p class="text-muted" style="margin-bottom:8px;"><a style="color: blue;" href="#">trương ngọc thanh</a> - <i class="MR5 fa fa-clock-o" aria-hidden="true"></i>18/12/18</p> <h4 class="media-heading">
                                                        <a href="#" class="tieu-de-pakn">Kiến nghị về việc: sai thông tin căn cước công dân</a>
                                                    </h4>
                                                    <p class="text-justify"><b>Nội dung kiến nghị:</b> Một tháng trước, tôi có xin cấp lại thẻ căn cước với lý do bị mất CMND. Tôi cư ngụ ở quận 8, công an quận 8 có hẹn tôi 11/4/2018 lên lấy căn cước mới. Nhưng thông tin giới tính sai lệch. Vấn đề này sơ xuất của cán bộ đánh máy, đánh thông tin sai lệch. Nhưng khi tôi có ý kiến thì cán bộ nữ tên Nguyễn...</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="MB20" style="font-size: 14px;">
                                        <div class="media-object-default media-object-default1 boT">
                                            <div class="media">
                                                <div class="media-left"> <a href="#"><img class="media-object img-thumbnail img-circle" src="~/images/MediaObj_Placeholder.png" width="80" alt="placeholder image"></a> </div> <div class="media-body">
                                                    <p class="text-muted" style="margin-bottom:8px;"><a style="color: blue;" href="#">trương ngọc thanh</a> - <i class="MR5 fa fa-clock-o" aria-hidden="true"></i>18/12/18</p> <h4 class="media-heading">
                                                        <a href="#" class="tieu-de-pakn">Kiến nghị về việc: sai thông tin căn cước công dân</a>
                                                    </h4>
                                                    <p class="text-justify"><b>Nội dung kiến nghị:</b> Một tháng trước, tôi có xin cấp lại thẻ căn cước với lý do bị mất CMND. Tôi cư ngụ ở quận 8, công an quận 8 có hẹn tôi 11/4/2018 lên lấy căn cước mới. Nhưng thông tin giới tính sai lệch. Vấn đề này sơ xuất của cán bộ đánh máy, đánh thông tin sai lệch. Nhưng khi tôi có ý kiến thì cán bộ nữ tên Nguyễn...</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="page-control">
                                    <nav class="text-right">
                                        <ul class="pagination MT0" style="margin:0px;">
                                            <li><a href="https://nguoidan.chinhphu.vn/web/quan-tri-he-thong/tra-cuu-ket-qua?p_p_id=tracuupaknaction_WAR_apcapaknportlet&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_tracuupaknaction_WAR_apcapaknportlet_jspPage=%2Fhtml%2Ftracuupaknaction%2Fview.jsp&amp;_tracuupaknaction_WAR_apcapaknportlet_cur=1&amp;_tracuupaknaction_WAR_apcapaknportlet_soPakn=&amp;_tracuupaknaction_WAR_apcapaknportlet_tenNguoiGui=&amp;_tracuupaknaction_WAR_apcapaknportlet_thoiGianCongKhai="><i class="fa fa-angle-double-left"></i></a></li>
                                            <li><a href="https://nguoidan.chinhphu.vn/web/quan-tri-he-thong/tra-cuu-ket-qua?p_p_id=tracuupaknaction_WAR_apcapaknportlet&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_tracuupaknaction_WAR_apcapaknportlet_jspPage=%2Fhtml%2Ftracuupaknaction%2Fview.jsp&amp;_tracuupaknaction_WAR_apcapaknportlet_cur=2&amp;_tracuupaknaction_WAR_apcapaknportlet_soPakn=&amp;_tracuupaknaction_WAR_apcapaknportlet_tenNguoiGui=&amp;_tracuupaknaction_WAR_apcapaknportlet_thoiGianCongKhai="><i class="fa fa-angle-left"></i></a></li>
                                            <li><a href="https://nguoidan.chinhphu.vn/web/quan-tri-he-thong/tra-cuu-ket-qua?p_p_id=tracuupaknaction_WAR_apcapaknportlet&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_tracuupaknaction_WAR_apcapaknportlet_jspPage=%2Fhtml%2Ftracuupaknaction%2Fview.jsp&amp;_tracuupaknaction_WAR_apcapaknportlet_cur=1&amp;_tracuupaknaction_WAR_apcapaknportlet_soPakn=&amp;_tracuupaknaction_WAR_apcapaknportlet_tenNguoiGui=&amp;_tracuupaknaction_WAR_apcapaknportlet_thoiGianCongKhai=">1</a></li>
                                            <li><a href="https://nguoidan.chinhphu.vn/web/quan-tri-he-thong/tra-cuu-ket-qua?p_p_id=tracuupaknaction_WAR_apcapaknportlet&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_tracuupaknaction_WAR_apcapaknportlet_jspPage=%2Fhtml%2Ftracuupaknaction%2Fview.jsp&amp;_tracuupaknaction_WAR_apcapaknportlet_cur=2&amp;_tracuupaknaction_WAR_apcapaknportlet_soPakn=&amp;_tracuupaknaction_WAR_apcapaknportlet_tenNguoiGui=&amp;_tracuupaknaction_WAR_apcapaknportlet_thoiGianCongKhai=">2</a></li>
                                            <li class="active"><a href="https://nguoidan.chinhphu.vn/web/quan-tri-he-thong/tra-cuu-ket-qua?p_p_id=tracuupaknaction_WAR_apcapaknportlet&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_tracuupaknaction_WAR_apcapaknportlet_jspPage=%2Fhtml%2Ftracuupaknaction%2Fview.jsp&amp;_tracuupaknaction_WAR_apcapaknportlet_cur=3&amp;_tracuupaknaction_WAR_apcapaknportlet_soPakn=&amp;_tracuupaknaction_WAR_apcapaknportlet_tenNguoiGui=&amp;_tracuupaknaction_WAR_apcapaknportlet_thoiGianCongKhai=">3</a></li>
                                            <li><a href="https://nguoidan.chinhphu.vn/web/quan-tri-he-thong/tra-cuu-ket-qua?p_p_id=tracuupaknaction_WAR_apcapaknportlet&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_tracuupaknaction_WAR_apcapaknportlet_jspPage=%2Fhtml%2Ftracuupaknaction%2Fview.jsp&amp;_tracuupaknaction_WAR_apcapaknportlet_cur=4&amp;_tracuupaknaction_WAR_apcapaknportlet_soPakn=&amp;_tracuupaknaction_WAR_apcapaknportlet_tenNguoiGui=&amp;_tracuupaknaction_WAR_apcapaknportlet_thoiGianCongKhai=">4</a></li>
                                            <li><a href="https://nguoidan.chinhphu.vn/web/quan-tri-he-thong/tra-cuu-ket-qua?p_p_id=tracuupaknaction_WAR_apcapaknportlet&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_tracuupaknaction_WAR_apcapaknportlet_jspPage=%2Fhtml%2Ftracuupaknaction%2Fview.jsp&amp;_tracuupaknaction_WAR_apcapaknportlet_cur=5&amp;_tracuupaknaction_WAR_apcapaknportlet_soPakn=&amp;_tracuupaknaction_WAR_apcapaknportlet_tenNguoiGui=&amp;_tracuupaknaction_WAR_apcapaknportlet_thoiGianCongKhai=">5</a></li>
                                            <li><a href="https://nguoidan.chinhphu.vn/web/quan-tri-he-thong/tra-cuu-ket-qua?p_p_id=tracuupaknaction_WAR_apcapaknportlet&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_tracuupaknaction_WAR_apcapaknportlet_jspPage=%2Fhtml%2Ftracuupaknaction%2Fview.jsp&amp;_tracuupaknaction_WAR_apcapaknportlet_cur=6&amp;_tracuupaknaction_WAR_apcapaknportlet_soPakn=&amp;_tracuupaknaction_WAR_apcapaknportlet_tenNguoiGui=&amp;_tracuupaknaction_WAR_apcapaknportlet_thoiGianCongKhai=">6</a></li>
                                            <li><a href="#">...</a></li>
                                            <li><a href="https://nguoidan.chinhphu.vn/web/quan-tri-he-thong/tra-cuu-ket-qua?p_p_id=tracuupaknaction_WAR_apcapaknportlet&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_tracuupaknaction_WAR_apcapaknportlet_jspPage=%2Fhtml%2Ftracuupaknaction%2Fview.jsp&amp;_tracuupaknaction_WAR_apcapaknportlet_cur=106&amp;_tracuupaknaction_WAR_apcapaknportlet_soPakn=&amp;_tracuupaknaction_WAR_apcapaknportlet_tenNguoiGui=&amp;_tracuupaknaction_WAR_apcapaknportlet_thoiGianCongKhai=">106</a></li>
                                            <li><a href="https://nguoidan.chinhphu.vn/web/quan-tri-he-thong/tra-cuu-ket-qua?p_p_id=tracuupaknaction_WAR_apcapaknportlet&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_tracuupaknaction_WAR_apcapaknportlet_jspPage=%2Fhtml%2Ftracuupaknaction%2Fview.jsp&amp;_tracuupaknaction_WAR_apcapaknportlet_cur=4&amp;_tracuupaknaction_WAR_apcapaknportlet_soPakn=&amp;_tracuupaknaction_WAR_apcapaknportlet_tenNguoiGui=&amp;_tracuupaknaction_WAR_apcapaknportlet_thoiGianCongKhai="><i class="fa fa-angle-right"></i></a></li>
                                            <li><a href="https://nguoidan.chinhphu.vn/web/quan-tri-he-thong/tra-cuu-ket-qua?p_p_id=tracuupaknaction_WAR_apcapaknportlet&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_tracuupaknaction_WAR_apcapaknportlet_jspPage=%2Fhtml%2Ftracuupaknaction%2Fview.jsp&amp;_tracuupaknaction_WAR_apcapaknportlet_cur=106&amp;_tracuupaknaction_WAR_apcapaknportlet_soPakn=&amp;_tracuupaknaction_WAR_apcapaknportlet_tenNguoiGui=&amp;_tracuupaknaction_WAR_apcapaknportlet_thoiGianCongKhai="><i class="fa fa-angle-double-right"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <section class="block block_business_news">
                    <h3 class="block_title_black">CHUYÊN MỤC TIN<a href="#" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                    <div class="content">
                        <div class="right">
                            <ul id="tra-cuu-tin-chuyen-muc-content"></ul>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-12">
                <section class="block block_business_news">
                    <h3 class="block_title_black">TIN MỚI<a href="#" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                    <div class="content">
                        <div class="right">
                            <ul id="tra-cuu-tin-moi-content"></ul>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-12">
                <section class="block block_business_news">
                    <h3 class="block_title_black">TIN XEM NHIỀU<a href="#" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                    <div class="content">
                        <div class="right">
                            <ul id="tra-cuu-tin-xem-nhieu-content"></ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script src="http://pagination.js.org/dist/2.1.4/pagination.js"></script>
    <script src="~/js/date.format.js"></script>
    <script language="javascript" src="https://momentjs.com/downloads/moment.js"></script>
    <script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#thoigiancongkhai').datetimepicker({
                format: 'L',
                ignoreReadonly: true
            });
        });
    </script>
    <script>
        //$(document).ready(function () {
        //    getdata();
        //});

        //function getdata() {
        //    $.ajax({
        //        url: appConfig.apiHostUrl + "/api/news/getNewsAno",
        //        data: {
        //            name: $("#inputName").val(),
        //            email: $("#inputEmail").val(),
        //            sdt: $("#inputSdt").val(),
        //        },
        //        success: function (result) {
        //            var dataContainer = $("#lstGopy");
        //            $('#lstGopy').pagination({
        //                dataSource: result,
        //                pageSize: 5,
        //                showGoInput: true,
        //                showGoButton: true,
        //                callback: function (data, pagination) {
        //                    var html = templateData(data);
        //                    //dataContainer.html(html);
        //                }
        //            })
        //        }
        //    });
        //}
        function templateData(data) {
            var html = '';
            for (var i = 0; i < data.length; i++) {
                var noidung = '';
                noidung = data[i].Content;
                var content = '<div class="col-md-12">';
                content += '   <div class="thumbnail">';
                content += '        <div class="caption text-center row">';
                content += '            <div class="col-md-2">';
                content += '               <div class="position-relative">';
                content += '                   <img src="https://nguoidan.chinhphu.vn/apca-pakn-portlet/images/MediaObj_Placeholder.png" style="width:72px;height:72px;" />';
                content += '               </div> </div>';

                content += '            <div class="col-md-10">';
                content += '                <h4 class="thumbnail-label">' + data[i].Name + '</h4>';
                content += '                <p><i class="glyphicon glyphicon-user light-red lighter bigger-120"></i>&nbsp;' + data[i].UserFullName + '</p>           <br />';
                content += '               <time datetime="2013-01-21" style="float: left">22/10/2018 7:23:35 PM </time></br>';
                content += '               <div class="thumbnail-description smaller">';
                content += noidung;
                content += '                 </div></div></div>';
                content += '       <div class="caption card-footer text-center">       <ul class="list-inline" style="height: 100px;"></ul>    </div>   </div></div>';

                html += content;
            }
            return html;
        }

        $.get(appConfig.apiHostUrl + "/api/News/getHomeNewsByCate?number=3", function (data, status) {
            console.log("tin chuyen muc o tra cuu: " + data.model.length);
            var content = '';
            for (var i = 0; i < data.model.length; i++) {
                if (i != data.model.length - 1) {
                    content += '<article class="border-dot">';
                    content += '<hgroup>';
                    content += '<h4 class="title"><a href="/home/detailnews?id=' + data.model[i].Id + '" >' + data.model[i].Name + '</a></h4>';
                    content += '</hgroup>';
                    content += '<p class="date">';
                    content += '<time>';
                    content += new Date(data.model[i].OnPublished).format("dd/mm/yyyy");
                    content += '</time>';
                    content += '</p>';
                    content += '<p style="line-height: 15px;">';
                    content += data.model[i].Abstract;
                    content += '...</p>';
                    content += '</article>';
                } else {
                    content += '<article>';
                    content += '<hgroup>';
                    content += '<h4 class="title"><a href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                    content += '</hgroup>';
                    content += '<p class="date">';
                    content += '<time>';
                    content += new Date(data.model[i].OnPublished).format("dd/mm/yyyy");
                    content += '</time>';
                    content += '</p>';
                    content += '<p style="line-height: 15px;">';
                    content += data.model[i].Abstract;
                    content += '...</p>';
                    content += '</article>';
                }
            }
            $('#tra-cuu-tin-chuyen-muc-content').html(content);
        });

        $.get(appConfig.apiHostUrl + "/api/News/getHomeNewsByCate?id=2&number=3", function (data, status) {
            var content = '';
            for (var i = 0; i < data.model.length; i++) {
                if (i != data.model.length - 1) {
                    content += '<article class="border-dot">';
                    content += '<hgroup>';
                    content += '<h4 class="title"><a href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                    content += '</hgroup>';
                    content += '<p class="date">';
                    content += '<time>';
                    content += new Date(data.model[i].OnPublished).format("dd/mm/yyyy");
                    content += '</time>';
                    content += '</p>';
                    content += '<p style="line-height: 15px;">';
                    content += data.model[i].Abstract;
                    content += '...</p>';
                    content += '</article>';
                } else {
                    content += '<article>';
                    content += '<hgroup>';
                    content += '<h4 class="title"><a href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                    content += '</hgroup>';
                    content += '<p class="date">';
                    content += '<time>';
                    content += new Date(data.model[i].OnPublished).format("dd/mm/yyyy");
                    content += '</time>';
                    content += '</p>';
                    content += '<p style="line-height: 15px;">';
                    content += data.model[i].Abstract;
                    content += '...</p>';
                    content += '</article>';
                }

            }
            $('#tra-cuu-tin-moi-content').html(content);
        });

        $.get(appConfig.apiHostUrl + "/api/News/getHomeNewsByCate?id=14&number=3", function (data, status) {
            var content = '';
            for (var i = 0; i < data.model.length; i++) {
                if (i != data.model.length - 1) {
                    content += '<article class="border-dot">';
                    content += '<hgroup>';
                    content += '<h4 class="title"><a href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                    content += '</hgroup>';
                    content += '<p class="date">';
                    content += '<time>';
                    content += new Date(data.model[i].OnPublished).format("dd/mm/yyyy");
                    content += '</time>';
                    content += '</p>';
                    content += '<p style="line-height: 15px;">';
                    content += data.model[i].Abstract;
                    content += '</p>';
                    content += '</article>';
                } else {
                    content += '<article>';
                    content += '<hgroup>';
                    content += '<h4 class="title"><a href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                    content += '</hgroup>';
                    content += '<p class="date">';
                    content += '<time>';
                    content += new Date(data.model[i].OnPublished).format("dd/mm/yyyy");
                    content += '</time>';
                    content += '</p>';
                    content += '<p style="line-height: 15px;">';
                    content += data.model[i].Abstract;
                    content += '</p>';
                    content += '</article>';
                }
            }
            $('#tra-cuu-tin-xem-nhieu-content').html(content);
        });

    </script>
}
