
@{
    ViewData["Title"] = "Chất lượng môi trường";
}

<link href="~/css/chatluong.css" rel="stylesheet" />
<link rel="stylesheet" href="https://js.arcgis.com/3.27/esri/css/esri.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script src="https://js.arcgis.com/3.27/"></script>
<script type="text/javascript" src="~/js/map.js"></script>
<script type="text/javascript" src="~/js/map2.js"></script>
<style>
    #esrimap {
        height: 640px;
        width: 620px;
        margin: 0;
        padding: 0;
        border: 0px solid #73AD21;
    }

    #esrimap2 {
        height: 640px;
        width: 620px;
        margin: 0;
        padding: 0;
        border: 0px solid #73AD21;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <!-- Nav tabs --><div class="card">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Chất lượng không khí</a></li>
                <li role="presentation"><a href="#wqi" aria-controls="profile" role="tab" data-toggle="tab">Chất lượng nước mặt</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="exampleFormControlSelect2">Trạm</label>
                                <select class="form-control" id="listTram"></select>

                                <div id="chart_div"></div>

                                <table id="aqitable" style="text-align:left;padding:0px;padding-top:3px;padding-bottom:8px;margin:0px;border-spacing:0px;border:0px solid black;width:100%;;">
                                    <tbody></tbody>
                                </table>

                                <div id="thangchiso" style="margin-top: 10px"></div>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <!--<iframe src="https://www.google.com/maps/d/embed?mid=1FdNr6bLh9TprldYQspGmrtk00UM" width="640" height="800"></iframe>-->
                            <div id="esrimap">
                                <span id="info" style="position:absolute; left:20px; bottom:10px; color:#000; z-index:50;"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div id="aqi_full" class="col-md-12"></div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="wqi">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="exampleFormControlSelect2">Trạm</label>
                                <select class="form-control" id="listTramWQI"></select>

                                <div id="chart_div_wqi"></div>

                                <table id="aqitable_wqi" style="text-align:left;padding:0px;margin-top:15px;border-spacing:0px;border:0px solid black;width:100%;;">
                                    <tbody></tbody>
                                </table>
                                <div id="thangchiso_wqi" style="margin-top: 10px"></div>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <div id="esrimap2">
                                <span id="info" style="position:absolute; left:20px; bottom:10px; color:#000; z-index:50;"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div id="wqi_full" class="col-md-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    google.charts.load('current', { packages: ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(drawAxisTickColors);
    google.charts.setOnLoadCallback(drawWQI);
    var toadoTram = [];
    function drawAxisTickColors() {
        $.ajax({
            method: "GET",
            url: "http://envisoft.gov.vn/eos/services/call/json/get_stations?qi_type=aqi",
            success: function (data, status) {
                if (data.success == true) {
                    var dulieu = data.stations;
                    $("#listTram").html("");
                    var idFirst = 0;
                    var lstId = [['Trạm', 'Giá trị AQI', { role: 'annotation' }, { role: 'style' }]];
                    for (var i = 0; i < dulieu.length; i++) {
                        var tentram = dulieu[i].station_name;
                        if (dulieu[i].qi > 0 && tentram.indexOf("Formosa") == -1) {
                            if (idFirst == 0) {
                                idFirst = dulieu[i].id;
                            }
                            lstId.push([dulieu[i].station_name, Math.round(dulieu[i].qi), Math.round(dulieu[i].qi), getColor(Math.round(dulieu[i].qi))]);
                            $("#listTram").append("<option value='" + dulieu[i].id + "'>" + dulieu[i].station_name + "</option>");
                            toadoTram.push(dulieu[i]);
                        }
                    }
                    vechart(idFirst);
                    vechart2(lstId);
                    vechart3();
                } else {
                    alert("Lỗi API. Xin vui lòng kiểm tra lại!");
                }
            },
            error: function () {
                alert("Lỗi API. Xin vui lòng kiểm tra lại!");
            }
        });
    }

    function vechart3() {
        $.ajax({
            method: "GET",
            url: "http://envisoft.gov.vn/eos/services/call/json/get_common_settings",
            success: function (data, status) {
                if (data.success == true) {
                    var qi_colors = data.aqi_colors;
                    var wqi_colors = data.wqi_colors;

                    var html = '';
                    var htmlwqi = '';
                    $("#thangchiso").html("");
                    $("#thangchiso_wqi").html("");
                    for (var i = 0; i < qi_colors.length; i++) {
                        html += '<div style="padding:5px;display: inline-block;margin: 3px;background-color: ' + qi_colors[i].color + '">' + qi_colors[i].name + '</div >';
                    }

                    for (var j = 0; j < wqi_colors.length; j++) {
                        htmlwqi += '<div style="padding:5px;display: inline-block;margin: 3px;background-color: ' + wqi_colors[j].color + '">' + wqi_colors[j].name + '</div >';
                    }

                    $("#thangchiso").html(html);
                    $("#thangchiso_wqi").html(htmlwqi);
                } else {
                    alert("Lỗi API. Xin vui lòng kiểm tra lại!");
                }
            },
            error: function () {
                alert("Lỗi API. Xin vui lòng kiểm tra lại!");
            }
        });
    }

    function getColor(number) {
        if (number < 50) {
            return '#008000';
        } else if (number < 100) {
            return '#ffff00';
        } else if (number < 200) {
            return '#099099';
        } else if (number < 300) {
            return '#ff0000';
        } else {
            return '#800080';
        }
    }

    function vechart(id) {
        $.ajax({
            method: "GET",
            url: "http://envisoft.gov.vn/eos/services/call/json/qi_detail?station_id=" + id,
            success: function (data, status) {
                if (data.success == true) {
                    var dataColumn = [
                        ['Khí', 'Giá trị', { role: 'annotation' }, { role: 'style' }],
                    ];

                    if (data.res && data.res.CO) {
                        var colorCo = getColor(data.res.CO.current);
                        dataColumn.push(['CO', data.res.CO.current, data.res.CO.current, colorCo]);
                    }

                    if (data.res && data.res.NOx) {
                        var colorCo = getColor(data.res.NOx.current);
                        dataColumn.push(['NOx', data.res.NOx.current, data.res.NOx.current, colorCo]);
                    }

                    if (data.res && data.res.O3) {
                        var colorCo = getColor(data.res.O3.current);
                        dataColumn.push(['O3', data.res.O3.current, data.res.O3.current, colorCo]);
                    }

                    if (data.res && data.res.SO2) {
                        var colorCo = getColor(data.res.SO2.current);
                        dataColumn.push(['SO2', data.res.SO2.current, data.res.SO2.current, colorCo]);
                    }

                    if (data.res && data.res.TSP) {
                        var colorCo = getColor(data.res.TSP.current);
                        dataColumn.push(['TSP', data.res.TSP.current, data.res.TSP.current, colorCo]);
                    }

                    if (data.res && data.res['PM-2-5']) {
                        var colorCo = getColor(data.res['PM-2-5'].current);
                        dataColumn.push(['PM-2-5', data.res['PM-2-5'].current, data.res['PM-2-5'].current, colorCo]);
                    }

                    if (data.res && data.res['PM-10']) {
                        var colorCo = getColor(data.res['PM-10'].current);
                        dataColumn.push(['PM-10', data.res['PM-10'].current, data.res['PM-10'].current, colorCo]);
                    }

                    if (data.res && data.res.NO2) {
                        var colorCo = getColor(data.res.NO2.current);
                        dataColumn.push(['NO2', data.res.NO2.current, data.res.NO2.current, colorCo]);
                    }
                   

                    var dataGoogle = google.visualization.arrayToDataTable(dataColumn);
                    var options = {
                        title: data.station_name,
                        height: 350,
                        bar: { groupWidth: '55%' },
                        legend: {
                            position: 'top',
                            alignment: 'start'
                        },
                        annotations: {
                            textStyle: {
                                fontSize: 15,
                            },
                            alwaysOutside: true
                        }
                    };

                    var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
                    chart.draw(dataGoogle, options);

                    //

                    var html = '   <tr>  ' +
                        '  <td class="aqiwgt-table-aqicell" style="padding-right:5px;"><div class="aqivalue" id="aqiwgtvalue" style="font-size: 80px; background-color: ' + data.qi_detail_info.bgColor + '; color: ' + data.qi_detail_info.color + '; text-shadow: rgb(255, 255, 255) 1px 0px 1px;" title="Unhealthy for Sensitive Groups">' + data.qi_value + '</div></td>  ' +
                        ' <td style="width:50%;vertical-align: middle" nowrap="true" class="aqiwgt-table-aqiinfo">  ' +
                        '  <div id="aqiwgtinfo" style="text-shadow: rgb(0, 0, 0) 1px 0px 1px; color: rgb(255, 153, 51);"><span style="font-size:16px;white-space: pre-wrap;line-height: 25px;">' + data.qi_detail_info.description + '</span></div><div style="font-size:16px;font-weight:light;;">  ' +
                        ' </div><div style="font-size:12px;"></div><div style="font-size: 12px; padding-top: 5px; display: block;" id="aqiwgtxtrainfo">Thời gian: <span>' + data.qi_time_2 + '</span></div>  ' +
                        '   </td>  ' +
                        '   </tr>  ';

                    $("#aqitable tbody").html(html);
                } else {
                    alert("Lỗi API. Xin vui lòng kiểm tra lại!");
                }
            },
            error: function () {
                alert("Lỗi API. Xin vui lòng kiểm tra lại!");
            }
        });
    }

    function vechartWQI(id) {
        $.ajax({
            method: "GET",
            url: "http://envisoft.gov.vn/eos/services/call/json/qi_detail?station_id=" + id,
            success: function (data, status) {
                if (data.success == true) {
                    var dataColumn = [
                        ['Nước', 'Giá trị', { role: 'annotation' }, { role: 'style' }],
                    ];

                    if (data.res && data.res.DO) {
                        var colorCo = getColor(data.res.DO.current);
                        dataColumn.push(['DO', data.res.DO.current, data.res.DO.current, colorCo]);
                    }

                    if (data.res && data.res.pH) {
                        var colorCo = getColor(data.res.pH.current);
                        dataColumn.push(['pH', data.res.pH.current, data.res.pH.current, colorCo]);
                    }

                    if (data.res && data.res.TSS) {
                        var colorCo = getColor(data.res.TSS.current);
                        dataColumn.push(['TSS', data.res.TSS.current, data.res.TSS.current, colorCo]);
                    }

                    if (data.res && data.res.TURBIDITY) {
                        var colorCo = getColor(data.res.TURBIDITY.current);
                        dataColumn.push(['TURBIDITY', data.res.TURBIDITY.current, data.res.TURBIDITY.current, colorCo]);
                    }

                    if (data.res && data.res.COD) {
                        var colorCo = getColor(data.res.COD.current);
                        dataColumn.push(['COD', data.res.COD.current, data.res.COD.current, colorCo]);
                    }

                    var dataGoogle = google.visualization.arrayToDataTable(dataColumn);
                    var options = {
                        title: data.station_name,
                        height: 350,
                        bar: { groupWidth: '55%' },
                        legend: {
                            position: 'top',
                            alignment: 'start'
                        },
                        annotations: {
                            textStyle: {
                                fontSize: 15,
                            },
                            alwaysOutside: true
                        }
                    };

                    var chart = new google.visualization.BarChart(document.getElementById('chart_div_wqi'));
                    chart.draw(dataGoogle, options);

                    var html = '   <tr>  ' +
                        '  <td class="aqiwgt-table-aqicell" style="padding-right:5px;"><div class="aqivalue" id="aqiwgtvalue" style="font-size: 60px; background-color:' + data.qi_detail_info.bgColor + '; color: ' + data.qi_detail_info.color + ';opacity: 0.8;text-align: center;" title="">' + data.qi_value + '</div></td>  ' +
                        ' <td style="width:50%;vertical-align: middle" nowrap="true" class="aqiwgt-table-aqiinfo">  ' +
                        '  <div id="aqiwgtinfo" style="text-shadow: rgb(0, 0, 0) 1px 0px 1px; color: rgb(255, 153, 51);"><span style="font-size:16px;white-space: pre-wrap;line-height: 25px;"></span></div><div style="font-size:16px;font-weight:light;;">  ' +
                        ' </div><div style="font-size:12px;"></div><div style="font-size: 12px; padding-top: 5px; display: block;" id="aqiwgtxtrainfo">Thời gian: <span>' + data.qi_time_2 + '</span></div>  ' +
                        '   </td>  ' +
                        '   </tr>  ';

                    $("#aqitable_wqi tbody").html(html);
                } else {
                    alert("Lỗi API. Xin vui lòng kiểm tra lại!");
                }
            },
            error: function () {
                alert("Lỗi API. Xin vui lòng kiểm tra lại!");
            }
        });
    }

    function vechart2(lstId) {
        var dataGoogle = google.visualization.arrayToDataTable(lstId);
        var options = {
            title: 'Biểu đồ giá trị AQI của các trạm',
            height: 450,
            bar: { groupWidth: '65%' },
            legend: {
                alignment: 'center',
                position: 'top'
            },
            annotations: {
                textStyle: {
                    fontSize: 15,
                },
                alwaysOutside: true
            }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('aqi_full'));
        chart.draw(dataGoogle, options);
    }

    function drawWQI() {
        $.ajax({
            method: "GET",
            url: "http://envisoft.gov.vn/eos/services/call/json/get_stations?qi_type=wqi&station_type=1",
            success: function (data, status) {
                if (data.success == true) {
                    var dulieu = data.stations;
                    $("#listTramWQI").html("");
                    var idFirst = 0;
                    var lstId = [['Trạm', 'Giá trị WQI', { role: 'annotation' }]];
                    for (var i = 0; i < dulieu.length; i++) {
                        if (dulieu[i].qi > 0) {
                            if (idFirst == 0) {
                                idFirst = dulieu[i].id;
                            }
                            lstId.push([dulieu[i].station_name, Math.round(dulieu[i].qi), Math.round(dulieu[i].qi)]);
                            $("#listTramWQI").append("<option value='" + dulieu[i].id + "'>" + dulieu[i].station_name + "</option>");
                        }
                        
                    }
                    vechartWQI(idFirst);

                } else {
                    alert("Lỗi API. Xin vui lòng kiểm tra lại!");
                }
            },
            error: function () {
                alert("Lỗi API. Xin vui lòng kiểm tra lại!");
            }
        });
    }

    $(document).ready(function () {
        $("#listTram").change(function () {
            vechart($(this).val());
        });

        $("#listTramWQI").change(function () {
            vechartWQI($(this).val());
        })
    })
</script>