*.dll
*.pdb
*.lock.json
*.suo
*.cache
*.ide
*.suo

**/lib
**/.vs 
**/bin
**/obj

**/bower_components
**/wwwroot/adminLte3
**/wwwroot/uploads
# file gitignore
appsettings.Development.json
PublishProfiles
