@using AppPortal.Core.ClaimsIdentityExtension
@using AppPortal.Core.ClaimsIdentityExtension
@{

    var fullName = ((System.Security.Claims.ClaimsIdentity)User.Identity).GetSpecificClaim(System.Security.Claims.ClaimTypes.GivenName);
    var userName = ((System.Security.Claims.ClaimsIdentity)User.Identity).GetSpecificClaim(System.Security.Claims.ClaimTypes.Name);
}
<!-- Main Sidebar Container -->
<aside class="main-sidebar elevation-4 sidebar-light-primary">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="@ViewData["Images"]/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Tổng cục môi trường</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        @if (User.Identity.IsAuthenticated)
        {
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-5 mb-3 d-flex" style="height: 220px;">
                <div class="image">
                    <img src="@ViewData["Images"]/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block" id="dropdownUserLoggedMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 160px;white-space: initial;">
                        @fullName &nbsp;<i class="fa fa-sort-down"></i>
                    </a>
                    <div class="dropdown-menu" style="position: relative;transform: translate3d(56px, 29px, 0px);top: -30px;left: -65px;" aria-labelledby="dropdownUserLoggedMenu">
                        <a class="dropdown-item" asp-controller="Users" asp-action="Profile">Thông tin</a>
                        <a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword">Đổi mật khẩu</a>
                        <form id="frm_logout" asp-area="administrator" asp-controller="Account" asp-action="Logout" method="post">
                            <button type="submit" class="dropdown-item"><i class="fa fa-sign-out"></i> Đăng xuất</button>
                        </form>
                    </div>
                </div>

            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                    <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                    <li class="nav-header">Chức năng hệ thống</li>
                    <li class="nav-item has-treeview sysadmin">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-angle-double-right"></i>
                            <p>
                                Quản trị tài khoản
                                <i class="fa fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <secure-content asp-controller="Users" asp-action="Profile">
                                <li class="nav-item">
                                    <a asp-controller="Users" asp-action="Profile" class="nav-link">
                                        <i class="nav-icon fa fa-info"></i>
                                        <p>
                                            Thông tin tài khoản
                                        </p>
                                    </a>
                                </li>
                            </secure-content>
                            <secure-content asp-controller="Account" asp-action="ChangePassword">
                                <li class="nav-item">
                                    <a asp-controller="Account" asp-action="ChangePassword" class="nav-link">
                                        <i class="nav-icon fa fa-key"></i>
                                        <p>
                                            Thay đổi mật khẩu
                                        </p>
                                    </a>
                                </li>
                            </secure-content>
                            <secure-content asp-controller="Users" asp-action="CreateOrUpdate">
                                <li class="nav-item">
                                    <a asp-controller="Users" asp-action="CreateOrUpdate" class="nav-link">
                                        <i class="nav-icon fa fa-user-o"></i>
                                        <p>
                                            Tạo người dùng
                                        </p>
                                    </a>
                                </li>
                            </secure-content>
                            <secure-content asp-controller="Users" asp-action="Index">
                                <li class="nav-item">
                                    <a asp-controller="Users" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fa fa-users"></i>
                                        <p>
                                            Quản lý người dùng
                                            <span class="badge badge-info right">2</span>
                                        </p>
                                    </a>
                                </li>
                            </secure-content>
                        </ul>
                    </li>
                    <secure-content asp-controller="Categories">
                        <li class="nav-item has-treeview sysadmin" style="display: none;">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-angle-double-right"></i>
                                <p>
                                    Quản trị danh mục
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="Categories" asp-action="Create" class="nav-link">
                                        <i class="fa fa-list-ul nav-icon"></i>
                                        <p>Tạo mới danh mục</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Categories" asp-action="Index" class="nav-link">
                                        <i class="fa fa-list-ul nav-icon"></i>
                                        <p>Quản lý danh mục</p>
                                        <span class="badge badge-info right">20</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </secure-content>
                    <secure-content asp-controller="News">
                        <li id="News" class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-angle-double-right"></i>
                                <p>
                                    Góp ý/ Phản ánh
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item createnews ttdl">
                                    <a href="/news/create" class="nav-link">
                                        <i class="fa fa-list-ul nav-icon"></i>
                                        <p>Tạo mới Góp ý/ Phản ánh</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/news" class="nav-link">
                                        <i class="fa fa-list-ul nav-icon"></i>
                                        <p>Quản lý Góp ý/ Phản ánh</p>
                                        <span class="badge badge-info right">20</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/news?status=4" class="nav-link">
                                        <i class="fa fa-check nav-icon"></i>
                                        <p>Góp ý/ Phản ánh đã xóa</p>
                                        <span class="badge badge-info right"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </secure-content>
                    <secure-content asp-controller="HomeNews">
                        <li id="HomeNews" class="nav-item has-treeview ttdl" style="display: none;">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-angle-double-right"></i>
                                <p>
                                    Quản trị tin tức
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item createnews">
                                    <a href="/homenews/create" class="nav-link">
                                        <i class="fa fa-list-ul nav-icon"></i>
                                        <p>Tạo mới tin tức</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/homenews" class="nav-link">
                                        <i class="fa fa-list-ul nav-icon"></i>
                                        <p>Tin tức</p>
                                        <span class="badge badge-info right"></span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/homenews?status=1" class="nav-link">
                                        <i class="fa fa-list-ul label-success"></i>
                                        <p>Tin đã duyệt</p>
                                        <span class="badge badge-info right"></span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/homenews?status=0" class="nav-link">
                                        <i class="fa fa-list-ul label-success"></i>
                                        <p>Tin chờ duyệt</p>
                                        <span class="badge badge-info right"></span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/homenews?status=4" class="nav-link">
                                        <i class="fa fa-trash" style="color: red;"></i>
                                        <p>Tin tức đã xóa</p>
                                        <span class="badge badge-info right"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </secure-content>
                    <secure-content asp-controller="Media">
                        <li id="AnhVideo" class="nav-item has-treeview ttdl" style="display: none;">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-angle-double-right"></i>
                                <p>
                                    Album ảnh/video
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/media/IndexImage" class="nav-link">
                                        <i class="fa fa-list-ul nav-icon"></i>
                                        <p>Album ảnh</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/media/IndexVideo" class="nav-link">
                                        <i class="fa fa-list-ul nav-icon"></i>
                                        <p>Album video</p>
                                        <span class="badge badge-info right"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </secure-content>

                    <secure-content asp-controller="Vanban">
                        <li id="Vanban" class="nav-item has-treeview ttdl" style="display: none;">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-angle-double-right"></i>
                                <p>
                                    Văn bản
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/vanban/quypham" class="nav-link">
                                        <i class="fa fa-list-ul nav-icon"></i>
                                        <p>Văn bản quy phạm</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/vanban/quychuan" class="nav-link">
                                        <i class="fa fa-list-ul nav-icon"></i>
                                        <p>Quy chuẩn, tiêu chuẩn</p>
                                        <span class="badge badge-info right"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </secure-content>
                    <secure-content asp-controller="Media">
                        <li id="AnhVideo2" class="nav-item has-treeview ttdl" style="display: none;">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-angle-double-right"></i>
                                <p>
                                    Quản trị hệ thống
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/media/Logs" class="nav-link">
                                        <i class="fa fa-list-ul nav-icon"></i>
                                        <p>Nhật ký truy cập</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </secure-content>
                    <secure-content asp-controller="Reports">
                        <li class="nav-header sysadmin tonghopbaocao">Tổng hợp báo cáo</li>
                        <li class="nav-item sysadmin tonghopbaocao" >
                            <a asp-controller="Reports" asp-action="gopyphananh" class="nav-link">
                                <i class="nav-icon fa fa-calendar"></i>
                                <p>
                                    Báo cáo góp ý, phản ánh
                                </p>
                            </a>
                        </li>
                        <li class="nav-item sysadmin tonghopbaocao">
                            <a asp-controller="Reports" asp-action="gopyphananh_nd_dn" class="nav-link">
                                <i class="nav-icon fa fa-calendar"></i>
                                <p>
                                    Báo cáo câu hỏi của<br>người dân và doanh nghiệp
                                </p>
                            </a>
                        </li>

                        <li class="nav-item sysadmin tonghopbaocao">
                            <a asp-controller="Reports" asp-action="gopyphananh_khuvuc_dialy" class="nav-link">
                                <i class="nav-icon fa fa-calendar"></i>
                                <p>
                                    Kiến nghị phản ánh theo <br> khu vực địa lý
                                </p>
                            </a>
                        </li>

                        <li class="nav-item sysadmin tonghopbaocao">
                            <a asp-controller="Reports" asp-action="gopyphananh_nd_dn_chude" class="nav-link">
                                <i class="nav-icon fa fa-calendar"></i>
                                <p>
                                    Thống kê số lượng <br>câu hỏi của người dân và <br />doanh nghiệp theo chủ đề
                                </p>
                            </a>
                        </li>
                    </secure-content>
                    <secure-content asp-controller="Address">
                        <li class="nav-item sysadmin">
                            <a asp-controller="Address" asp-action="Index" class="nav-link">
                                <i class="fa fa-address-card nav-icon"></i>
                                <p>Danh sách địa chỉ</p>
                                <span class="badge badge-info right"></span>
                            </a>
                        </li>
                    </secure-content>
                    <secure-content asp-controller="App">
                        <li class="nav-header sysconfig">Cài đặt nâng cao</li>
                        <li class="nav-item sysconfig">
                            <a asp-controller="App" asp-action="Config" class="nav-link ">
                                <i class="nav-icon fa fa-cog"></i>
                                <p>
                                    Thiết lập hệ thống
                                </p>
                            </a>
                        </li>
                    </secure-content>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        }
    </div>
    <!-- /.sidebar -->
</aside>