<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-block-down">
        ngnam
    </div>
    <!-- Default to the left -->
    Copyright © 2018 - Cổng thông tin phản ánh và kiến nghị - Tổng cục môi trường
</footer>