@model NewsViewModel
@{

    ViewData["FeatureTitle"] = "Quản trị tin tức";
    var title = "Sửa tin tức";

    var formView = "frm_edit_news";

    var StatusMessage = (string)TempData["StatusMessage"];

    if (Model != null)
    {
        title += $" ({Model?.Name})";
    }
    ViewData["Title"] = title;
}

@section Styles {
    <style>
        form#@formView label { font-weight: 700 !important; }
    </style>
    <!-- Generic page styles -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="~/css/jquery.fileupload.css">

    <style>
        .firstNewsetItem {
            display: grid !important;
            font-size: 14px !important;
            line-height: 30px !important;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
            padding: 12px !important;
            margin-top: 10px !important;
        }

        h1 {
            font-size: 24px !important;
            padding: 10px 10px 10px 0px !important;
        }

        #right_sidebar {
            display: none !important;
        }

        .embed-container {
            position: relative;
            padding-bottom: 80%;
            height: 0;
            max-width: 100%;
        }

            .embed-container iframe, .embed-container object, .embed-container iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

        small {
            position: absolute;
            z-index: 40;
            bottom: 0;
            margin-bottom: -15px;
        }
    </style>
}

<div class="row">
    <div class="col col-sm-12">
        @await Html.PartialAsync("_StatusMessage", StatusMessage)
        <div id="result_message"></div>
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>

            <form id="@formView" class="needs-validation" method="post">
                <div class="card-body">
                    <input type="hidden" readonly id="News_id" asp-for="Id" />
                    <input type="hidden" readonly id="News_UserId" asp-for="UserId" />
                    <input type="hidden" readonly id="News_UserEmail" asp-for="UserEmail" />
                    <input type="hidden" readonly id="News_UserName" asp-for="UserName" />
                    <input type="hidden" readonly id="News_UserFullName" asp-for="UserFullName" />
                    <div class="row">
                        <div class="col-sm-9">

                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <label asp-for="CategoryId" class="control-label"></label>
                                    <input asp-for="CategoryId" required style="width: 0; border: 0; visibility: hidden;" class="form-control " />
                                    <span asp-validation-for="CategoryId" class="invalid-feedback"></span>
                                    <div class="demo-section k-content" style="overflow: auto;">
                                        <div id="cat_treeview"></div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" id="fileVanban" style="display: none;">
                                        <label class="control-label">Tải lên văn bản chính sách</label>
                                        <div class="demo-section k-content">
                                            <input name="files" id="filesVanban" type="file" />
                                        </div>
                                        <input type="hidden" asp-for="MetaDescription" class="form-control" />
                                        <span asp-validation-for="MetaDescription" class="invalid-feedback"></span>
                                    </div>
                                </div>
                            </div>

                            @*<div class="form-group">
                                    <label>
                                        <input type="checkbox" checked="checked" /> Tự động đăng vào danh mục cha
                                    </label>
                                </div>*@

                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="invalid-feedback"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Abstract" class="control-label"></label>
                                <textarea rows="5" asp-for="Abstract" class="form-control"></textarea>
                                <span asp-validation-for="Abstract" class="invalid-feedback"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Content" class="control-label"></label>
                                <textarea rows="20" cols="30" asp-for="Content" class="form-control" style="width:100%; height:600px"></textarea>
                                <span asp-validation-for="Content" class="invalid-feedback"></span>
                            </div>

                        </div>
                        <div class="col-md-3" style="border-left: 1px solid #dfdfdf">
                            <div class="form-group">
                                <label asp-for="Image" class="control-label"></label>
                                <div class="demo-section k-content">
                                    <input name="files" id="files" type="file" />
                                </div>
                                <input type="hidden" asp-for="Image" class="form-control" />
                                <span asp-validation-for="Image" class="invalid-feedback"></span>
                                <img id="image_preview" src="" style="width: 100px; height: 100px;" />
                            </div>

                            <div class="form-group">
                                <label asp-for="UserFullName" class="control-label">Tác giả:</label>
                                <input asp-for="UserFullName" class="form-control" mav>
                                <span asp-validation-for="UserFullName" class="invalid-feedback"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="OnPublished" class="control-label">Ngày công bố:</label>
                                <input asp-for="OnPublished" type="date" class="form-control" mav>
                                <span asp-validation-for="OnPublished" class="invalid-feedback"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="SourceNews" class="control-label">Nguồn tin</label>
                                <input asp-for="SourceNews" class="form-control" mav>
                                <span asp-validation-for="SourceNews" class="invalid-feedback"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Note" class="control-label">Ghi chú</label>
                                <textarea rows="5" asp-for="Note" class="form-control" mav></textarea>
                                <span asp-validation-for="Note" class="invalid-feedback"></span>
                            </div>
                            <div class="form-group">
                                <button type="button" onclick="previewData()" class="btn btn-primary" data-toggle="modal" data-target="#previewModal">
                                    Xem Trước
                                </button>
                            </div>
                            <input type="hidden" id="IsStatus" asp-for="IsStatus" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div asp-validation-summary="ModelOnly" class="invalid-feedback"></div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-default btn-flat"><i class="fa fa-fast-backward"></i> Quay lại danh sách</a>
                        <button type="submit" class="btn btn-primary btn-flat">Cập nhật tin tức</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="width: 1024px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xem trước</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="detail-news" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/news/scripts.js" asp-append-version="true"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">
        var ngNews = {
            formName: '@formView'
        };
        ngNews.Image = '@Model.Image';
        ngNews.CategoryId = '@Model.CategoryId';

        function formatted_date() {
            var result = "";
            var d = new Date();
            result += d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate() +
                " " + d.getHours() + ":" + d.getMinutes() + ":" +
                d.getSeconds() + " " + d.getMilliseconds();
            return result;
        }


        function previewData() {
            var content = '';
            var headerData = $("#Name").val();
            var OnPublished = $("#OnPublished").val();
            var noidung = $("#Content").data("kendoEditor").value();
            if (OnPublished == "") {
                OnPublished = formatted_date();
            }
            content += '<h1><font color="red">' + headerData + '</font></h1>'
            content += OnPublished;
            content += '<br />';
            content += '<br />';
            content += noidung;
            $('#detail-news').html('');
            $('#detail-news').html(content);
        }
    </script>
    @await Html.PartialAsync("_UploadFile")
    <script src="~/js/news/edit_news.js" asp-append-version="true"></script>
}