
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="error-page">
    <h2 class="headline text-danger">403</h2>

    <div class="error-content p-5">
        <h3><i class="fa fa-warning text-danger"></i> Oops! @ViewData["Title"].</h3>
    </div>
</div>