@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Cổng thông tin Bộ TN&MT";
    Layout = "_LayoutLogin";
    var formView = "frm_reset_pasword";
}

<div class="login-box">
    <div class="login-logo">
        <a href="/">@ViewData["Title"]</a>
    </div>
    <!-- /.login-logo -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="login-box-msg text-center">Khôi phục tài khoản?</h3>
        </div>
        <div class="card-body login-card-body">

            <form id="@formView" class="needs-validation" method="post">
                <input asp-for="Code" type="hidden" />
                <input asp-for="Email" type="hidden" />
                @*<div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="icon ion-android-mail"></i>
                                </span>
                            </div>
                            <input asp-for="Email" type="email" class="form-control" placeholder="Email tài khoản" readonly required />
                            <span class="invalid-feedback" asp-validation-for="Email">
                            </span>
                        </div>
                    </div>*@
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="icon ion-locked"></i>
                            </span>
                        </div>
                        <input asp-for="Password" class="form-control" placeholder="Mật khẩu mới" required />
                        <span asp-validation-for="Password" class="invalid-feedback"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="icon ion-locked"></i>
                            </span>
                        </div>
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Xác nhận mật khẩu" required />
                        <span asp-validation-for="ConfirmPassword" class="invalid-feedback"></span>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Khôi phục tài khoản</button>
                </div>
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
                <p class="mb-1">
                    <a asp-action="Login" asp-controller="Account" asp-route-returnUrl="/">Đăng nhập</a>
                </p>
            </form>
        </div>
    </div>
    <!-- /.login-box -->
</div>
@section Scripts {
    <script src="~/js/accounts/scripts.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                var form = document.getElementById('@formView');
                var $form = $('form#@formView');
                form.addEventListener('submit', function (event) {
                    if ($form.valid() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                    event.preventDefault();
                    if ($form.valid()) {
                        var csrfToken = $("input[name='__RequestVerificationToken']").val();
                        var dataJson = {
                            Email: $("input[name='Email']").val(),
                            Code: $("input[name='Code']").val(),
                            Password: $("input[name='Password']").val(),
                            ConfirmPassword: $("input[name='ConfirmPassword']").val()
                        };
                        //xhr.setRequestHeader('Authorization', 'Bearer ' + jwtToken);
                        callAjax(
                            `${appConfig.apiHostUrl}/${ACCOUNT_API.RESET_PASSWORD_FORGET}`,
                            dataJson,
                            AjaxConst.PostRequest,
                            function (xhr) {
                                xhr.setRequestHeader('__RequestVerificationToken', csrfToken);
                                $form.children('.form-group').find('button').addClass('disabled').attr('disabled', true);
                            },
                            function (success) {
                                //console.log('success ', success)
                                if (!success.did_error) {
                                    messagerSuccess('Khôi phục mật khẩu', success.model);
                                    var html = '<div class="alert alert-info alert-dismissible">' +
                                        '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>' +
                                        '<h5><i class="icon icon fa fa-info"></i> Thông báo!</h5>' +
                                        success.model +
                                        '</div>';
                                    $form.append(html);
                                }
                            },
                            function (xhr, status, error) {
                                if (xhr.status === 400) {
                                    var err = eval("(" + xhr.responseText + ")");
                                    err.forEach(function (item) {
                                        messagerError(item.Code, item.Description);
                                    });
                                } else {
                                    messagerError(MESSAGES.ERR_CONNECTION.key, MESSAGES.ERR_CONNECTION.value);
                                }
                            },
                            function (complete) {
                                $form.children('.form-group').find('button').removeClass('disabled').removeAttr('disabled');
                                $form.clearFormData();
                            }
                        )
                    }
                }, false);
            }, false);
        })();

    </script>
}
