<!-- Navbar -->
<nav class="main-header navbar fixed-top navbar-expand border-bottom navbar-light bg-white">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/" class="nav-link">Home</a>
        </li>
        @*<li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Contact</a>
        </li>*@
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
    @if (User.Identity.IsAuthenticated)
    {
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Messages Dropdown Menu -->
            @*<li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fa fa-comments-o"></i>
                    <span class="badge badge-danger navbar-badge">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="@ViewData["Images"]/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Quản trị hệ thống
                                    <span class="float-right text-sm text-danger"><i class="fa fa-star"></i></span>
                                </h3>
                                <p class="text-sm">Thông báo cập nhật tài khoản</p>
                                <p class="text-sm text-muted"><i class="fa fa-clock-o mr-1"></i> 1 giờ trước</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="@ViewData["Images"]/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Quản trị hệ thống
                                    <span class="float-right text-sm text-muted"><i class="fa fa-star"></i></span>
                                </h3>
                                <p class="text-sm">Đã trả lời yêu cầu người dân mã: 00991</p>
                                <p class="text-sm text-muted"><i class="fa fa-clock-o mr-1"></i> 4 Trước</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="@ViewData["Images"]/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Quản trị hệ thống
                                    <span class="float-right text-sm text-warning"><i class="fa fa-star"></i></span>
                                </h3>
                                <p class="text-sm">Đã cập nhật tài khoản</p>
                                <p class="text-sm text-muted"><i class="fa fa-clock-o mr-1"></i> 4 giờ trước</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">Xem tất cả</a>
                </div>
            </li>*@
            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown" style="display: inherit;">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell-o"></i>
                    <span class="badge badge-warning navbar-badge"><span id="countthongbao">0</span></span>

                </a>
                <form id="frm_logout" asp-area="administrator" asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="dropdown-item"><i class="fa fa-sign-out"></i> Đăng xuất</button>
                </form>
                <div id="thongbaodata" class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">Thông báo</span>
                    <div class="dropdown-divider"></div>

                </div>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <form id="frm_logout" asp-area="administrator" asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit" class="dropdown-item"><i class="fa fa-sign-out"></i> Đăng xuất</button>
                    </form>
                </div>

            </li>
            @*<li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                    <i class="fa fa-th-large"></i>
                </a>
            </li>*@
        </ul>
    }
</nav>
<!-- /.navbar -->