@charset "utf-8";
/* CSS Document */

/* category */
#navbar { width:1008px; height:38px; margin:6px 0 0 -5px;background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/Category/navbar_bg_new.png) no-repeat top left;}
#navbar_c ul { list-style:none; padding-left:5px; height:38px;}
#navbar ul {margin-left:5px !important;}
#navbar ul li { float:left; display:inline; padding:9px 0px 0 0 ;}
#navbar ul li a{ padding:7px 0 5px 10px;}
#navbar ul li a span { background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/Category/navbar_bg_deactive.png) no-repeat scroll 100%; padding: 7px 12px 3px 0;}
#navbar ul li a:hover{ background:#5b5b5b; padding:8px 0 6px 10px;}
#navbar ul li table a {background:transparent!important;}
.navbarHolver{ background:#5b5b5b; padding:8px 0 6px 12px;}
.navbarHolverspan { background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/Category/navbar_bg_hover.png) no-repeat scroll 100% ; padding: 8px 12px 6px 0;}

#navbar ul li a:hover span{ background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/Category/navbar_bg_hover.png) no-repeat scroll 100% ; padding: 8px 12px 6px 0;}
#navbar ul li a.currentnb{ background:#5f9729; padding:8px 0 6px 12px;margin-left:0px;}
#navbar ul li a.currentnb span { background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/Category/navbar_bg_active.png) no-repeat scroll 100%; padding: 8px 12px 6px 0;}
#navbar ul li .s1 {padding-left:12px;}
#navbar #search { width:148px ;height:23px; margin:3px 17px 0 0px; background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/Category/search_bg.png) top right no-repeat;}
#navbar #search .hsearch { width:122px; border:none; background:transparent; }
#navbar #search img { margin-top:2px;padding-right:2px;}

#breadcrumb { height:25px; width:100%; background:#eee;}
#breadcrumb p {padding:4px 0 0 0px;}
#breadcrumb img { padding: 0 6px;}

#panel-right-page #vel-menu { width:100%; height:auto; overflow:hidden;min-height: 300px;}
#vel-menu .vm-topbg{ height:25px; width:100%; background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/Category/vel-menu-top-bg.png) no-repeat top;}
#vel-menu .vm-bottombg {height:25px; width:100%; background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/Category/vel-menu-bottom-bg.png) no-repeat top;}
#vel-menu .vm-main{ height:auto;width:100%; background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/Category/vel-menu-bg.png) repeat;}
#vel-menu .vm-main .vm-lv1 { }
#vel-menu .vm-main .vm-lv1 .vm-lv1-item { vertical-align:text-bottom; background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/Category/vel-menu-li.png) no-repeat;border-bottom:1px dotted #999; padding:0px 6px 0px 32px;}
#vel-menu .vm-main .vm-lv1 .vm-lv1-item:hover,
#vel-menu .vm-main .vm-lv1 .vm-lv1-item.vmactive {background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/Category/vel-menu-li-active.png) no-repeat;}
#vel-menu .vm-main .vm-lv1 .vm-lv1-item a { font-weight:bold; color:#0278b6; display:block; padding:9px 0 ;}
#vel-menu .vm-main .vm-lv1 .vm-lv1-item a.vmtactive {color:#5f9729; }
#vel-menu .vm-main .vm-lv1 .vm-lv1-item a:hover {color:#5f9729;}

#vel-menu .vm-main .vm-lv2 {}
#vel-menu .vm-main .vm-lv2 .vm-lv2-item{ vertical-align:middle;list-style-image:url(/DesktopModules/eKGIS_CMS/Resources/imgs/Category/vel-menu-bullet-arrow.png); margin-left:24px;padding:4px 0 4px 8px;}
#vel-menu .vm-main .vm-lv2 .vm-lv2-item a { color:#666767; }
#vel-menu .vm-main .vm-lv2 .vm-lv2-item a:hover {padding:2px 4px;}
#vel-menu .vm-main .vm-lv2 .vm-lv2-item a.vml2active {background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/Category/vel-menu-active-bg.png) repeat; color:#ffffff; padding:2px 4px; text-shadow:none;}

/*-------------------------------------*/
#slider { position:relative;border: 0px solid #f2eedd;-moz-border-radius: 5px;width:336px;height:250px;background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/News/loading.gif) no-repeat 50% 50%;}
#slider img {position:absolute;top:0px;left:0px;display:block !important;}
#slider a {border:0;display:block;}
#slider .nivo-controlNav {position:absolute;right:0px;top:5px;}
#slider .nivo-controlNav a {display:block;width:12px;height:22px;background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/News/bullets.png) no-repeat;text-indent:-9999px;border:0;margin-right:1px;float:left;}
#slider .nivo-controlNav a.active {background-position:0 -22px;}
#slider .nivo-directionNav a {display:block;width:30px;height:30px;background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/News/arrows.png) no-repeat;text-indent:-9999px;border:0;}
#slider a.nivo-nextNav {background-position:-30px 0;right:15px;}
#slider a.nivo-prevNav {left:15px;}
#slider .nivo-caption {font-size: 12px;}
#slider .nivoSlider {position:relative;}
#slider .nivoSlider img {position:absolute;top:0px;left:0px;border: 2px solid red;display:block !important;}
#slider .nivoSlider a.nivo-imageLink {position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:60;display:block;}
#slider .nivoSlider a.nivo-imageLink img {display:block !important;}
#slider .nivo-slice {display:block;position:absolute;z-index:50;height:100%;background-image:none !important;}
#slider .nivo-caption {position:absolute;left:0px;bottom:0px;padding:0px 0px 0px 0;background:#000;color:#fff;opacity:0.8;width:100%;z-index:89;}
#slider .nivo-caption p {padding:5px;margin:0;}
#slider .nivo-caption a {color:#FFF; text-shadow:#000 1px 1px;padding:5px;display:inline !important;font-weight:bold;}
#slider .nivo-caption a:hover{text-decoration:underline;color:#FFF;}
#slider .nivo-html-caption {display:none;}
#slider .nivo-directionNav a {position:absolute;top:45%;z-index:99;cursor:pointer;}
#slider .nivo-prevNav {left:0px;}
#slider .nivo-nextNav {right:0px;}
#slider .nivo-controlNav a {position:relative;z-index:99;cursor:pointer;}
#slider .nivo-controlNav a.active {ont-weight:bold;}

#bscore .board {width:262px;height:auto;}
.board #board_form {width:262px; padding-left:6px;}
#board_form .data1 { list-style:none; width:262px; }
#board_form .data1 li {float:left; display:table-column; width:46px; height:15px; background:#7e7e7e;padding:8px 0 6px 6px}
#board_form .data1 li  h5 { font-weight:bold; color:#FFF; font-size:9px; }
#board_form .data1_l1 { list-style:none; padding-top:0px;}
#board_form .rowbg1{ background:#e5e5e5;}
#board_form .rowbg2{ background:#cbc9ca;}
#board_form .data1_l1 li {float:left;padding:5px 0 5px 6px;background:#e9e9e9; display:table-column; width:46px;  border-top:1px solid #FFF;}
#board_form .data1_l1 li  h5 { font-weight:bold; color:#555; font-size:9px;}
#board_form .data1_l2 li {float:left;padding:5px 0 5px 6px;background:#dbd9da; display:table-column; width:46px;  border-top:1px solid #FFF;}
#board_form .data1_l2 li  h5 { font-weight:bold; color:#555; font-size:9px; }
.bscore_t { padding-bottom:8px;}

#bscore .chart { width:205px; height:auto; margin-top:-10px;}
#bscore .chart img {padding:0;}
#bscore .aqi { width:135px; padding-right:6px; }

.aqiscore { text-align:center; padding-top:6px;}
.aqinow { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/aqi_kem_new.png) no-repeat; width:157px; height:86px;}
.aqiyes { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/aqi_kem.png) no-repeat; width:136px; height:76px;}
.aqiscore_s {padding:10px 0 0 12px;}
.aqiscore_s2 {padding:10px 12px 0px 0px;}
.aqiscore_info {padding:14px 12px 0 0;}
.aqiscore_title {clear:both; padding:18px 0 0 12px;}
.aqinow span { font-size:9px;}
.aqi_detail { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/aqi_details.png) no-repeat; width:157px; height:46px; margin-top:6px;} 
.aqi_detail h2 { padding:7px 0 0 32px;text-shadow:none;}

#bmap { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/map_bg.png); width:312px; height:auto;}
#bmap .bmapform {padding:12px;}
#bscore_bar { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/qt_title_bg_new.png) repeat-x; width:652px; height:33px;margin:7px 0 0 0px;;}
#bscore_bar .stations_t { padding:8px 0 0 12px;}
#bscore_bar .stations_d { padding:8px 0 0 4px;}

#bcontrol { padding:4px 0px 0 0; margin-top:1px;  background:url(/Portals/_default/skins/cem_v2/Recources/imgs/qt_slide_bg.png) no-repeat; height:31px; width:183px;}
#bcontrol ul { list-style:none;}
#bcontrol ul li { display:inline;}
#bcontrol ul li a.currentbc { background:#ebebeb; padding-top:2px; margin:2px;}
#bcontrol ul li a:hover { color:#5f9729;}
#bcontrol .bcontrol_left{ background:url(/Portals/_default/skins/cem_v2/Recources/imgs/arrow_title_green_left_deactive.png) no-repeat; width:12px; height:23px;}
#bcontrol .bcontrol_right{ background:url(/Portals/_default/skins/cem_v2/Recources/imgs/arrow_title_green_right_deactive.png) no-repeat; width:12px; height:23px;}
#bcontrol .bcontrol_left:hover { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/arrow_title_green_left.png) no-repeat; width:12px; height:23px;}
#bcontrol .bcontrol_right:hover { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/arrow_title_green_right.png) no-repeat; width:12px; height:23px;}
#bcontrol .bcontrol_t {padding:4px 0px 0 0px; width:80px; text-align:center;}


/*menu cac chu de chinh*/
#populartopic {width:674px; height:auto;}
#populartopic .pt_bg_top { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/toptopic_top_bg.png) no-repeat; width:662px; height:18px;}
#populartopic .pt_bg_bottom { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/toptopic_bottom_bg.png) no-repeat; width:662px; height:22px;}
#populartopic .pt_content { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/toptopic_c_bg.png) repeat-y;width:662px; overflow:auto;}

.pt_content .pt_content_c {padding:0px 24px 8px 24px;}
.pt_content h3 span{font-size:12px;color:#666;font-weight:bold;}
.pt_content_c .ptcontrol { width:22px; height:auto;}
.pt_content_c .ptsection { width:590px;}
.pt_content_c .ptsection  ul { float:left; list-style-type:none;margin:0 0 0 5px;}
.pt_content_c .ptsection  ul li { clear:both;padding:0px 0 8px 0px;}
.pt_content_c .ptsection  ul li .ssection_left {float:left;background:url(/Portals/_default/skins/cem_v2/Recources/imgs/blullet_green_h.png) center left no-repeat; border-bottom:1px solid #EAEAEA; padding:8px 0 8px 12px; width:200px;}
.pt_content_c .ptsection  ul li .ssection_right { float:left; width:328px; padding:6px 0 6px 14px;}
.pt_content_c .ptsection  ul li .ssection_right a { color:#666;}
.pt_content_c .ptsection  ul li .ssection_right a:hover { text-decoration:underline; color:#5f9729; font-weight:bold;}
.pt_content_c .ptsection  ul li .ssection_right img { float:right;}
.pt_content_c .ptsection  ul li .ssection_right p:after {content:",";padding-right:4px;}


/*--------------------------------------------*/

#basin {width:300; height:auto;padding:0 12px 0px 0px; background:#f5f5f5;}
#basin h3 { padding:10px 0 10px 0px;}
#basin .basinslide { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/basin.png) no-repeat; width:244px; height:119px; padding-left:56px;}
#basin .basinslide .bs_ctr_left { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/arrow_lvs_left.png) no-repeat; margin:90px 0 0 12px;width:10px; height:15px;}
#basin .basinslide .bs_ctr_right { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/arrow_lvs_right.png) no-repeat; margin:90px 12px 0 0px;width:10px; height:15px;}
#basin .basinslide .bs_content { margin:80px 0 0 0px; width:255px; height:25px; }
#basin .basinslide .bs_content h3 { text-align:center; padding:10px 12px 0 12px;}

.document { width:100%; height:auto;}
.document .dm_content {border:1px solid #d1d1d1; width:323; height:auto; margin-top:-1px;}
.document .dm_content ul { margin:12px 12px 0 12px;color:#5f5f5f; list-style:none;}
.document .dm_content ul li { padding:20px 0;border-bottom:1px dotted #bababa; background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/square-dot.png) no-repeat left center; list-style:none;}
.document .dm_content ul li:hover  {color:#268134;}
.document .dm_content ul li h4{ margin:-7px 0px 0 12px;}
.document .dm_content ul li h5 {margin:-7px 0 0 8px;}
.document .dm_content ul li a:hover h4 { color:#5f9729;}

#gallery { width:300px; height:auto; }
#gallery .line_dot { border-top:4px dotted #666; margin-top:2px;}
#gallery h3 span { font-weight:bold; font-size:14px; display:block;margin-top:-10px; background:#FFF; padding-right:12px;}
#gallery .gl_ctr_left { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/gallery_ctr_left.png) no-repeat; width:18px; height:18px;margin:40px 0 0 12px;}
#gallery .gl_ctr_right { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/gallery_ctr_right.png) no-repeat; width:18px; height:18px;margin:40px 12px 0 0;}
#gallery .gl_content { width:260px;margin:0 auto; text-align:center;}

.vclip { background:#FFF; text-align:center;padding:12px 0 0px 0px;border:1px solid #d1d1d1;margin-top:-1px;}
.vclip h4{ padding:7px 0 7px 12px; color:#333;}

/*------------------------------------*/
#main_bottom .partner{ width:100% ; height:auto;}
.partner .pn_top_bg { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/partner_top_bg.png) no-repeat; width:998px; height:12px;}
.partner .pn_bottom_bg { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/partner_bottom_bg.png) no-repeat; width:998px; height:12px;}
.partner .pn_content { border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1; width:996px; overflow:auto;}
.partner .pn_content ul { list-style:none; text-align:center;}
.partner .pn_content ul li { float:left; display:inline-table; width:16%; }


/*----------------------------------------*/
.gl-next {position:absolute;top:40px;right:12px;z-index:999;width: 21px;height: 21px;text-indent: -999999px;background:url(/Portals/_default/skins/cem_v2/Recources/imgs/gallery_ctr_right.png)   no-repeat 0 0px;}
.gl-prev {position:absolute;top:40px;left:12px;z-index:999;width: 21px;height: 21px;text-indent: -999999px;background:url(/Portals/_default/skins/cem_v2/Recources/imgs/gallery_ctr_left.png) no-repeat 0 0px;}
.gl-next:hover,.gl-prev:hover {background-position: 0 -23px;}
#gallery #galleryslider .gl-pager .pager-active,
#gallery #galleryslider .gl-pager a:hover {background-position: 0 0;}
#gallery #galleryslider li{float:left;display:inline;padding:0 77px;width:170px;height:100px;}	
#gallery #galleryslider img{padding:12px 0 4px 0;}
#gallery #galleryslider #gallery_img{float:left;width:170px;height:100px;}

.lvs-next {position:absolute;top:85px;right:-42px;z-index:999;width: 21px;height: 21px;text-indent: -999999px;background:url(/Portals/_default/skins/cem_v2/Recources/imgs/gallery_ctr_right.png)   no-repeat 0 0px;}
.lvs-prev {position:absolute;top:85px;left:-42px;z-index:999;width: 21px;height: 21px;text-indent: -999999px;background:url(/Portals/_default/skins/cem_v2/Recources/imgs/gallery_ctr_left.png) no-repeat 0 0px;}
.lvs-next:hover,.lvs-prev:hover {background-position: 0 -23px;}
#basinslide .lvsslider .lvs-pager .pager-active,
.lvs-pager a:hover {background-position: 0 0;}
#basinslide .lvsslider li{float:left;display:inline;padding:0 0 0 12px;height:auto; margin:77px 0 0 0px;}	
#basinslide .lvsslider .lvsSlider_caption { clear:both;}

/*-----------------Tooltip-------------------*/

#tooltip_l { width:347px; overflow:auto;}
#tooltip_l #tt_l_top { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/tooltip_top_bg.png) no-repeat; width:347px; height:45px;}
#tooltip_l #tt_l_top h2 {color:#FFF; margin:14px 0 0 0px; text-align:center;}
#tooltip_l #tt_l_main { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/tooltip_bg.png) repeat-y; width:347px;}
#tt_l_main .h4ttmain {margin:6px 0 0 32px;}
#tt_l_main #aqi_check { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/aqi_check_index.png) no-repeat center top; width:347px; height:250px;}
#aqi_check ul { float:left;list-style:none; height:35px; margin:12px 0 0px 20px;}
#aqi_check ul li {float:left; text-align:center;}
#aqi_check ul .ac_nleft {width:110px; height:60px;}
#aqi_check ul .ac_nright {width:192px; height:60px;text-align:left; }
#aqi_check ul .chanmarin { margin-top:-8px }
#aqi_check ul .chanmarin2 { margin-top:2px }
#aqi_check .tt_quality {width:110px;margin:4px 0 0 10px; text-align:center;}
#aqi_check .tt_quality ul { list-style:none;}
#aqi_check .tt_quality ul li { padding:16px 0 15px 18px;}
#tt_l_bottom { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/tooltip_bg_bottom.png) no-repeat; width:347px; height:13px;}

#aqi_check .tt_quality_status {width:200px;margin:4px 0 0 10px; text-align:center;}
#aqi_check .tt_quality_status ul { list-style:none;}
#aqi_check .tt_quality_status ul li { padding:16px 0 12px 2px;}

{ width:269px; overflow:auto;}
#tt_s_top { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/tooltip_top_bg_s.png) no-repeat; width:269px; height:45px;}
#tt_s_top h2 {color:#FFF; margin:14px 0 0 0px; text-align:center;}
#tt_s_main { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/tooltip_bg_s.png) repeat-y; width:269px;}
#tt_s_main .h4ttsmain {margin:6px 0 0px 24px; padding:0 0 4px; 0;}
#aqi_check_date {width:100%; overflow:auto;}
#aqi_check_date ul { list-style:none; margin:0px 0 0 15px; padding:1px 0 0 9px;}
#aqi_check_date ul li { float:left; padding: 6px 60px 0 0;}
#aqi_check_date ul .t3 { padding:6px 0 0 0px;}
#tt_s_bottom { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/tooltip_bg_bottom_s.png) no-repeat; width:269px; height:13px;}

#aqi_check_date .aqidate1 { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/tooltip_bg_s_1.png) no-repeat; width:239px; height:26px; }
#aqi_check_date .aqidate2 { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/tooltip_bg_s_2.png) no-repeat; width:239px; height:26px; }
#aqi_check_date .aqidate3 { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/tooltip_bg_s_3.png) no-repeat; width:239px; height:26px; }
#aqi_check_date .aqidate4 { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/tooltip_bg_s_4.png) no-repeat; width:239px; height:26px; }
#aqi_check_date .aqidate5 { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/tooltip_bg_s_5.png) no-repeat; width:239px; height:26px; }
#tt_s_main .h4ttslink { padding-top:6px;}
#tt_s_main .h4ttslink img  { float:left;padding:2px 12px 0 18px; }


.linebottom {height:1px; width:100%; border-bottom:1px solid #d1d1d1;margin:-1px 8px 0 8px;}

.tt_list_qt { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/tooltip_list_bg.png); padding:8px; border-bottom:5px solid #d0e1ee; width:180px;}
.tt_list_qt ul { list-style-image:url(/Portals/_default/skins/cem_v2/Recources/imgs/arrow_water.png); margin:0 0 0 12px;}
.tt_list_qt ul li { padding:6px 0;;}
.tt_list_qt ul li a {padding:2px 2px;}
.tt_list_qt ul li:hover a { background:#d0e1ee;}

/* video*/
a.simpleBtn, a.simpleBtn span, a.mainBtn, a.mainBtn span{background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/Video/home_button.png) no-repeat;border:0;margin:0;padding-bottom:5px;background-repeat:no-repeat;}
.hidden {display: none;}
a.simpleBtn{text-decoration:none;font-weight:bold;color:#fff;background-position:left top;height:28px;display:inline-block;cursor:pointer}
a:hover.simpleBtn{color:#333}
a.simpleBtn span{display:inline-block;background-position:right top;margin-left:15px;padding-right:15px;height:28px;line-height:28px}
a.mainBtn span{font-size:1.3em;font-weight:bold;cursor:pointer;text-align:center}
a.mainBtn span{display:block;background-position:right -32px;margin-left:20px;padding-right:20px;height:34px;line-height:32px}

/* search*/
/*
#pagewrapper { overflow:hidden;}
#pagewrapper .pagetab { list-style:none; padding-left:12px; position:relative; z-index:99999}
#pagewrapper .pagetab li { display:inline; float:left; padding:0 2px 0 0; margin-top:13px;}
#pagewrapper .pagetab li a{ background:#5b5b5b; padding: 8px 0 7px 12px;}
#pagewrapper .pagetab li a span { background:#5b5b5b; padding:8px 12px 7px 0;color:#FFF; text-shadow:#000 1px 1px;}
#pagewrapper .pagetab li a.pt-current { background:url(../images/tab1_left_bg_30.png) no-repeat; padding: 8px 0 7px 12px;}
#pagewrapper .pagetab li a.pt-current span { background:url(../images/tab1_right_bg_30.png) no-repeat scroll 100%; padding:8px 12px 7px 0;color:#000; text-shadow:#fff 1px 1px;}
#pagewrapper .pagetab li a:hover { background:url(../images/tab1_left_bg_30.png) no-repeat;padding: 8px 0 8px 12px; }
#pagewrapper .pagetab li a:hover span { background:url(../images/tab1_right_bg_30.png) no-repeat scroll 100%; color:#5f9729;text-shadow:#fff 1px 1px;padding:8px 12px 7px 0;}

*/
.conditions{ width:100%; overflow:hidden;padding:12px 0 12px 0;background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/slqt-conditions-bg.png) repeat-x bottom; border-top:1px solid #d1d1d1;overflow:hidden; margin:6px 0 0 0; position:relative; z-index:1;}
.conditions .doc-img { position:absolute; top:50px; right:20px;}
.conditions .search-option { height:31px; margin:12px 0 0 0;}
.conditions .con-point-info-left {}
.conditions .con-point-info-left h4,h3 { padding: 4px 0 4px 0px;margin: 0 0 0 12px;}
.conditions .con-point-info-right {margin:20px 12px 0px 0; border-bottom: 1px dotted #CCC;padding:0 0 12px 12px;}
.conditions .con-point-info-right h4 { font-weight:normal; padding:4px 0;}
.search-option .searchtab { position:relative;}
.search-option .searchtab li { display:table-column;position:absolute;}
.search-option .searchtab li a { background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/slqt-search-tab-bg-deactive.png) no-repeat;padding:7px 45px 9px 45px; color:#FFF; text-shadow:none;}
.search-option .searchtab .st-second {left:183px;}
.search-option .searchtab li a.st-current,
.search-option .searchtab li a:hover { background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/slqt-search-tab-bg-active.png) no-repeat;}

.con-field .cf-item {float:left;padding:0 12px 12px 12px;}
.con-field h4 { padding:8px 0px 0 12px;width:70px;}
.con-field .label-doc {width:90px;}
.con-field .point-name { background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/icon-point.png) no-repeat left center; padding:0 0 0 24px;margin:0 0 0 28px;}
.con-field .con-tab ul{ list-style:none;}
.con-field .con-tab ul li { display:inline;padding:0 4px;}
.con-field .con-tab ul li a {padding:2px 3px;}
.con-field .con-tab ul li a.cft-current,
.con-field .con-tab ul li a:hover{ background:#5f9729; color:#FFF; text-shadow:none;}
.con-field .h4bg1 {margin:0px 0 0 8px;;padding:7px 0px 7px 12px;width:150px; background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/slqt-title-bg.png) no-repeat center;}
.con-field .cf-left{ background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/input-text-bg-left.png) no-repeat center left; width:4px; padding:15px 0;}
.con-field .cf-right{ background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/input-text-bg-right.png) no-repeat center right; width:4px; padding:15px 0;}
.con-field .cf-center { background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/input-text-bg-center.png) repeat-x center;padding:6px 0;}
.con-field .cf-text { border:none; background: transparent; height:16px;}
.con-field .cf-select{ border:none; background: transparent; height:17px;}

.con-field .cf-left-textarea{ background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/input-textarea-bg-left.png) no-repeat center left; width:4px; padding:35px 0;}
.con-field .cf-right-textarea{ background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/input-textarea-bg-right.png) no-repeat center right; width:4px; padding:35px 0;}
.con-field .cf-center-textarea { background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/input-textarea-bg-center.png) repeat-x center;padding:6px 0;}
.con-field .cf-textarea { border:none; background: transparent; height:56px;}

.cf-keyword { width:230px;}
.cf-trangthai {width:100px}
.cf-loaidiem {width:100px}
.cf-location {width:230px}
.cf-station {width:315px}
.cf-calendar {width:110px;}
.cf-tpmt {width:263px;}
.cf-gdata {width:263px;}
.calendar-f { position:relative;}
.calendar-img{ position:absolute; top:3px;right:0px;}
.img-calendar-arrow { margin-top:8px;}

.con-field .cf-button {margin:0 0 0 93px;}
.con-field .bt-doc {margin:0 0 0 114px;}
.pt-img-note { padding:0 4px 0 4px;}
.pt-lick { background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/input-text-solieu-bg.png) no-repeat center right; padding:2px 2px 2px 12px; margin-top:-7px; }

.result { width:95%; overflow:hidden;}
.result .rs-grid-box {border:1px solid #d3d3d3;  background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/slqt-grid-bottom-bg.png) repeat-x bottom; overflow:hidden;}
.rs-grid-box .gb-title { list-style:none; repeat-x;padding:7px 0;}
.gb-title-2 { background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/slqt-grid-title-results-bg.png) repeat-x;}
.gb-title-1 { background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/slqt-grid-title-bg.png) repeat-x;}

table.grid-vb {
    width: 100%;
    background: url("/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/slqt-grid-title-results-bg.png") repeat-x scroll 0 0 transparent;list-style: none outside none;
    border: 1px solid #D3D3D3;
}
tr.vb-header {
    color: #5B5B5B;
    margin: 0;
    padding: 0 0px;
    text-shadow: 1px 1px #FFFFFF; 
    height: 29px;   
}
tr.vb-header h4 {
    color: #5B5B5B;
    margin: 0;
    padding: 0 0px;
    text-shadow: 1px 1px #FFFFFF;    
}
tr.vb-item1{
    height: 34px; 
}
tr.vb-item2{
    height: 34px;background: none repeat scroll 0 0 #EDF2F6; 
}
.rs-grid-box h4 {padding:0 2px;}
.rs-grid-box .gb-title li { display:table-cell;padding:0 0 0 0px;}
.rs-grid-box .gb-title .gbt-col-1 { width:200px;}
.rs-grid-box .gb-title .gbt-col-2 { width:110px;}
.rs-grid-box .gb-title .gbt-col-3 { width:256px;}
.rs-grid-box .gb-title .gbt-col-4 {width:196px;}

.rs-grid-box .gb-title .gbt-col-doc-1 { width:10px;}
.rs-grid-box .gb-title .gbt-col-doc-2 { width:170px;}
.rs-grid-box .gb-title .gbt-col-doc-3 { width:600px;}
.rs-grid-box .gb-title .gbt-col-doc-4 {width:130px;}
.rs-grid-box .gb-title .gbt-col-doc-5 { width:120px;}
.rs-grid-box .gb-title .gbt-col-doc-6 {width:196px;}

.rs-grid-box .gb-row {list-style:none;padding:10px 0;}
.rs-grid-box .gb-row li {display:table-cell;float:left;padding:0 0 0 0px;}
.rs-grid-box .gb-row .gbt-row-col-1 { width:212px;}
.rs-grid-box .gb-row .gbt-row-col-2 { width:110px;}
.rs-grid-box .gb-row .gbt-row-col-3 { width:256px;}
.rs-grid-box .gb-row .gbt-row-col-4 { width:196px;}

.rs-grid-box .gb-row .gbt-row-col-doc-1 { width:35px;text-align: center;}
.rs-grid-box .gb-row .gbt-row-col-doc-2 { width:137px;}
.rs-grid-box .gb-row .gbt-row-col-doc-3 { width:448px;}
.rs-grid-box .gb-row .gbt-row-col-doc-4 { width:106px;}
.rs-grid-box .gb-row .gbt-row-col-doc-5 { width:102px;}
.rs-grid-box .gb-row .gbt-row-col-doc-6 { width:158px;}

.rs-grid-box .gb-row .col-doc {padding:0 0 0 0px}
.rs-grid-box .gb-row .gbt-row-col-1 a {color:#5b97b9}
.rs-grid-box .gb-row .gbt-row-col-1 a:hover {color:#5f9729}
.rs-grid-box .gb-row .gbt-icon{float:left;padding:0 4px 0 0;}
.bg-row-color-2 {background:#edf2f6;}
.bg-row-color-1 {background:#FFF;}
.rs-grid-box-control { border-top:1px solid #aace66; overflow:hidden;}
.rs-grid-box-control ul {float:left;list-style:none; margin:14px 0 14px 12px;}
.rs-grid-box-control ul li {display:inline; float:left;padding:0 4px 0 0; height:26px;}
.rs-grid-box-control ul li a { background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/control-bg-deactive-left.png) no-repeat; padding:5px 0px 7px 8px; color:#999;}
.rs-grid-box-control ul li a span { background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/control-bg-deactive-right.png) no-repeat scroll 100%; padding:8px 8px 8px 0;}
.rs-grid-box-control ul li a.gbc-current,
.rs-grid-box-control ul li a:hover { background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/control-bg-active-left.png) no-repeat; padding:5px 0px 7px 8px; color:#FFF; text-shadow:none; }
.rs-grid-box-control ul li a.gbc-current span,
.rs-grid-box-control ul li a:hover span { background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/control-bg-active-right.png) no-repeat scroll 100% 50%; padding:6px 8px 8px 0;}
.rs-grid-box-control h4 {margin:14px 0 0 0;}
.rs-grid-box-control .gbc-option { margin:12px 0 0 0;}
.rs-grid-box-control .gbc-text-count {margin-right:32px; font-weight:normal;}

.cf-grid-box {border:1px solid #d3d3d3;  background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/slqt-grid-bottom-bg.png) repeat-x bottom; overflow:hidden;}
.cf-grid-box .gbc-title { list-style:none; background:url(/DesktopModules/eKGIS_CMS/Resources/imgs/VB_TC/slqt-grid-title-bg.png) repeat-x;padding:0px 0 6px 0;}
.cf-grid-box .gbc-title li { display:table-cell;padding:0 0 0 0px;}
.cf-grid-box .gbc-title li h4 { width:auto; float:none;}
.cf-grid-box .gbc-title .gbct-col-0 {width:15px;}
.cf-grid-box .gbc-title .gbct-col-1 { width:140px;}
.cf-grid-box .gbc-title .gbct-col-2 { width:85px;}
.cf-grid-box .gbc-title .gbct-col-3 { width:60px;}
.cf-grid-box .gbc-title .gbct-col-4 {width:85px;}
.cf-grid-box .gbc-title .gbct-col-5 {width:60px;}
.cf-grid-box .gbc-title .gbct-col-6 {width:85px;}
.cf-grid-box .gbc-title .gbct-col-7 {width:40px;}


.cf-grid-box .gbc-row {list-style:none;padding:10px 0 6px 0;  height:25px;}
.cf-grid-box .gbc-row li {float:left;display:table-cell;float:left;padding:0;}
.cf-grid-box .gbc-row .gbc-row-col-0 { width:21px;}
.cf-grid-box .gbc-row .gbc-row-col-1 { width:140px;}
.cf-grid-box .gbc-row .gbc-row-col-2 { width:85px;}
.cf-grid-box .gbc-row .gbc-row-col-3 { width:60px;}
.cf-grid-box .gbc-row .gbc-row-col-4 { width:85px;}
.cf-grid-box .gbc-row .gbc-row-col-5 { width:60px;}
.cf-grid-box .gbc-row .gbc-row-col-6 { width:85px;}
.cf-grid-box .gbc-row .gbc-row-col-7 { width:40px;}
.cf-grid-box .gbc-row .gbc-row-col-1 a {color:#5b97b9}
.cf-grid-box .gbc-row .gbc-row-col-1 a:hover {color:#5f9729}

.gbct-checkbox {margin:8px 0px 0 8px;}
.gbct-param {padding-top:6px;}
.gbc-select { width:50px; margin:0 0 0 18px;}
.gbc-text {width:45px; margin:0 0 0 8px;}
.gbc-param {margin:2px 0 0 40px;;}
.gbc-dataname {margin:12px 0 0 12px; font-size:11px;}
.gbc-checkbox {margin:0px 0px 0 8px;}

.cf-button-2 {margin:0px 0 0 180px; vertical-align:middle;}
.cf-button-2 .cf-radio { margin-top:5px; float:left;}
.cf-button-2 .cf-button-img { float:left;margin:0px 0 0 12px;}
.cf-button-2 .cf-loading-bar { float:left;margin:12px 0 0 12px;}

.con-arrow-result {margin:-5px 0px 0 180px; width:42px; height:24px; z-index:999;}
.highlight
{
	background-color:yellow;
}

.dnnActionMenuBody {z-index:9999!important;}