@charset "utf-8";
/* CSS Document */

html,body,div,p,ul,li,span,a,img {padding:0;margin:0;border:0; font-family:Arial, Helvetica, sans-serif;font-size:12px;}
a	{text-decoration:none;}
h1,h2,h3,h4,h5{padding:0;margin:0; color:#5b5b5b;}
h2 { font-size:20px;}
h5 {padding:0;margin:0; color:#5b5b5b; text-shadow:none;}
a {color:#5f9729;}
a:hover	{ color:#0278b6;}
.div_h	{clear:both;width:100%;height:2px;}	
.div_v	{float:left;width:12px;height:1px;}		
.clear  {clear:both;}
.left {float:left;}
.right {float:right;}
.text_l_black { font-weight:lighter;color:#282828; text-shadow:#fff 1px 1px;}
.text_white { font-weight:lighter;color:#fff; text-shadow:none; text-align:justify;}
.text_org { color:#F60;text-shadow:#fff 1px 1px;}
.text_l_white {color:#fff!important; text-shadow:#000 1px 1px;}
.text_l_white:hover {color:#afdd00!important; text-shadow:#000 1px 1px;}
.text_s_white {color:#fff; text-shadow:#000 1px 1px;}
.text_s_white:hover {color:#afdd00; text-shadow:#000 1px 1px;}
.text_aqi {color:#fff; font-size:28px; text-shadow:#000 1px 1px;}
.text_aqi_s {color:#fff; text-shadow:none;}
.text_l_green {color:#5f9729;text-shadow:#F9F9F9 1px 1px;}
.text_l_gray {color:#999;text-shadow:#fff 1px 1px;}
.text_breadcrumb {color:#5a5e61;text-shadow:#fff 1px 1px; font-weight:bold;}
.text_l_water {color:#65b0e2; font-weight:bold;text-shadow:#fff 1px 1px;}
.text_s_water {color:#65b0e2;text-shadow:#fff 1px 1px;}
.text_l_air {color:#8c8c8c; font-weight:bold;text-shadow:#fff 1px 1px;}
.text_b_black {font-weight:bold;color:#282828;text-shadow:#fff 1px 1px;}
.text_s_black {font-weight:normal; font-size:9px;color:#666;text-shadow:#fff 1px 1px; letter-spacing:0px;}
.text_s_blue {font-weight:normal; font-size:9px;color:#0278b6;text-shadow:#fff 1px 1px;}
.text_b_blue {font-weight:normal; font-size:12px;color:#0278b6;text-shadow:#fff 1px 1px;}
.text11px { font-size:11px;}
.button_cem { padding:12px 0 12px 12px;}
.line_bar_gray {clear:both; float:left; margin:12px 0;background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/stripe_1.png) center; height:5px; width:662px;}
.title_b { border-bottom:1px solid #666;font-weight:bold;color:#666;text-shadow:#fff 1px 1px; margin:0 28px 0 48px; padding:10px 0;}
.pad_l_12 {padding:0 0 0 12px;}
.pad_r_12 {padding:0 12px 0 0;}
/*---------------------------------------*/
table, tr, td {
    font-size: 12px;
    font-family: Arial;
}
body #BodyMain{ width:100%; height:auto;}
body {
text-align:left; /* for IE */
margin:0 auto; /* for the rest */   
}

body #BodyMain1{ width:1008px; height:auto;}
#header-page { width:100%; height:164px; background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/header_bg.png) repeat-x; }
#header {z-index:0; width:100%; height:402px; background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/header_bg.png) repeat-x; }
#header_c {z-index:0; text-align: left; width:998px; height:402px; margin:0 auto; background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/header_c_bg.png) no-repeat;}
#htop{ width:100%; height:30px;}
#htop #datetime,#emaillog,.htopimg { margin-top:6px;padding-left:12px;}
#htop .hvline { margin:4px 6px 0 6px;}
#htop .iconrss { padding:6px 4px 0 0; cursor: pointer;}
#htop .htopicon { margin:6px 0 0 0 ;  cursor: pointer;}
#htop img { }
#logo { background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/cem_logo_v2.png) no-repeat; height:80px;width:auto;
        margin-left: -3px;}
#logo h2 {padding:18px 0 0 100px;}
#logo h3 {padding:0 0 0 90px;}
#hflash { width:430px; height:60px; }

#banner {
    width: 100%;
    height: 236px;
    background: url(/Portals/_default/Skins/CEM_V2/Recources/imgs/banner_bg.png);
    margin-top: -5px;
}
#banner #banner_c {width:974px;height:auto;margin:12px;}
#bscore { width:652px;  background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/bscore_bg.png);padding:12px 0px 0px 0px; }
#bmap {width:312px;}
#bmap .fmap { padding:12px 0 12px 12px; z-index:-1;}

#bscore .board {width:262px;height:auto;}
.board #board_form {width:262px; padding-left:6px;}
#board_form .data1 { list-style:none; width:262px; }
#board_form .data1 li {float:left; display:table-column; width:46px; height:15px; background:#7e7e7e;padding:8px 0 6px 6px}
#board_form .data1 li  h5 { font-weight:bold; color:#FFF; font-size:9px; }
#board_form .data1_l1 { list-style:none; padding-top:0px;}
#board_form .rowbg1{ background:#e5e5e5;}
#board_form .rowbg2{ background:#cbc9ca;}
#board_form .data1_l1 li {float:left;padding:5px 0 5px 6px;background:#e9e9e9; display:table-column; width:46px;  border-top:1px solid #FFF;}
#board_form .data1_l1 li  h5 { font-weight:bold; color:#555; font-size:9px;}
#board_form .data1_l2 li {float:left;padding:5px 0 5px 6px;background:#dbd9da; display:table-column; width:46px;  border-top:1px solid #FFF;}
#board_form .data1_l2 li  h5 { font-weight:bold; color:#555; font-size:9px; }
.bscore_t { padding-bottom:8px;}

#bscore .chart { width:205px; height:auto; margin-top:-10px;}
#bscore .chart img {padding:0;}
#bscore .aqi { width:135px; padding-right:6px; }

.aqiscore { text-align:center; padding-top:6px;}
.aqinow { background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/aqi_kem_new.png) no-repeat; width:157px; height:86px;}
.aqiyes { background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/aqi_kem.png) no-repeat; width:136px; height:76px;}
.aqiscore_s {padding:10px 0 0 12px;}
.aqiscore_s2 {padding:10px 12px 0px 0px;}
.aqiscore_info {padding:14px 12px 0 0;}
.aqiscore_title {clear:both; padding:18px 0 0 12px;}
.aqinow span { font-size:9px;}
.aqi_detail { background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/aqi_details.png) no-repeat; width:157px; height:46px; margin-top:6px;} 
.aqi_detail h2 { padding:7px 0 0 32px;text-shadow:none;}

#bmap { background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/map_bg.png); width:312px; height:auto;}
#bmap .bmapform {padding:12px;}
#bscore_bar { background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/qt_title_bg_new.png) repeat-x; width:652px; height:33px;margin:7px 0 0 0px;;}
#bscore_bar .stations_t { padding:8px 0 0 12px;}
#bscore_bar .stations_d { padding:8px 0 0 4px;}

#bcontrol { padding:4px 0px 0 0; margin-top:1px;  background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/qt_slide_bg.png) no-repeat; height:31px; width:183px;}
#bcontrol ul { list-style:none;}
#bcontrol ul li { display:inline;}
#bcontrol ul li a.currentbc { background:#ebebeb; padding-top:2px; margin:2px;}
#bcontrol ul li a:hover { color:#5f9729;}
#bcontrol .bcontrol_left{ background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/arrow_title_green_left_deactive.png) no-repeat; width:12px; height:23px;}
#bcontrol .bcontrol_right{ background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/arrow_title_green_right_deactive.png) no-repeat; width:12px; height:23px;}
#bcontrol .bcontrol_left:hover { background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/arrow_title_green_left.png) no-repeat; width:12px; height:23px;}
#bcontrol .bcontrol_right:hover { background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/arrow_title_green_right.png) no-repeat; width:12px; height:23px;}
#bcontrol .bcontrol_t {padding:4px 0px 0 0px; width:80px; text-align:center;}

/*-------------------------------------------*/

#main { width:100%; height:auto; background-color:#FFF; z-index:99;}
#main #wrapper { text-align: left;width:998px; margin:0 auto; background-color:#FFF; padding:0px 0 12px 0;min-height: 300px;}
#wrapper #panel_left {width:674px; height:auto; padding-top:0px;}
#panel_left .mod_left {clear:both;width:100%; height:auto;}
#wrapper #panel_right {width:324px; height:auto; padding:0 0px; }
#panel_left .mod_right {clear:both; padding-right:12px; height:auto;}
#wrapper #main_bottom { width:100%; height:auto;}

#news {width:336px; height:250px;}
.hot_news {width:314px; height:auto;margin-top:20px;}
.hot_news .line_blue { border-top:3px solid #0278b6; text-transform:uppercase; margin-top:5px;}
.hot_news h3 span{ font-size:14px;display:block; margin-top:-7px; background:#fff; padding-right:7px;font-weight:bold;}
.hot_news ul { list-style:disc; color:#3c6cac; margin:0 0 0 18px;}
.hot_news ul li { padding:5px 0; line-height:120%;list-style-type:square;clear: both;}

/*--------------------------------------------*/

#basin {width:300; height:auto;padding:0 12px 0px 0px; background:#f5f5f5;}
#basin h3 { padding:10px 0 10px 0px;}
#basin .basinslide { background:url(/Portals/_default/skins/cem_v2/Resources/imgs/basin.png) no-repeat; width:244px; height:119px; padding-left:56px;}
#basin .basinslide .bs_ctr_left { background:url(/Portals/_default/skins/cem_v2/Resources/imgs/arrow_lvs_left.png) no-repeat; margin:90px 0 0 12px;width:10px; height:15px;}
#basin .basinslide .bs_ctr_right { background:url(/Portals/_default/skins/cem_v2/Resources/imgs/arrow_lvs_right.png) no-repeat; margin:90px 12px 0 0px;width:10px; height:15px;}
#basin .basinslide .bs_content { margin:80px 0 0 0px; width:255px; height:25px; }
#basin .basinslide .bs_content h3 { text-align:center; padding:10px 12px 0 12px;}


.document { width:100%; height:auto;}
.mr_tab { background:#f5f5f5; height:35px;}
.mr_tab ul { list-style:none; padding-left:12px;}
.mr_tab ul li { display:inline; float:left; padding:0 2px 0 0; margin-top:13px;}
.mr_tab ul li a{ background:#5b5b5b; padding: 8px 0 8px 12px;}
.mr_tab ul li a span { background:#5b5b5b; padding:8px 12px 8px 0;color:#FFF; text-shadow:#000 1px 1px;}
.mr_tab ul li a.currentmr { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/tab1_left_bg_30.png) no-repeat; padding: 8px 0 8px 12px;}
.mr_tab ul li a.currentmr span { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/tab1_right_bg_30.png) no-repeat scroll 100%; color:#000; text-shadow:#fff 1px 1px;}
.mr_tab ul li a:hover { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/tab1_left_bg_30.png) no-repeat; }
.mr_tab ul li a:hover span { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/tab1_right_bg_30.png) no-repeat scroll 100%; color:#5f9729;text-shadow:#fff 1px 1px;}

#gallery { width:300px; height:auto; }
#gallery .line_dot { border-top:4px dotted #666; margin-top:2px;}
#gallery h3 span { font-weight:bold; font-size:14px; display:block;margin-top:-10px; background:#FFF; padding-right:12px;}
#gallery .gl_ctr_left { background:url(/Portals/_default/skins/cem_v2/Resources/imgs/gallery_ctr_left.png) no-repeat; width:18px; height:18px;margin:40px 0 0 12px;}
#gallery .gl_ctr_right { background:url(/Portals/_default/skins/cem_v2/Resources/imgs/gallery_ctr_right.png) no-repeat; width:18px; height:18px;margin:40px 12px 0 0;}
#gallery .gl_content { width:260px;margin:0 auto; text-align:center;}

.vclip { background:#FFF; text-align:center;padding:12px 0 0px 0px;border:1px solid #d1d1d1;margin-top:-1px;}
.vclip h4{ padding:7px 0 7px 12px; color:#333;}

/*------------------------------------*/
#main_bottom .partner{ width:100% ; height:auto;}
.partner .pn_top_bg { background:url(/Portals/_default/skins/cem_v2/Resources/imgs/partner_top_bg.png) no-repeat; width:998px; height:12px;}
.partner .pn_bottom_bg { background:url(/Portals/_default/skins/cem_v2/Resources/imgs/partner_bottom_bg.png) no-repeat; width:998px; height:12px;}
.partner .pn_content { border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1; width:996px; overflow:auto;}
.partner .pn_content ul { list-style:none; text-align:center;}
.partner .pn_content ul li { float:left; display:inline-table; width:16%; }



/*-------------------------------------*/

#footer { width:100%; background:url(/Portals/_default/skins/cem_v2/Recources/imgs/footer_bg.png) repeat-x; height:202px;}
#footer #footer_c {text-align: left; width:998px; margin:0 auto; overflow:hidden; }
#footer_c #f_left { width:674px; height:auto; margin-top:12px;}
#footer_c #f_right {width:324px; height:auto; margin-top:12px;}
#footer_c .fcount  { width:132px;}
#footer_c .fcount ul li { padding:2px 0 0 0; list-style-type:square;}
#footer_c .fpartner { padding:5px 0 0 12px;}
#footer_c .fpartner ul { list-style:none;}
#footer_c .fpartner ul li { display:inline; padding:0 0px 0 0;}
#f_left { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/cem_logo.png) no-repeat left top; height:152px; width:100%;}
#f_left #finfo { height:152px;}
#f_left #finfo ul { list-style:none;}
#f_left #finfo ul li { padding:0px 0 5px 95px;}
#f_left #footermenu ul { list-style:none;margin-top:20px;}
#f_left #footermenu ul li { float:left; display:inline; margin-right:22px;}

#f_right .fselect { background:url(/Portals/_default/skins/cem_v2/Recources/imgs/connect_i_bg.png) no-repeat; height:25px; width:312px; border:none;margin:12px 0 0 12px; padding:0 0 0 12px;}
.cssLinkWeb span{font-weight:bold; font-size:12px;color:#5B5B5B;padding-left:12px;}
#f_right ul{ list-style:disc; color:#0078b5; margin-left:30px;}
#f_right ul li { padding:5px 0;}
#f_right .copyright { margin-top:-1px; color:#fff; text-shadow:#000 1px 1px;}


/*----------------------------------------*/
.gl-next {position:absolute;top:40px;right:12px;z-index:999;width: 21px;height: 21px;text-indent: -999999px;background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/gallery_ctr_right.png)   no-repeat 0 0px;}
.gl-prev {position:absolute;top:40px;left:12px;z-index:999;width: 21px;height: 21px;text-indent: -999999px;background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/gallery_ctr_left.png) no-repeat 0 0px;}
.gl-next:hover,.gl-prev:hover {background-position: 0 -23px;}
#gallery #galleryslider .gl-pager .pager-active,
#gallery #galleryslider .gl-pager a:hover {background-position: 0 0;}
#gallery #galleryslider li{float:left;display:inline;padding:0 77px;width:170px;height:100px;}	
#gallery #galleryslider img{padding:12px 0 4px 0;}
#gallery #galleryslider #gallery_img{float:left;width:170px;height:100px;}

.lvs-next {position:absolute;top:85px;right:-42px;z-index:999;width: 21px;height: 21px;text-indent: -999999px;background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/gallery_ctr_right.png)   no-repeat 0 0px;}
.lvs-prev {position:absolute;top:85px;left:-42px;z-index:999;width: 21px;height: 21px;text-indent: -999999px;background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/gallery_ctr_left.png) no-repeat 0 0px;}
.lvs-next:hover,.lvs-prev:hover {background-position: 0 -23px;}
#basinslide .lvsslider .lvs-pager .pager-active,
.lvs-pager a:hover {background-position: 0 0;}
#basinslide .lvsslider li{float:left;display:inline;padding:0 0 0 12px;height:auto; margin:77px 0 0 0px;}	
#basinslide .lvsslider .lvsSlider_caption { clear:both;}

/*-----------------Tooltip-------------------*/

#tooltip_l { width:347px; overflow:auto;}
#tooltip_l #tt_l_top { background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/tooltip_top_bg.png) no-repeat; width:347px; height:45px;}
#tooltip_l #tt_l_top h2 {color:#FFF; margin:14px 0 0 0px; text-align:center;}
#tooltip_l #tt_l_main { background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/tooltip_bg.png) repeat-y; width:347px;}
#tt_l_main .h4ttmain {margin:6px 0 0 32px;}
#tt_l_main #aqi_check { background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/aqi_check_index.png) no-repeat center top; width:347px; height:250px;}
#aqi_check ul { float:left;list-style:none; height:35px; margin:12px 0 0px 20px;}
#aqi_check ul li {float:left; text-align:center;}
#aqi_check ul .ac_nleft {width:110px; height:60px;}
#aqi_check ul .ac_nright {width:192px; height:60px;text-align:left; }
#aqi_check ul .chanmarin { margin-top:-8px }
#aqi_check ul .chanmarin2 { margin-top:2px }
#aqi_check .tt_quality {width:110px;margin:4px 0 0 10px; text-align:center;}
#aqi_check .tt_quality ul { list-style:none;}
#aqi_check .tt_quality ul li { padding:16px 0 15px 18px;}
#tt_l_bottom { background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/tooltip_bg_bottom.png) no-repeat; width:347px; height:13px;}

#aqi_check .tt_quality_status {width:200px;margin:4px 0 0 10px; text-align:center;}
#aqi_check .tt_quality_status ul { list-style:none;}
#aqi_check .tt_quality_status ul li { padding:16px 0 12px 2px;}

{ width:269px; overflow:auto;}
#tt_s_top { background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/tooltip_top_bg_s.png) no-repeat; width:269px; height:45px;}
#tt_s_top h2 {color:#FFF; margin:14px 0 0 0px; text-align:center;}
#tt_s_main { background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/tooltip_bg_s.png) repeat-y; width:269px;}
#tt_s_main .h4ttsmain {margin:6px 0 0px 24px; padding:0 0 4px; 0;}
#aqi_check_date {width:100%; overflow:auto;}
#aqi_check_date ul { list-style:none; margin:0px 0 0 15px; padding:1px 0 0 9px;}
#aqi_check_date ul li { float:left; padding: 6px 60px 0 0;}
#aqi_check_date ul .t3 { padding:6px 0 0 0px;}
#tt_s_bottom { background:url(/Portals/_default/skins/cem_v2/Resources/imgs/tooltip_bg_bottom_s.png) no-repeat; width:269px; height:13px;}

#aqi_check_date .aqidate1 { background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/imgs/tooltip_bg_s_1.png) no-repeat; width:239px; height:26px; }
#aqi_check_date .aqidate2 { background:url(/Portals/_default/skins/cem_v2/Resources/imgs/tooltip_bg_s_2.png) no-repeat; width:239px; height:26px; }
#aqi_check_date .aqidate3 { background:url(/Portals/_default/skins/cem_v2/Resources/imgs/tooltip_bg_s_3.png) no-repeat; width:239px; height:26px; }
#aqi_check_date .aqidate4 { background:url(/Portals/_default/skins/cem_v2/Resources/imgs/tooltip_bg_s_4.png) no-repeat; width:239px; height:26px; }
#aqi_check_date .aqidate5 { background:url(/Portals/_default/skins/cem_v2/Resources/imgs/tooltip_bg_s_5.png) no-repeat; width:239px; height:26px; }
#tt_s_main .h4ttslink { padding-top:6px;}
#tt_s_main .h4ttslink img  { float:left;padding:2px 12px 0 18px; }

#tooltip_pop { width:381px; overflow:auto;}
#tooltip_pop .tp_top{ background:url(/Portals/_default/skins/cem_v2/Resources/imgs/tooltip_pop_bg_top.png) no-repeat; height:13px; width:381px;}
#tooltip_pop .tp_c { width:381px; height:40px; background:#5b5b5b;}
#tooltip_pop .tp_bottom { background:url(/Portals/_default/skins/cem_v2/Resources/imgs/tooltip_pop_bg_bottom.png) no-repeat; height:7px; width:381px;}
.mr_tab2 { background:#f5f5f5;height:35px;margin:0px 8px 0 8px; padding-top:0px;}
.mr_tab2 ul { list-style:none; padding-left:12px;}
.mr_tab2 ul li { display:inline; float:left; padding:0 2px 0 0; margin-top:13px;}
.mr_tab2 ul li a{ background:#5b5b5b; padding: 8px 0 8px 12px;}
.mr_tab2 ul li a span { background:#5b5b5b; padding:8px 12px 7px 0;color:#FFF; text-shadow:#000 1px 1px;}
.mr_tab2 ul li a.currentmr { background:url(/Portals/_default/skins/cem_v2/Resources/imgs/tab1_left_bg_30.png) no-repeat; padding: 8px 0 8px 12px;}
.mr_tab2 ul li a.currentmr span { background:url(/Portals/_default/skins/cem_v2/Resources/imgs/tab1_right_bg_30.png) no-repeat scroll 100%; padding:8px 12px 7px 0;color:#000; text-shadow:#fff 1px 1px;}
.mr_tab2 ul li a:hover { background:url(/Portals/_default/skins/cem_v2/Resources/imgs/tab1_left_bg_30.png) no-repeat; }
.mr_tab2 ul li a:hover span { background:url(/Portals/_default/skins/cem_v2/Resources/imgs/tab1_right_bg_30.png) no-repeat scroll 100%; color:#5f9729;text-shadow:#fff 1px 1px;}

.linebottom {height:1px width:100%; border-bottom:1px solid #d1d1d1;margin:-1px 8px 0 8px;}

.tt_list_qt { background:url(/Portals/_default/skins/cem_v2/Resources/imgs/tooltip_list_bg.png); padding:8px; border-bottom:5px solid #d0e1ee; width:180px;}
.tt_list_qt ul { list-style-image:url(/Portals/_default/skins/cem_v2/Resources/imgs/arrow_water.png); margin:0 0 0 12px;}
.tt_list_qt ul li { padding:6px 0;}
.tt_list_qt ul li a {padding:2px 2px;}
.tt_list_qt ul li:hover a { background:#d0e1ee;}

/* --gioi thieu-- */
.intro {width:662px; height:178px; background:#f5f5f5; background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/intro-bg.png) right no-repeat;}
.intro .introboard { background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/intro-img.png) no-repeat left; height:178px; width:100%;}
.intro .introboard h3,
.intro .introboard h4 {margin:12px 12px 0 240px; text-align:justify;}
.intro .introboard h4 { line-height:150%;}
.intro .introboard_en { background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/intro-img-en.png) no-repeat left; height:178px; width:100%;}
.intro .introboard_en h3,
.intro .introboard_en h4 {margin:12px 12px 0 240px; text-align:justify;}
.intro .introboard_en h4 { line-height:150%;}

/* paging */
#mod_listnews_paging {clear:both;float:left;background-color:#FFF;width:100%;padding:10px 0 10px 0;}	
#mod_listnews_paging .paging_list{float:left;width:650px;height:auto;padding:12px 0 12px 12px;}
#mod_listnews_paging .paging_list ul{list-style:none;width:500px;height:auto;}
#mod_listnews_paging .paging_list li{float:left;width:auto;display:inline;padding:0;margin:0 2px 0 2px;}
#mod_listnews_paging .paging_list li a{text-decoration:none;color:#cfcfcf;padding:4px 8px;border:1px #cfcfcf solid;}
#mod_listnews_paging .paging_list li a:hover{text-decoration:none;text-shadow:none;color:#FFF;font-weight:bold;background:#cfcfcf;border:1px #cfcfcf solid;}
#mod_listnews_paging .paging_list li a:active,{text-decoration:none;text-shadow:none;color:#FFF;font-weight:bold;background:#cfcfcf;border:1px #cfcfcf solid;}
#mod_listnews_paging .paging_list li a.paging_list_current{text-decoration:none; text-shadow:none;color:#FFF;font-weight:bold;background:#5f9729;border:1px #999 solid;}	

/*******CEM Noibo********/
#main #wrapper .panel-left-page{width:745px; height:auto; padding-top:0px;}
#main #wrapper .panel-right-page{width:210px; height:auto; padding-top:0px;}
.featuredColor {color:#01659d;}
.featuredBg {background-color:#01659d;}
.secondColor {color:#5f9729;}
.secondBg {background-color:#5f9729;}
a.featuredColor:hover {color:#5f9729;}
.myriad { font-family: "MyriadProCondensed", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; }
.modules.client {padding:12px 0 24px 0; border-bottom:1px solid #ccc; display:inline-block;width:100%;}
.modules.client:last-child {border:none;}
.modules.client.rightBox {border:none;padding:12px 0 12px 0;}
p.textline { line-height:18px;}
.line_bar_gray_full {clear:both;margin:12px 0;background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/stripe_1.png) center; height:5px; width:100%;}
.row {}
.row .col-md-4 {width:33.33333333333333%; float:left; padding:0 15px;}
.row .col-md-4:first-child {padding-left:0px;}
.row .col-md-4:last-child {padding-right:0px;}
.row > div {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#breadcrumb {margin-top:12px;}

.titleBar.style01 h2 {background-color:#01659d;color:#FFF; line-height:30px; padding:0 12px;}

.titleBar.style02 h2 {background-color:#5f9729;color:#FFF; line-height:30px; padding:0 12px;}
.titleBar.style03 .iconTitleBarMes {background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/cem_noibo_icon24.png) no-repeat 0px 0px; width:24px; height:24px; display:inline-block; float:left; margin-right:6px;}
.titleBar.style03 h2 span{color:#01659d; font-size: 20px;line-height:30px; padding:0 12px 0 12px; font-family: "MyriadProCondensed", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; }
.titleBar.style04 {background-color:#01659d; display:inline-block}
.titleBar.style04 span {background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/cem_noibo_icon24.png) no-repeat -120px 0px; width:24px; height:24px; display:inline-block; float:left; margin-right:6px;margin-top:4px;margin-left:2px;}
.titleBar.style04 h2 {color:#FFF; line-height:34px; padding:0 12px 0 0px; float:left}

.titleBar.style05 { display:block;}
.titleBar.style05 span {background-image:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/cem_noibo_icon24.png) ; width:24px; height:24px; display:inline-block; float:left; margin-right:6px;margin-top:4px;}
.titleBar.style05 h2 {color:#FFF; line-height:30px; margin:0 0px 0 36px; display:block;background-color:#01659d;padding:0 0 0 12px;}


.titleBar.style06 { display:block;}
.titleBar.style06 span {background-image:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/cem_noibo_icon24.png) ; width:24px; height:24px; display:inline-block; float:left; margin-right:6px;margin-top:4px;}
.titleBar.style06 h2 {color:#FFF; line-height:30px; margin:0 0px 0 36px; display:block;background-color:#5f9729;padding:0 0 0 12px;}
.calendarIcon01 { background-position:-24px 0px;}
.calendarIcon02 { background-position:-48px 0px;}
.reportIcon { background-position:-72px 0px;}
.newsClient .firstNews {margin-bottom:12px;}
.newsClient .firstNews p { text-align:justify}
.newsClient .firstNews a{font-size:20px;}
.newsClient .items { list-style:none;}
.newsClient .items li { list-style:none; background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/dot_blue_client.png) no-repeat scroll 0px 5px;padding:2px 0 2px 12px}

table.gridClient {margin-left:16px;}
table.gridClient tbody tr td:first-child {background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/dot_blue_client.png) no-repeat scroll 0px 11px; padding: 0 0 0 18px;}
table.gridClient tbody tr td { line-height:30px;color:#01659d;}
.birthdayForm .gridClient {width:75%; float:left}
.birthdayForm .logobd {float:right;width:22%}
.birthdayForm .logobd .month {float:right;}
.birthdayForm .logobd span {float:right; background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/happyBirdayCake.png) no-repeat;width:153px; height:110px; display:inline-block}
.birthdayForm .logobd .month  h1{font-size:30px; font-weight:bold; text-transform:uppercase; line-height:30px;}
.birthdayForm .logobd .month strong {font-size:90px; font-weight:bold; text-transform:uppercase; line-height:86px;}
.birthdayForm .room {color:#606060}
.lastCalendar .content {}
.lastCalendar .noScroll { display:inline-block;;margin-left:30px; text-align:center}
.lastCalendar .noScroll .week {padding:12px;}
.lastCalendar .noScroll small {display:block; margin:6px 0; }
.lastCalendar .noScroll h1 {color:#FFF; text-transform:uppercase; font-size:30px;}
.lastCalendar .noScroll strong{font-size: 72px;font-weight: bold;text-transform: uppercase; color:#FFF; line-height:50px;}
.lastCalendar .scrollBox {margin-left:135px;}
.lastCalendar .listScroll { height: 575px; position: relative; top: 0; bottom: 0; left: 0; right: 0; border: 3px solid #ccc;
padding: 12px;}

.writtenOpr .gridClient {width:100%;}
.writtenOpr table.gridClient tbody tr td {background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/dot_blue_client.png) no-repeat scroll 0px 11px; padding: 0 0 0 18px;}
.writtenOpr table.gridClient tbody tr td { line-height:24px;color:#01659d;}

.tabClient.items { list-style:none;}
.tabClient.items li { display:inline-block}
.tabClient.items li a { font-size:14px; font-weight:bold;color:#01659d; padding:9px 8px; text-transform:uppercase; text-shadow:none} 
.tabClient.items li a:hover {background-color:#5f9729;color:#FFF;}

.autoScore { position:relative}
.autoScore .tabClient { position:absolute;top:21px; left:185px;}
.autoScore .tabClient li a{padding: 9px 12px;}
.autoScore .titleBar { position:relative}
.autoScore .titleBar:after {content:''; background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/arrow_titlebar_client.png) no-repeat; width:34px; height:34px; position:absolute; right:-32px;}

.workCalendar .listScroll { position: relative; width: 100%; top: 0; bottom: 0; left: 0; right: 0; }

.workCalendar.box01 .listScroll { height: 90px;}
.workCalendar.box02 .listScroll { height: 155px;}
.workCalendar.box03 .listScroll { height: 270px;}

.workCalendar .items .item { border-bottom: 1px dashed #CCC; overflow: hidden; }

.workCalendar .items .item a { display: block; cursor: pointer; padding-top: 6px; padding-bottom: 6px; color:#505050}
.workCalendar .items .item h5 {color:#a4a4a4 }
.workCalendar .items .item p { font-weight: bold; }
.workCalendar .items .item a:hover p {color:#5f9729}

.workCalendar .listLink.items .item { background:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/dot_blue_client.png) scroll 0 10px no-repeat; padding-left: 26px; }
.workCalendar .listLink {margin-left:9px;}

.boxLinks .boxLink { padding:12px; overflow:hidden;margin-bottom:12px;display: inherit;}
.boxLinks .boxLink:hover {background-color:#5f9729;}
.boxLinks .boxLink h1 { font-size:28px; color:#FFF; text-shadow:none; }
.boxLinks .boxLink span {width:64px; height:64px; background-image:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/icon63_client.png); display:inline-block; float:left}
.boxLinks .boxLink span.reportIcon64 { background-position:-64px 0;}
.boxLinks .boxLink span.downloadDoc64 { background-position:0px 0;}
.boxLinks .boxLink span.iso9001Icon64 { background-position:-128px 0;}
.boxLinks .boxLink h1.iso9001{margin-top:15px;}

/*
 * jQuery FlexSlider v2.0
 
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;text-align:center;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { max-height:230px; }
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 12px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px; list-style:none}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; margin: -7px 0 0; display: block; background: url(/Portals/_default/Skins/CEM_V2/Recources/imgs/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 9px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(255,255,255,0.8); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(46,114,127,0.8); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(46,114,127,0.8); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}


.sliderTour { position:absolute; bottom:0px; display:inline-block; width:100%}
.flexsliderTour a:focus  {outline: none;}
.flexsliderTour ul { list-style:none;}
.flexsliderTour {margin: 0; padding: 0;}
.flexsliderTour .slides > li {display: none;list-style:none; -webkit-backface-visibility: hidden; position:relative;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexsliderTour .slides img {width: 100%; display: block;}
.flexsliderTour .slides a { background-repeat:no-repeat;-moz-background-size: cover; -webkit-background-size: cover; background-size: cover; background-position: 50% 50%; display:block;width:100%; height:120px;}
.flexsliderTour .slides a:hover {background-color:#5bb5c7!important;}
.flexsliderTour .slides > li:hover .over-bg { width: 48px; height: 48px;margin-left: -24px; margin-top:-24px; }
.flexsliderTour .slides > li:hover .over-bg span{margin-top:15px; }
/* FlexSlider Default Theme
*********************************/
.flexsliderTour {margin: 0 0 12px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0px 0px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,.2); -moz-box-shadow: 0px 0px 4px rgba(0,0,0,.2); -o-box-shadow: 0px 0px 4px rgba(0,0,0,.2); zoom: 1;}
.flexsliderTour .slides {zoom: 1;}
.flexsliderTour:hover .flex-next {opacity: 0.8; right: 5px;}
.flexsliderTour:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexsliderTour:hover .flex-next:hover, .flexsliderTour:hover .flex-prev:hover {opacity: 1;}
.flexsliderTour .flex-control-nav { bottom:inherit; bottom:-27px;}

.flexsliderTour .flex-control-paging li a { background: #333; background: rgba(0,0,0,0.2); }
.flexsliderTour  .flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.5); }
.flexsliderTour  .flex-control-paging li a.flex-active { background: #000; background: rgba(1,101,157,0.8); cursor: default; }

/* basic scrollbar styling */
/* vertical scrollbar */
.mCSB_container{
	width:auto;
	margin-right:30px;
	overflow:hidden;
}
.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
}
.mCustomScrollBox .mCSB_scrollTools{
	width:16px;
	height:100%;
	top:0;
	right:0;
}
.mCSB_scrollTools .mCSB_draggerContainer{
	height:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.mCSB_scrollTools .mCSB_buttonUp+.mCSB_draggerContainer{
	padding-bottom:40px;
}
.mCSB_scrollTools .mCSB_draggerRail{
	width:2px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_scrollTools .mCSB_dragger{
	width:100%;
	height:30px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	text-align:center;
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{
	height:20px;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
}
.mCSB_scrollTools .mCSB_buttonDown{
	bottom:0;
	margin-top:-40px;
}
/* horizontal scrollbar */
.mCSB_horizontal .mCSB_container{
	height:auto;
	margin-right:0;
	margin-bottom:30px;
	overflow:hidden;
}
.mCSB_horizontal .mCSB_container.mCS_no_scrollbar{
	margin-bottom:0;
}
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools{
	width:100%;
	height:16px;
	top:auto;
	right:auto;
	bottom:0;
	left:0;
	overflow:hidden;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerContainer{
	height:100%;
	width:auto;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	overflow:hidden;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft+.mCSB_draggerContainer{
	padding-bottom:0;
	padding-right:20px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:6px;
	margin:7px 0;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger{
	width:30px;
	height:100%;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:6px;
	margin:6px auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight{
	width:20px;
	height:100%;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
	float:left;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight{
	right:0;
	bottom:auto;
	margin-left:-40px;
	margin-top:-16px;
	float:right;
}

/* default scrollbar colors and backgrounds */
.mCustomScrollBox .mCSB_scrollTools{
	opacity:0.75;
}
.mCustomScrollBox:hover .mCSB_scrollTools{
	opacity:1;
}
.mCSB_scrollTools .mCSB_draggerRail{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.4);
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{-webkit-transition:background 0.4s;-moz-transition: background 0.4s;-o-transition:all 0.4s;-ms-transition:all 0.4s;transition:all 0.4s;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:#6f6f6f; /* rgba fallback */
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:#32b4e6;
	filter:"alpha(opacity=85)"; -ms-filter:"alpha(opacity=85)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:#202020;
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight{
	background-image:url(/Portals/_default/Skins/CEM_V2/Recources/imgs/scroll_buttons.png);
	background-repeat:no-repeat;
	opacity:0.4;
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-96px 0;
}
.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-96px -20px;
}
.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:0 -40px;
}
.mCSB_scrollTools .mCSB_buttonRight{
	background-position:0 -56px;
}
.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover{
	opacity:0.75;
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active{
	opacity:0.9;
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}

#jquery-overlay { position: absolute; top: 0; left: 0; z-index: 10000; width: 100%; height: 500px; }
#jquery-lightbox { position: absolute; top: 0; left: 0; width: 100%; z-index: 10001; text-align: center; line-height: 0; }
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box { position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#lightbox-container-image { padding: 10px; }
#lightbox-loading { position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#lightbox-nav { position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none; }
#lightbox-nav-btnPrev,
#lightbox-nav-btnNext { width: 49%; height: 100%; zoom: 1; display: block; }
#lightbox-nav-btnPrev { left: 0; float: left; }
#lightbox-nav-btnNext { right: 0; float: right; }
#lightbox-container-image-data-box { font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%; padding: 0 10px 0; }
#lightbox-container-image-data { padding: 0 10px; color: #666; }
#lightbox-container-image-data #lightbox-image-details { width: 70%; float: left; text-align: left; }
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber { display: block; clear: left; padding-bottom: 1.0em; }
#lightbox-secNav-btnClose { width: 66px; float: right; padding-bottom: 0.7em; }
#lightbox-image { max-width: 600px; }
.porfolioBox .LinkManager { position: absolute; top: -22px; }
#newsBoxPanel .col-md-6 .LinkManager { position: absolute; top: -22px; }
#newsBoxPanel .col-md-6:first-child { padding-left: 0px; }
#newsBoxPanel .col-md-6:last-child { padding-right: 0px; }
#newsBoxPanel .col-md-12 { padding-left: 0px; padding-right: 0px; }

h1, h2{ font-size: 20px;font-weight: normal;line-height: 18px;}
h3, h4{ font-size: 12px;font-weight: normal;line-height: 18px;}
h5, h6, dt{ font-size: 11px;font-weight: normal;}
.rcbList {background:#FFF;}