.MB20{margin-bottom: 20px;}
.media-object-default1{
	border-bottom: solid 1px #ccc;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	padding: 20px;
}

.boT{border-top: solid 1px #ccc;}

.text-muted {
    color: #777777;
}

.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.text-justify {
  text-align: justify;
}

.media,
.media-body {
  zoom: 1;
  overflow: hidden;
}
.media-body {
  width: 10000px;
}

.media-body {
  display: table-cell;
  vertical-align: top;
}

.tieu-de-pakn {
	font-family: "Roboto-Condensed-Regular";
	font-size:18px;
	font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}
