<div id="content_top">
    <div class="region">
        <aside id="block_breaking_news" class="block">
            <h3 class="block_title">Tiêu điểm:</h3>
            <div class="flexslider slider">
                <ul class="slides">
                    <li>
                        <a href="#">Thủ tướng: Không cấp mới giấy phép nhập phế liệu vào Việt Nam.</a>
                    </li>
                    <li>
                        <a href="#">Tổng cục Môi trường thắp nến tri ân các anh hùng Liệt sỹ (26/07/2018).</a>
                    </li>
                    <li>
                        <a href="#">Rà soát, sửa đổi danh mục phế liệu nhập khẩu làm nguyên liệu sản xuất.</a>
                    </li>
                </ul>
            </div>
        </aside>
        <aside id="block_front_slider" class="block slider">
            <div class="flexslider slider" id="block_front_slides">
                <ul class="slides">
                    <li>
                        <img src="/images/homes/TT 1.jpg" height="340" />
                        <p class="flex-caption">
                            Không được quên những cống hiến, hy sinh của các thế hệ cha anh làm nguyên liệu sản xuất...
                        </p>
                    </li>
                    <li>
                        <img src="/images/homes/BT_1.jpg" height="340" />
                        <p class="flex-caption">
                            Bộ TN&MT: Trao Quyết định bổ nhiệm ông Phạm Tân Tuyến giữ chức Vụ trưởng Vụ Tổ chức cán bộ...
                        </p>
                    </li>
                    <li>
                        <img src="/images/homes/BT_4.jpg" height="340" />
                        <p class="flex-caption">
                            Thứ trưởng Nguyễn Thị Phương Hoa tiếp công dân định kỳ tháng 7/2018 làm nguyên liệu sản xuất...
                        </p>
                    </li>
                    <li>
                        <img src="/images/homes/IMG_5597 resize.JPG" height="340"/>
                        <p class="flex-caption">
                            Tập trung nguồn lực hoàn thiện quy hoạch tài nguyên nước các lưu vực sông làm nguyên liệu sản xuất...
                        </p>
                    </li>
                    <li>
                        <img src="/images/homes/IMG_5597 resize.JPG" height="340"/>
                        <p class="flex-caption">
                            Tập trung nguồn lực hoàn thiện quy hoạch tài nguyên nước các lưu vực sông làm nguyên liệu sản xuất...
                        </p>
                    </li>
                    <li>
                        <img src="/images/homes/IMG_5597 resize.JPG" height="340"/>
                        <p class="flex-caption">
                            Tập trung nguồn lực hoàn thiện quy hoạch tài nguyên nước các lưu vực sông làm nguyên liệu sản xuất...
                        </p>
                    </li>
                </ul>
            </div>
            <div class="flexslider carousel" id="block_front_carousel">
                <ul class="slides">
                    <li>
                        <img src="/images/homes/TT 1.jpg" />
                    </li>
                    <li>
                        <img src="/images/homes/BT_1.jpg" />
                    </li>
                    <li>
                        <img src="/images/homes/BT_4.jpg" />
                    </li>
                    <li>
                        <img src="/images/homes/IMG_5597 resize.JPG" />
                    </li>
                    <li>
                        <img src="/images/homes/IMG_5597 resize.JPG" />
                    </li>
                    <li>
                        <img src="/images/homes/IMG_5597 resize.JPG" />
                    </li>
                </ul>
            </div>
        </aside>
        <aside id="block_latest_headlines" class="block">
            <h3 class="block_title">Tiêu đề mới nhất</h3>
            <div class="content">
                <ul>
                    <li class="first">
                        <a href="#">
                            Thanh Hóa: Hơn 500 đoàn viên thanh niên ra quân dọn vệ sinh.
                        </a>
                    </li>
                    <li>
                        <a href="#">Bảo vệ môi trường phải bắt đầu từ ý thức người dân.</a>
                    </li>
                    <li>
                        <a href="#">Kêu gọi cộng đồng chung tay bảo vệ môi trường biển qua.</a>
                    </li>
                    <li>
                        <a href="#">Tiền Giang: Cả tỉnh ra quân trục vớt lục bình.</a>
                    </li>
                   
                    <li class="last">
                        <a href="#">Hà Nội nỗ lực phủ xanh phố phường .</a>
                    </li>
                </ul>
                <p>
                    <a href="#" class="view_all"><span><span>Xem tất cả</span></span></a>
                </p>
            </div>
        </aside>

        <div id="block_content_top_tabs" class="block">
           
            <aside id="block_weather" class="block">
                <h3 class="block_title_black">Số liệu quan trắc<a href="#" class="view_all"><span></span></a></h3>
                <div class="content">

                </div>
            </aside>
        </div>
    </div>
</div>