@{ 
    var url = ViewData["map"];
}
<div id="right_sidebar" style="width: 100%; margin-top: 55px">
    <div class="region">
        <aside id="block_weather" class="block">
            <h3 class="block_title_black">Lưu ý</h3>
            <div class="content">
                <p style="line-height: 30px;font-size: 18px;" >1. Hệ thống tiếp nhận g&oacute;p &yacute;, phản &aacute;nh về:<br />&bull; H&agrave;nh vi g&acirc;y &ocirc; nhiễm m&ocirc;i trường, vi phạm ph&aacute;p luật về bảo vệ m&ocirc;i trường, sự cố, vụ việc m&ocirc;i trường;<br />&bull; C&aacute;c cơ chế, ch&iacute;nh s&aacute;ch, thủ tục h&agrave;nh ch&iacute;nh về m&ocirc;i trường;<br />&bull; Những giải ph&aacute;p, s&aacute;ng kiến bảo vệ m&ocirc;i trường.<br />2. Hệ thống kh&ocirc;ng tiếp nhận đơn thư khiếu nại, tố c&aacute;o, hướng dẫn v&agrave; giải đ&aacute;p ph&aacute;p luật.</p>
            </div>
        </aside>
        
    </div>
</div>
<!-- end right sidebar -->