@{ 
    var url = ViewData["map"];
}
<div id="right_sidebar" style="width: 100%; margin-top: 90px">
    <div class="region">
        <aside id="block_weather" class="block">
            <h3 class="block_title_black">Lưu ý</h3>
            <div class="content">
                <p style="margin-top: 6pt; text-align: left;"><span style="font-size: 10pt;"><strong>TỔNG CỤC TRƯỞNG TỔNG CỤC M&Ocirc;I TRƯỜNG </strong></span></p>
                <p style="margin-top: 6pt; text-align: left;"><span style="font-size: 10pt;">Căn cứ Luật Bảo vệ m&ocirc;i trường ng&agrave;y 23 th&aacute;ng 6 năm 2014;</span></p>
                <p style="margin-top: 6pt; text-align: left;"><span style="font-size: 10pt;">Căn cứ Luật Đa dạng sinh học ng&agrave;y 13 th&aacute;ng 11 năm 2008;</span></p>
                <p style="margin-top: 6pt; text-align: left;"><span style="font-size: 10pt;">Căn cứ Luật Tiếp cận th&ocirc;ng tin ng&agrave;y 06 th&aacute;ng 4 2016;</span></p>
                <p style="margin-top: 6pt; text-align: left;"><span style="font-size: 10pt;">Căn cứ Nghị&nbsp;định số&nbsp;36/2017/NĐ-CP ng&agrave;y 04 th&aacute;ng 4 năm 2017 của Ch&iacute;nh phủ quy định chức năng, nhiệm vụ, quyền hạn v&agrave; cơ cấu tổ chức của Bộ T&agrave;i nguy&ecirc;n v&agrave; M&ocirc;i trường;</span></p>
                <p style="margin-top: 6pt; text-align: left;"><span style="font-size: 10pt;">Căn cứ Quyết định số 15/2018/QĐ-TTg ng&agrave;y 12 th&aacute;ng 3 năm 2018 của Thủ tướng Ch&iacute;nh phủ quy định chức năng, nhiệm vụ, quyền hạn v&agrave; cơ cấu tổ chức&nbsp;của Tổng cục M&ocirc;i trường trực thuộc Bộ T&agrave;i nguy&ecirc;n v&agrave; M&ocirc;i trường;</span></p>
                <p style="margin-top: 6pt; text-align: left;"><span style="font-size: 10pt;">Chỉ thị số 03/CT-BTNMT ng&agrave;y 10/10/2017 của Bộ T&agrave;i nguy&ecirc;n v&agrave; M&ocirc;i trường về việc tăng cường tiếp nhận v&agrave; xử l&yacute; th&ocirc;ng tin phản &aacute;nh, kiến nghị của tổ chức v&agrave; c&aacute; nh&acirc;n về &ocirc; nhiễm m&ocirc;i trường th&ocirc;ng qua đường d&acirc;y n&oacute;ng;</span></p>
                <p style="margin-top: 6pt; text-align: left;"><span style="font-size: 10pt;">X&eacute;t đề nghị của Gi&aacute;m đốc Trung t&acirc;m Th&ocirc;ng tin v&agrave; Dữ liệu m&ocirc;i trường v&agrave; Ch&aacute;nh Văn ph&ograve;ng Tổng cục M&ocirc;i trường,</span></p>
                <p style="margin-top: 6.0pt; text-align: center;"><span style="font-size: 10pt;"><strong>QUYẾT ĐỊNH:</strong></span></p>
                <p style="margin-top: 6pt; text-align: left;"><span style="font-size: 10pt;"><strong>Điều 1.</strong> Ban h&agrave;nh k&egrave;m theo Quyết định n&agrave;y quy chế trao đổi th&ocirc;ng tin hai chiều giữa người d&acirc;n, cộng đồng d&acirc;n cư, doanh nghiệp v&agrave; cơ quan quản l&yacute; nh&agrave; nước về m&ocirc;i trường tr&ecirc;n Cổng th&ocirc;ng tin điện tử Tổng cục M&ocirc;i trường tại địa chỉ http://thongtinhaichieu.vea.gov.vn; <a href="http://traodoihaichieu.vea.gov.vn">http://traodoihaichieu.vea.gov.vn</a>.</span></p>
                <p style="margin-top: 6pt; text-align: left;"><span style="font-size: 10pt;"><strong>Điều 2. </strong>Quyết định n&agrave;y c&oacute; hiệu lực kể từ ng&agrave;y k&yacute;.</span></p>
                <p style="margin-top: 6pt; text-align: left;"><span style="font-size: 10pt;"><strong>Điều 3.</strong>Thủ trưởng c&aacute;c đơn vị thuộc Tổng cục M&ocirc;i trường; Gi&aacute;m đốc Sở T&agrave;i nguy&ecirc;n v&agrave; M&ocirc;i trường c&aacute;c tỉnh, th&agrave;nh phố trực thuộc trung ương chịu tr&aacute;ch nhiệm thi h&agrave;nh Quyết định n&agrave;y./.</span></p>
                <p style="margin-top: 6.0pt; text-align: justify;"><span style="font-size: 10pt;">&nbsp;</span></p>
            </div>
        </aside>
        <div id="block_sidebar_tabs" class="block">
            <ul style="height:40px">
                <li>
                    <a href="#block_popular"><span class="bg">Truy cập nhiều</span></a>
                </li>
                <li>
                    <a href="#block_comments"><span class="bg">Thảo luận</span></a>
                </li>
                <li>
                    <a href="#block_tags"><span class="bg">Tags</span></a>
                </li>
            </ul>
            <aside id="block_popular" class="content">
                <ul>
                    
                </ul>
            </aside>
            <aside id="block_comments" class="content">
                <ul>
                    <li>
                        <article>
                            <div class="photo">
                                <a href="#"><img src="images/bg_user.png" alt="Photo" /></a>
                            </div>
                            <div class="details">
                                <h4 class="title"><a href="#">Trần Trung Nguyên</a> on <a href="#">Buôn bán gia cầm tại đường Hồ Đắc Di.</a></h4>
                                <p class="date">
                                    <time datetime="2013-01-29">
                                        Jan 29, 2018, 8:47 am
                                    </time>
                                </p>
                            </div>
                            <p class="text">
                                Đã chuyển thông tin phản ánh cho UBND quận Hải Châu tiếp nhận và xử lý
                            </p>
                        </article>
                    </li>
                    <li class="last">
                        <article>
                            <div class="photo">
                                <a href="#"><img src="images/bg_user.png" alt="Photo" /></a>
                            </div>
                            <div class="details">
                                <h4 class="title"><a href="#">George Clark</a> on <a href="#">Nuôi gia cầm trong khu dân cư tại Tổ 4A phường Hòa ...</a></h4>
                                <p class="date">
                                    <time datetime="2013-01-29">
                                        Jan 29, 2018, 8:47 am
                                    </time>
                                </p>
                            </div>
                            <p class="text">
                                Tiếp nhận ý kiến công dân, UBND phường cùng với KDC có buổi làm việc thực tế tại nhà ông Lê ...
                            </p>
                        </article>
                    </li>
                </ul>
            </aside>
            <aside id="block_tags" class="content">
                <ul>
                    <li>
                        <a href="#">All</a>
                    </li>
                    <li>
                        <a href="#">Đất</a>
                    </li>
                    <li>
                        <a href="#">Nước</a>
                    </li>
                    <li>
                        <a href="#">Ô nhiễm</a>
                    </li>
                    <li>
                        <a href="#">Văn bản quy phạm</a>
                    </li>
                    <li>
                        <a href="#">Cảnh đẹp</a>
                    </li>
                    <li>
                        <a href="#">Nghệ thuật</a>
                    </li>
                    <li>
                        <a href="#">Khí hậu</a>
                    </li>
                    <li>
                        <a href="#">Tài nguyên</a>
                    </li>
                    <li>
                        <a href="#">Bão tố</a>
                    </li>
                    <li>
                        <a href="#">Khoáng sản</a>
                    </li>
                    <li>
                        <a href="#">Sông ngòi</a>
                    </li>
                </ul>
            </aside>
        </div>
        <aside id="block_in_pictures" class="block">
            <h3 class="block_title">Bản đồ môi trường tổng hợp</h3>
            <div>
                <iframe width="320" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="Bản đồ môi trường tổng hợp 3" src="@url"></iframe>
            </div>
        </aside>
        @*<aside id="block_follow" class="block">
                <h3 class="block_title">Follow Us</h3>
                <div class="content">
                    <ul>
                        <li class="first">
                            <a href="#" class="social_icons facebook">Facebook</a>
                        </li>
                        <li>
                            <a href="#" class="social_icons flickr">Flickr</a>
                        </li>
                        <li>
                            <a href="#" class="social_icons twitter">Twitter</a>
                        </li>
                        <li>
                            <a href="#" class="social_icons youtube">YouTube</a>
                        </li>
                        <li class="last">
                            <a href="#" class="social_icons vimeo">Vimeo</a>
                        </li>
                    </ul>
                </div>
            </aside>*@
        @*<aside id="block_web_services" class="block">
                <h3 class="block_title">Web Services</h3>
                <div class="content">
                    <ul>
                        <li class="first">
                            <a href="#" class="social_icons podcasts">Podcasts</a>
                        </li>
                        <li>
                            <a href="#" class="social_icons rss">RSS</a>
                        </li>
                        <li>
                            <a href="#" class="social_icons mobile">Mobile</a>
                        </li>
                        <li>
                            <a href="#" class="social_icons newsletter">Newsletter</a>
                        </li>
                        <li class="last">
                            <a href="#" class="social_icons webcasts">Webcasts</a>
                        </li>
                    </ul>
                </div>
            </aside>*@
    </div>
</div>
<!-- end right sidebar -->