
@{
    ViewData["FeatureTitle"] = "Quản trị Góp ý/ Phản ánh";
    ViewData["Title"] = "Góp ý/ Phản ánh";

    var take = (int)ViewData["take"];
    var keyword = (string)ViewData["keyword"];
    var pageNumber = (int)ViewData["page"];
    var pageSize = (int)ViewData["pageSize"];
    var categoryId = (int)ViewData["categoryId"];
    var status = (int)ViewData["status"];
    var type = (int)ViewData["type"];

    switch (status)
    {
        case 0:
            ViewData["Title"] += " đang chờ xử lý";
            break;
        case 1:
            ViewData["Title"] += " đã duyệt";
            break;
        case 2:
            ViewData["Title"] += " tin nháp";
            break;
        case 3:
            ViewData["Title"] += " đã xác nhận";
            break;
        case 4:
            ViewData["Title"] += " đã xóa";
            break;
        default:
            break;
    }
}
<style>

    .noteData {
        font-style: italic;
        color: red;
    }

    #actionPanel {
        margin-left: 285px;
        margin-top: 200px;
    }

    #actionPanel div.input-group {
        margin-bottom: 0 !important;
    }

    .select2-selection__choice {
        color: blue !important;
    }

    .ck-content.ck-editor__editable {
        height: 250px;
    }

    .template-upload {
        background-color: #f9f9f9 !important;
        opacity: 1 !important;
    }

    .template-download {
        background-color: #f9f9f9 !important;
        opacity: 1 !important;
    }

    .k-state-selected {
        background-color: darkgrey !important;
    }

    .atailieu {
        width: 200px;
        display: block;
    }

    .has-search .form-control-feedback {
        right: initial;
        left: 0;
        color: #ccc;
    }

    .has-search .form-control {
        padding-right: 12px;
        padding-left: 34px;
    }

</style>
<link rel="stylesheet" href="~/css/style.css">
<!-- blueimp Gallery styles -->
<link rel="stylesheet" href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="~/css/jquery.fileupload.css">
<link rel="stylesheet" href="~/css/jquery.fileupload-ui.css">
<noscript><link rel="stylesheet" href="~/css/jquery.fileupload-noscript.css"></noscript>
<noscript><link rel="stylesheet" href="~/css/jquery.fileupload-ui-noscript.css"></noscript>
<div class="row">
    <div class="col-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div>
                <div class="card-body" style="display: block;    margin-top: 30px;">
                    <div id="actionPanel" class="form-inline fixed-top" style="display: none;">
                        <div class="input-group mb-2 mr-sm-2 newdata" id="addNews">
                            <a asp-controller="News" asp-action="Create" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i> Tạo mới</a>
                        </div>
                        <div id="btn-delete" class="input-group mb-2 mr-sm-2 newdata">
                            <button type="button" class="btn btn-danger btn-flat" id="btn-delete-all"><i class="fa fa-close"></i> Xóa tin tức</button>
                        </div>
                        <div id="btn-save-publish" class="input-group mb-2 mr-sm-2 newdata">
                            <button type="button" class="btn btn-info btn-flat" id="btn-save-publish-new"><i class="fa fa-plus"></i>Xác nhận và chuyển lên lãnh đạo</button>
                        </div>
                        <div id="btn-save-process" class="input-group mb-2 mr-sm-2 newdata">
                            <button type="button" class="btn btn-primary btn-flat" id="btn-save-process-new"><i class="fa fa-plus"></i> Xác nhận đăng tin</button>
                        </div>
                        <div id="btn-save-dafts" class="input-group mb-2 mr-sm-2 newdata">
                            <button type="button" class="btn btn-dark btn-flat" id="btn-save-dafts-new"><i class="fa fa-plus"></i> Tin nháp</button>
                        </div>
                        <div id="btn-phan-cong" class="input-group mb-2 mr-sm-2 newdata">
                            <button type="button" class="btn btn-dark btn-flat" id="btn-phan-cong-new">Chuyển</button>
                        </div>
                        <div id="btn-bao-cao" class="input-group mb-2 mr-sm-2 newdata">
                            <button type="button" class="btn btn-primary btn-flat" id="btn-bao-cao-new">Báo cáo xử lý</button>
                        </div>
                        <div id="btn-xem-bao-cao" class="input-group mb-2 mr-sm-2 newdata">
                            <button type="button" class="btn btn-dark btn-flat" id="btn-xem-bao-cao-new"><i class="fa fa-plus"></i> Xem báo cáo</button>
                        </div>
                    </div>
                    <div class="input-group mb-2 mr-sm-2 row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">
                                    <span class="fa fa-search"></span>Tìm kiếm
                                </label>
                                <input id="txtName" type="text" placeholder="Nhập từ khóa cần tìm" class="form-control" />
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">
                                    <span class="fa fa-filter"></span>Lọc theo trạng thái
                                </label>
                                <select style="display: none;" class="form-control" id="exampleFormControlSelect1">
                                    <option selected value="-1">Lựa chọn bộ lọc</option>
                                    <option value="7">Tiếp nhận</option>
                                    <option value="5">Đã chuyển</option>
                                    <option value="6">Đã xử lý</option>
                                    <option value="3">Đã đăng tin</option>
                                    <option value="11">Bị trả lại</option>
                                </select>

                                <select style="display: none;" class="form-control" id="exampleFormControlSelect2">
                                    <option selected value="-1">Lựa chọn bộ lọc</option>
                                    <option value="5">Hoàn thành xử lý</option>
                                    <option value="6">Mới tiếp nhận</option>
                                    <option value="7">Chuyển trả lại</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">
                                    <span class="fa fa-filter"></span>Lọc theo phân loại
                                </label>
                                <select class="form-control" id="fillter_phanloai">
                                    <option selected value="-1">Lựa chọn bộ lọc</option>
                                    <option value="6">Ô nhiễm môi trường</option>
                                    <option value="7">Cơ chế, chính sách</option>
                                    <option value="8">Giải pháp, sáng kiến bảo vệ môi trường</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    <span class="fa fa-filter"></span>Lọc theo đối tượng
                                </label>
                                <select class="form-control" id="fillter_doituong">
                                    <option selected value="-1">Lựa chọn bộ lọc</option>
                                    <option value="0">Cá nhân</option>
                                    <option value="1">Tổ chức</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="dataGrid" class="mt-2"></div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<div class="modal fade" id="exampleModalNew6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chuyển công văn yêu cầu xử lý</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Chuyển công văn yêu cầu xử lý cho:</label>
                    <select class="js-data-example-ajax-chuyencongvan" multiple="multiple"></select>
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Ghi chú:</label>
                    <textarea class="form-control ghichubaocao" rows="10"></textarea>
                    <input type="hidden" class="NewsId" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="clickChuyenConvan">Chuyển công văn</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 750px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chuyển xử lý</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Chuyển cho:</label>
                    <select class="js-data-example-ajax" id="phancongcho"></select>
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Ghi chú:</label>
                    <textarea class="form-control ghichubaocao" rows="10"></textarea>
                    <input type="hidden" class="NewsId" />
                    <input type="hidden" class="NewsLogId" />
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Tài liệu đình kèm:</label>
                    <form id="fileupload3" method="POST" enctype="multipart/form-data">
                        <!-- Redirect browsers with JavaScript disabled to the origin page -->
                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-12">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Thêm tệp tin...</span>
                                    <input type="file" name="files" multiple>
                                </span>
                                @*<button type="submit" class="btn btn-primary start">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span>Bắt đầu upload</span>
                                    </button>*@
                                <!-- The global file processing state -->
                                <span class="fileupload-process"></span>
                            </div>
                            <!-- The global progress state -->
                            <div class="col-lg-5 fileupload-progress fade">
                                <!-- The global progress bar -->
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                </div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        <!-- The table listing the files available for upload/download -->
                        <table id="filebaocao3" role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="clickPhanCong">Chuyển</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalNew2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Báo cáo xử lý</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nội dung báo cáo:</label>
                    <textarea class="form-control" rows="10" id="commentNews"></textarea>
                    <input type="hidden" id="IdReport" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="clickBaocao">Báo cáo</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalNew_nhapketqua" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 600px;margin: 0 auto;max-width:900px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Báo cáo kết quả xử lý</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nội dung:</label>
                    <textarea class="form-control commentNews" rows="10"></textarea>
                    <input type="hidden" class="IdReport" />
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Tài liệu đình kèm:</label>
                    <form id="fileupload" method="POST" enctype="multipart/form-data">
                        <!-- Redirect browsers with JavaScript disabled to the origin page -->
                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-12">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Thêm tệp tin...</span>
                                    <input type="file" name="files" multiple>
                                </span>

                                <!-- The global file processing state -->
                                <span class="fileupload-process"></span>
                            </div>
                            <!-- The global progress state -->
                            <div class="col-lg-5 fileupload-progress fade">
                                <!-- The global progress bar -->
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                </div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        <!-- The table listing the files available for upload/download -->
                        <table id="filebaocao" role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                    </form>
                </div>

                <div class="form-group" id="thongtinbody_nhapketqua">
                    <div class="form-group" style="padding: 10px">
                        <label class="control-label">Tiêu đề</label></br>
                        <span class="tieude"></span>
                    </div>

                    <div class="form-group" style="padding: 10px">
                        <label class="control-label">Người gửi</label></br>
                        <span class="UserFullName"></span>
                    </div>

                    <div class="form-group" style="padding: 10px">
                        <label class="control-label">Email</label></br>
                        <span class="UserEmail"></span>
                    </div>

                    <div class="form-group" style="padding: 10px">
                        <label class="control-label">Nội dung</label>
                        <textarea rows="10" cols="15" class="form-control noidung" style="width:100%; height:300px"></textarea>
                    </div>

                    <div class="form-group" style="padding: 10px">
                        <label class="control-label">File đính kèm:</label>
                        <div class="item-from-file">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="nhapketquaxuly()">Báo cáo</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalNew_nhapketquatralai" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 600px;margin: 0 auto;max-width:900px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chuyển trả lại</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Lý do chuyển trả lại:</label>
                    <textarea class="form-control commentNews" rows="10"></textarea>
                    <input type="hidden" class="IdReport" />
                </div>

                <div class="form-group" id="thongtinbody_nhapketquatralai">
                    <div class="form-group" style="padding: 10px">
                        <label class="control-label">Tiêu đề</label></br>
                        <span class="tieude"></span>
                    </div>

                    <div class="form-group" style="padding: 10px">
                        <label class="control-label">Người gửi</label></br>
                        <span class="UserFullName"></span>
                    </div>

                    <div class="form-group" style="padding: 10px">
                        <label class="control-label">Email</label></br>
                        <span class="UserEmail"></span>
                    </div>

                    <div class="form-group" style="padding: 10px">
                        <label class="control-label">Nội dung</label>
                        <textarea rows="10" cols="15" class="form-control noidung" style="width:100%; height:300px"></textarea>
                    </div>

                    <div class="form-group" style="padding: 10px">
                        <label class="control-label">File đính kèm:</label>
                        <div class="item-from-file">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="submitTraLai()">Chuyển trả lại</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalNew_gopychidao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 600px;margin: 0 auto;max-width:900px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin góp ý (chỉ đạo)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nội dung:</label>
                    <textarea class="form-control commentNews" rows="10"></textarea>
                    <input type="hidden" class="IdReport" />
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Tài liệu đình kèm:</label>
                    <form id="fileupload4" method="POST" enctype="multipart/form-data">
                        <!-- Redirect browsers with JavaScript disabled to the origin page -->
                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-12">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Thêm tệp tin...</span>
                                    <input type="file" name="files" multiple>
                                </span>
                                @*<button type="submit" class="btn btn-primary start">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span>Bắt đầu upload</span>
                                    </button>*@
                                @*<button type="reset" class="btn btn-warning cancel">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <span>Cancel upload</span>
                                    </button>*@
                                @*<button type="button" class="btn btn-danger delete">
                                        <i class="glyphicon glyphicon-trash"></i>
                                        <span>Xóa</span>
                                    </button>*@

                                <!-- The global file processing state -->
                                <span class="fileupload-process"></span>
                            </div>
                            <!-- The global progress state -->
                            <div class="col-lg-5 fileupload-progress fade">
                                <!-- The global progress bar -->
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                </div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        <!-- The table listing the files available for upload/download -->
                        <table id="filebaocao" role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="nhapketquagopy()">Gửi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalNew_congkhai" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 600px;margin: 0 auto;max-width:900px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Trả lời góp ý</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nội dung:</label>
                    <textarea class="form-control commentNews" rows="10"></textarea>
                    <input type="hidden" class="IdReport" />
                    <input type="hidden" class="NewsId" />
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Tài liệu đình kèm:</label>
                    <form id="fileupload5" method="POST" enctype="multipart/form-data">
                        <!-- Redirect browsers with JavaScript disabled to the origin page -->
                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-12">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Thêm tệp tin...</span>
                                    <input type="file" name="files" multiple>
                                </span>
                                <span class="fileupload-process"></span>
                            </div>
                            <!-- The global progress state -->
                            <div class="col-lg-5 fileupload-progress fade">
                                <!-- The global progress bar -->
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                </div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        <!-- The table listing the files available for upload/download -->
                        <table id="filecongkhai" role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="nhapketcongkhai()">Gửi</button>
            </div>

            <h5>Chi tiết</h5>

            <div class="form-group" style="padding: 10px">
                <label class="control-label">Tiêu đề</label></br>
                <span class="tieude"></span>
            </div>

            <div class="form-group" style="padding: 10px">
                <label class="control-label">Người gửi</label></br>
                <span class="UserFullName"></span>
            </div>

            <div class="form-group" style="padding: 10px">
                <label class="control-label">Email</label></br>
                <span class="UserEmail"></span>
            </div>

            <div class="form-group" style="padding: 10px">
                <label class="control-label">Nội dung</label>
                <textarea rows="10" cols="15" class="form-control noidung" style="width:100%; height:600px"></textarea>
            </div>

            <div class="form-group" style="padding: 10px">
                <label class="control-label">File đính kèm:</label>
                <div class="item-from-file">

                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalNew4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Báo cáo lãnh đạo tổng cục:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nội dung:</label>
                    <textarea class="form-control" rows="10" id="noidungNote"></textarea>
                    <input type="hidden" id="IdNotes" />
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Tài liệu đình kèm:</label>
                    <form id="fileupload2" method="POST" enctype="multipart/form-data">
                        <!-- Redirect browsers with JavaScript disabled to the origin page -->
                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-12">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Thêm tệp tin...</span>
                                    <input type="file" name="files" multiple>
                                </span>
                                @*<button type="submit" class="btn btn-primary start">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span>Bắt đầu upload</span>
                                    </button>*@
                                <!-- The global file processing state -->
                                <span class="fileupload-process"></span>
                            </div>
                            <!-- The global progress state -->
                            <div class="col-lg-5 fileupload-progress fade">
                                <!-- The global progress bar -->
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                </div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        <!-- The table listing the files available for upload/download -->
                        <table id="filebaocao2" role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="clickNotes()" id="clickNotes">Ghi chú</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalNew3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Báo cáo xử lý</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">
                        Báo cáo của : <span id="nameBaocao"></span>
                    </label>
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nội dung báo cáo:</label>
                    <textarea disabled class="form-control" rows="10" id="commentNews3"></textarea>
                    <input type="hidden" id="IdReport3" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="clickBaocao">Báo cáo</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalNew5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác minh thông tin</h5>
                <input type="hidden" id="newsid">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">
                        Xác minh thông tin này là chính xác !
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="updateTrangThai(8)">Xác minh</button>
                <button type="button" class="btn btn-secondary" onclick="updateTrangThai(9)">Từ chối</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalNew_xemchitiet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xem báo cáo chi tiết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group" id="thongtinbody">
                    <label for="recipient-name" class="col-form-label">Nội dung:</label>
                    <p></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalNew_xemchitiet2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 750px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xem chi tiết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-group" style="padding: 5px;border: 1px solid;margin: 10px;">
                <label class="control-label">Tổng cục Môi trường </label>
                <div class="item-from-ttdl">
                    <div class="form-group" style="padding: 10px">
                        <label class="control-label" style="font-weight: 500;">Nội dung</label>
                        <textarea rows="10" cols="15" class="form-control noidung-ttdl" style="width:100%; height:150px"></textarea>
                    </div>
                    <div class="form-group" style="padding: 10px">
                        <label class="control-label" style="font-weight: 500;">File đính kèm:</label>
                        <div class="item-from-file-ttdl">

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" style="padding: 10px">
                <label class="control-label">Tiêu đề</label>
                <input class="form-control tieude" />
            </div>

            <div class="form-group" style="padding: 10px">
                <label class="control-label">Tên: <span class="UserFullName"></span></label>
            </div>

            <div class="form-group" style="padding: 10px">
                <label class="control-label">Email: <span class="UserEmail"></span> - Số điện thoại: <span class="UserPhone"></span></label>
            </div>

            <div class="form-group" style="padding: 10px">
                <label class="control-label">Địa chỉ: <span class="UserAddress"></span></label>
            </div>

            <div class="form-group" style="padding: 10px">
                <label class="control-label">Nội dung phản ánh kiến nghị</label>
                <textarea rows="10" cols="15" class="form-control noidung" style="width:100%; height:200px"></textarea>
            </div>

            <div class="form-group" style="padding: 10px">
                <label class="control-label">File đính kèm:</label>
                <div class="item-from-file">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalNew_tuchoitiepnhan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Từ chối tiếp nhận</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" class="news_id" />
                    <label for="recipient-name" class="col-form-label">Lý do:</label>
                    <textarea class="form-control ghichubaocao" rows="10"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="submitTuchoiTiepnhan()" data-dismiss="modal">Từ chối tiếp nhận</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
            <button class="btn btn-primary start" disabled>
                <i class="glyphicon glyphicon-upload"></i>
                <span>Tải lên</span>
            </button>
            {% } %}
            {% if (!i) { %}
            <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Loại bỏ</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
       
        <td>
            <p class="name">
                {% if (file.url) { %}
                <a href="{%=file.url%}" target="_blank" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
            <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
            <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                <i class="glyphicon glyphicon-trash"></i>
                <span>Xóa</span>
            </button>
            {% } else { %}
            <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>
@section Scripts{
    <script src="~/js/news/Scripts.js" asp-append-version="true"></script>
    <script type="text/javascript">
        var ngNews = {};
            ngNews = {
                lstNewsId: [],
                pageNumber: '@pageNumber',
                pageSize: '@pageSize',
                keyword: '@keyword',
                take: '@take',
                categoryId: '@categoryId',
                status: '@status',
                type: '@type'
        };
        var editor2;
        ClassicEditor
            .create(document.querySelector('.commentNews'))
            .then(editor => {
                console.log(editor);
                editor2 = editor;
            })
            .catch(error => {
                console.error(error);
            });
        var editorGopy;
        ClassicEditor
            .create(document.querySelector('#exampleModalNew_gopychidao .commentNews'))
            .then(editor => {
                editorGopy = editor;
            })
            .catch(error => {
                console.error(error);
            });

        var editorCongkhai;
        ClassicEditor
            .create(document.querySelector('#exampleModalNew_congkhai .commentNews'))
            .then(editor => {
                editorCongkhai = editor;
            })
            .catch(error => {
                console.error(error);
            });

        var editorTralai;
        ClassicEditor
            .create(document.querySelector('#exampleModalNew_nhapketquatralai .commentNews'))
            .then(editor => {
                editorTralai = editor;
            })
            .catch(error => {
                console.error(error);
            });
    </script>

    <script src="~/js/news/getlist.js" asp-append-version="true"></script>
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="~/js/vendor/jquery.ui.widget.js"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="https://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="https://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="https://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
    <!-- blueimp Gallery script -->
    <script src="https://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>

    <script src="~/js/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="~/js/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="~/js/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="~/js/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="~/js/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="~/js/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="~/js/jquery.fileupload-validate.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="~/js/jquery.fileupload-ui.js"></script>
    <!-- The main application script -->
    <script src="~/js/main.js"></script>
}