@model NewsViewModel2
@{
    ViewData["Title"] = "HƯỚNG DẪN GÓP Ý, PHẢN ÁNH";

}

<div class="col-sm-8">
    <div id="" style="width: 100%; margin-top: 21px">
        <div class="region">
            <aside id="block_weather" class="block">
                <h3 class="block_title_black">Hướng dẫn góp ý, phản ánh</h3>
                <div class="content">
                    <p style="line-height: 30px;font-size: 15px;">
                        <b> Cách 1:</b> Vào trang chủ<br />
                        <img src="~/images/guide feedback/s1-step1.png" />
                        <b> Cách 2:</b> Vào mục góp ý, phản ánh<br />
                        <img src="~/images/guide feedback/s2-step1.png" />
                    </p>
                </div>
            </aside>

        </div>

    </div>
    @*<div id="" style="width: 100%; margin-top: 15px">
        <div class="region">
            <aside id="block_weather" class="block">
                <h3 class="block_title_black">Hướng dẫn tra cứu kết quả</h3>
                <div class="content">
                    <p style="line-height: 30px;font-size: 15px;">
                        <b> Bước 1:</b> Vào trang chủ và hoàn thiện form<br />
                        <img src="~/images/guide feedback/s1-step1.png" />
                        &bull;<br />
                        <b>Bước 2:</b> <br />

                    </p>
                </div>
            </aside>

        </div>

    </div>*@
</div>
<div class="col-md-4">
    <div id="" style="width: 100%; margin-top: 20px">
        <div class="region">
            <aside id="block_weather" class="block">
                <h3 class="block_title_black">Lưu ý</h3>
                <div class="content">
                    <p style="line-height: 30px;font-size: 15px;"><b> 1. Hệ thống tiếp nhận g&oacute;p &yacute;, phản &aacute;nh về:</b><br />&bull; H&agrave;nh vi g&acirc;y &ocirc; nhiễm m&ocirc;i trường, vi phạm ph&aacute;p luật về bảo vệ m&ocirc;i trường, sự cố, vụ việc m&ocirc;i trường;<br />&bull; C&aacute;c cơ chế, ch&iacute;nh s&aacute;ch về m&ocirc;i trường;<br />&bull; Những giải ph&aacute;p, s&aacute;ng kiến bảo vệ m&ocirc;i trường.<br /><b>2. Hệ thống kh&ocirc;ng tiếp nhận đơn thư khiếu nại, tố c&aacute;o, hướng dẫn v&agrave; giải đ&aacute;p ph&aacute;p luật.</b></p>
                </div>
            </aside>

        </div>
    </div>
</div>