@model NewsViewModel2
@{
    ViewData["Title"] = "HƯỚNG DẪN GÓP Ý, PHẢN ÁNH";

}

<div class="col-sm-8">
    <div id="" style="width: 100%; margin-top: 21px">
        <div class="region">
            <aside id="block_weather" class="block">
                <h3 class="block_title_black">Hướng dẫn góp ý, phản ánh</h3>
                <div class="content">
                    <p style="line-height: 30px;font-size: 15px;">
                        <b> Cách 1:</b> Vào trang chủ và nhập thông tin<br />
                        <img src="~/images/guide feedback/s1-step1.png" />
                        <b> Cách 2:</b> Vào mục góp ý, phản ánh và nhập thông tin<br />
                        <img src="~/images/guide feedback/s2-step1.png" />
                    </p>
                </div>
            </aside>

        </div>

    </div>
    <div id="" style="width: 100%; margin-top: 15px">
        <div class="region">
            <aside id="block_weather" class="block">
                <h3 class="block_title_black">Hướng dẫn tra cứu kết quả</h3>
                <div class="content">
                    <p style="line-height: 30px;font-size: 15px;">
                        Vào mục tra cứu kết quả<br />
                        <img src="~/images/guide feedback/search.png" />
                    </p>
                </div>
            </aside>

        </div>

    </div>
    <div id="" style="width: 100%; margin-top: 15px">
        <div class="region">
            <aside id="block_weather" class="block">
                <h3 class="block_title_black">Xem chi tiết góp ý, phản ánh</h3>
                <div class="content">
                    <p style="line-height: 30px;font-size: 15px;">
                        <b>Bước 1:</b> Vào mục tra cứu kết quả và tìm kiếm<br />
                        <img src="~/images/guide feedback/detail0.png" />
                        <b>Bước 2:</b> Kích chuột vào góp phản ánh cần xem
                        <img src="~/images/guide feedback/detail.png" />
                    </p>
                </div>
            </aside>
        </div>
    </div>

    <div id="" style="width: 100%; margin-top: 15px">
        <div class="region">
            <aside id="block_weather" class="block">
                <h3 class="block_title_black">Tài liệu</h3>
                <div class="content">
                    <p style="line-height: 30px;font-size: 15px;">
                        <a target="_blank" href="~/images/guide feedback/guide-public-nguoidan.docx">&bull; Tài liệu hướng dẫn sử dụng dành cho người dân <span class="glyphicon glyphicon-download-alt"></span><br /></a>

                        <a target="_blank" href="~/images/guide feedback/guide-public.docx">&bull; Tài liệu hướng dẫn sử dụng dành cho cán bộ tiếp nhận, xử lý <span class="glyphicon glyphicon-download-alt"></span><br /></a>

                    </p>
                </div>
            </aside>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div id="" style="width: 100%; margin-top: 20px">
        <div class="region">
            <aside id="block_weather" class="block">
                <h3 class="block_title_black">Lưu ý</h3>
                <div class="content">
                    <p style="line-height: 30px;font-size: 15px;"><b> 1. Hệ thống tiếp nhận g&oacute;p &yacute;, phản &aacute;nh về:</b><br />&bull; H&agrave;nh vi g&acirc;y &ocirc; nhiễm m&ocirc;i trường, vi phạm ph&aacute;p luật về bảo vệ m&ocirc;i trường, sự cố, vụ việc m&ocirc;i trường;<br />&bull; C&aacute;c cơ chế, ch&iacute;nh s&aacute;ch về m&ocirc;i trường;<br />&bull; Những giải ph&aacute;p, s&aacute;ng kiến bảo vệ m&ocirc;i trường.<br /><b>2. Hệ thống kh&ocirc;ng tiếp nhận đơn thư khiếu nại, tố c&aacute;o, hướng dẫn v&agrave; giải đ&aacute;p ph&aacute;p luật.</b></p>
                </div>
            </aside>

        </div>
    </div>
</div>