
@{
    ViewData["Title"] = "Hình ảnh";
}
<script src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<style>


    #right_sidebar {
        display: none !important;
    }

   
    .flexslider .slides img {
        max-height: 100%;
    }

</style>

<div class="container-fluid">
    <h1 style="padding: 15px;">@ViewData["Title"]</h1>
    <div class="col-md-8">
        <section class="block_business_news block">
            <div class="content">
                <div id="content_top2" style="padding-top: 14px;">
                    <div class="region">
                        <aside id="block_front_slider" class="block slider" style="height: auto;width: 100%; max-height:520px;">
                            <div class="flexslider slider" id="block_front_slides" style="max-height: 450px;width: 100%;height: auto;" >
                                <ul class="slides" id="home-image-preview"></ul>
                            </div>
                            <div class="flexslider carousel" id="block_front_carousel">
                                <ul class="slides" id="home-image-slide"></ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-md-4">
       
            <section class="block block_business_news">
                <h3 class="block_title_black">TIN MỚI<a href="/home/news" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                <div class="content">
                    <div class="right">
                        <ul id="tin-moi-content"></ul>
                    </div>
                </div>
            </section>
       
            <section class="block block_business_news">
                <h3 class="block_title_black">TIN XEM NHIỀU<a href="/home/news" class="view_all"><span><span>Tất cả tin</span></span></a></h3>
                <div class="content">
                    <div class="right">
                        <ul id="tin-xem-nhieu-content"></ul>
                    </div>
                </div>
            </section>
       
    </div>
</div>
@section Scripts {
    <script src="~/js/date.format.js"></script>
    <script>
        //album anhr
        $.get(appConfig.apiHostUrl + "/api/Media/getMedia?type=image&is_publish=1", function (data, status) {
            var preview = '';
            var slide = '';
            for (var i = 0; i < data.length; i++) {
                preview += '<li>';
                preview += '<img src="' + data[i].url + '" style="height: auto;width: 100%;max-height: 450px;" />';
                preview += '<p class="flex-caption" style="width:100%">';
                preview += data[i].description;
                preview += '</p>';
                preview += '</li>';

                slide += '<li>';
                slide += '<img src="' + data[i].url + '" />';
                slide += '</li>';
            }
            $('#home-image-preview').html(preview);
            $('#home-image-slide').html(slide);
            $('#block_front_slides').flexslider({
                animation: "slide",
                controlNav: false,
                directionNav: false,
                animationLoop: false,
                slideshow: false,
                animationDuration: 1000,
                sync: "#block_front_carousel"
            });

            $('#block_front_carousel').flexslider({
                animation: "slide",
                controlNav: false,
                directionNav: true,
                itemWidth: 120,
                itemMargin: 30,
                animationDuration: 1000,
                asNavFor: '#block_front_slides'
            });
        });



        $.get(appConfig.apiHostUrl + "/api/News/getHomeNewsByCate?number=4", function (data, status) {
            var content = '';
            for (var i = 0; i < data.model.length; i++) {
                if (i != data.model.length - 1) {
                    content += '<article class="border-dot">';
                    content += '<hgroup>';
                    content += '<h4 class="title"><a style="font-size:14px;" href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                    content += '</hgroup>';
                    content += '<p class="date" style="text-align:left;">'
                    content += '<time datetime="2013-01-21">'
                    content += new Date(data.model[i].OnPublished).format("dd/mm/yyyy");
                    content += '</time>'
                    content += '</p>'
                    if (data.model[i].Image != '') {
                        content += '<img alt="(Ảnh minh họa)" src="' + data.model[i].Image + '" style="BORDER: 0px solid; width:120px; height:80px; float:left; margin-right:5px">'

                    }
                    content += '<p class="tom-tat-news" style="line-height: 18px; color:#333;text-align:justify;">';
                    content += data.model[i].Abstract;
                    content += '...</p>';
                    content += '</article>';
                } else {
                    content += '<article>';
                    content += '<hgroup>';
                    content += '<h4 class="title"><a style="font-size:14px;" href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                    content += '</hgroup>';
                    content += '<p class="date" style="text-align:left;">'
                    content += '<time datetime="2013-01-21">'
                    content += new Date(data.model[i].OnPublished).format("dd/mm/yyyy");
                    content += '</time>'
                    content += '</p>'
                    if (data.model[i].Image != '') {
                        content += '<img alt="(Ảnh minh họa)" src="' + data.model[i].Image + '" style="BORDER: 0px solid; width:120px; height:80px; float:left; margin-right:5px">'

                    }
                    content += '<p class="tom-tat-news" style="line-height: 18px; color:#333;text-align:justify;">';
                    content += data.model[i].Abstract;
                    content += '...</p>';
                    content += '</article>';
                }

            }

            $('#tin-moi-content').html(content);
            $('.tom-tat-news span').css({ 'font-size': '14px' });
        });

        $.get(appConfig.apiHostUrl + "/api/News/getHomeNewsByCate?number=4&xemnhieu=1", function (data, status) {
            var content = '';
            for (var i = 0; i < data.model.length; i++) {
                if (i != data.model.length - 1) {
                    content += '<article class="border-dot">';
                    content += '<hgroup>';
                    content += '<h4 class="title"><a style="font-size:14px;" href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                    content += '</hgroup>';
                    content += '<p class="date" style="text-align:left;">'
                    content += '<time datetime="2013-01-21">'
                    content += new Date(data.model[i].OnPublished).format("dd/mm/yyyy");
                    content += '</time>'
                    content += '</p>'
                    if (data.model[i].Image != '') {
                        content += '<img alt="(Ảnh minh họa)" src="' + data.model[i].Image + '" style="BORDER: 0px solid; width:120px; height:80px; float:left; margin-right:5px">'

                    }
                    content += '<p class="tom-tat-news" style="line-height: 18px; color:#333;text-align:justify;">';
                    content += data.model[i].Abstract;
                    content += '...</p>';
                    content += '</article>';
                } else {
                    content += '<article>';
                    content += '<hgroup>';
                    content += '<h4 class="title"><a style="font-size:14px;" href="/home/detailnews?id=' + data.model[i].Id + '">' + data.model[i].Name + '</a></h4>';
                    content += '</hgroup>';
                    content += '<p class="date" style="text-align:left;">'
                    content += '<time datetime="2013-01-21">'
                    content += new Date(data.model[i].OnPublished).format("dd/mm/yyyy");
                    content += '</time>'
                    content += '</p>'
                    if (data.model[i].Image != '') {
                        content += '<img alt="(Ảnh minh họa)" src="' + data.model[i].Image + '" style="BORDER: 0px solid; width:120px; height:80px; float:left; margin-right:5px">'

                    }
                    content += '<p class="tom-tat-news" style="line-height: 18px; color:#333;text-align:justify;">';
                    content += data.model[i].Abstract;
                    content += '...</p>';
                    content += '</article>';
                }
            }
            $('#tin-xem-nhieu-content').html(content);
            $('.tom-tat-news span').css({ 'font-size': '14px' });
        });
    </script>
}