
@{
    ViewData["Title"] = "Văn bản";
}

<style>

    table,
    thead,
    tr,
    tbody,
    th,
    td {
        text-align: center;
    }

    .left-vanban {
        text-align: left;
    }
</style>
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.common-material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.material.mobile.min.css" />

<h1 id="result-search" style="padding: 15px;font-size: 20px">Quy phạm pháp luật</h1>
<div id="grid"></div>

@section Scripts {
    <script>
        $(document).ready(function () {
            dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: appConfig.apiHostUrl + "/api/Media/GetVanban?type=1",
                        beforeSend: function (req) {
                            //req.setRequestHeader('Authorization', `Bearer ${jwtToken}`);
                        },
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                       if (operation !== "read" && options) {
                            return {
                                models: kendo.stringify(options)
                            };
                        }
                    }

                },
                requestEnd: function (e) {
                    if (e.type == "update") {
                        messagerSuccess("Sửa thành công!");
                    }
                },
                batch: false,
                pageSize: 20,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false },
                            url: { editable: false },
                            sovanban: { type: "string", validation: { required: true } },
                            tenvanban: { type: "string", validation: { required: true } },
                            ngaybanhanh: { type: "date", validation: { required: true } },
                            loaivanban: { type: "string", validation: { required: true } },
                            coquanbanhanh: { type: "string", validation: { required: true } },
                            OnCreated: { type: "date", editable: false }
                        }
                    }
                }
            });
            $("#grid").kendoGrid({
                dataSource: dataSource,
                pageable: true,
                height: 550,
                columns: [
                    { field: "Id", title: "ID", width: "50px" },
                    { field: "url", title: "Tải xuống", width: "100px", template: "#=templateimage(url)#" },
                    { field: "sovanban", title: "Số văn bản", width: "200px" },
                    { field: "tenvanban", title: "Tên văn bản", width: "200px" },
                    { field: "ngaybanhanh", title: "Ngày ban hành", format: "{0:MM/dd/yyyy}", width: "150px" },
                    { field: "loaivanban", title: "Loại văn bản", width: "200px" },
                    { field: "coquanbanhanh", title: "Cơ quan ban hành", width: "200px" },
                ]

            }).data("kendoGrid");
        });

        function templateimage(url) {
            return '<a href="' + url + '" target="_blank"><i class="fa fa-download"></i></a>';
        }
       
    </script>
}