
@{
    ViewData["Title"] = "Văn bản";
}
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.common-material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.material.mobile.min.css" />
<style>

    table,
    thead,
    tr,
    tbody,
    th,
    td {
        text-align: center;
    }

    .left-vanban {
        text-align: left;
    }

    .k-filter-row th, .k-grid-header th.k-header {
        text-align: center;
    }
    * {
        box-sizing: border-box;
    }

    /* Style the search field */
    div.example input[type=text] {
        padding: 10px;
        font-size: 12px;
        border: 1px solid grey;
        float: left;
        width: 55%;
        background: #f1f1f1;
    }

    div.example label {
        padding: 10px;
        font-size: 13px;
        float: left;
        width: 25%;
    }

    /* Style the submit button */
    div.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 14px;
        border: 1px solid grey;
        border-left: none; /* Prevent double borders */
        cursor: pointer;
    }

        div.example button:hover {
            background: #0b7dda;
        }

    /* Clear floats */
    div.example::after {
        content: "";
        clear: both;
        display: table;
    }
</style>


<h1 id="result-search" style="padding: 15px;font-size: 20px">Quy chuẩn, tiêu chuẩn</h1>
<div class="example" action="" style="max-width:360px;margin-bottom:10px;">
    <label>Từ khóa: </label>
    <input id="search-vanban-input" type="text" placeholder="Tìm kiếm văn bản.." name="search">
    <button id="search-vanban-button" type="submit"><i class="fa fa-search"></i></button>
</div>
<div id="grid"></div>

@section Scripts {
    <script>
        if (searchValue) {
            $("#search-vanban-input").val(searchValue);
        }
        $("#search-vanban-input").keyup(function (e) {
            var code = e.which; // recommended to use e.which, it's normalized across browsers
            if (code == 13) {
                window.location.href = "/news/vanbanquychuan?search=" + $("#search-vanban-input").val();
            } // missing closing if brace
        });

        $('#search-vanban-button').click(function (e) {
            window.location.href = "/news/vanbanquychuan?search=" + $("#search-vanban-input").val();
        });
        $(document).ready(function () {

            dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: appConfig.apiHostUrl + "/api/Media/GetVanban?type=0&searchValue=" + searchValue,
                        beforeSend: function (req) {
                            //req.setRequestHeader('Authorization', `Bearer ${jwtToken}`);
                        },
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options) {
                            return {
                                models: kendo.stringify(options)
                            };
                        }
                    }

                },
                requestEnd: function (e) {
                    if (e.type == "update") {
                        messagerSuccess("Sửa thành công!");
                    }
                },
                batch: false,
                pageSize: 10,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false },
                            url: { editable: false },
                            sovanban: { type: "string", validation: { required: true } },
                            tenvanban: { type: "string", validation: { required: true } },
                            ngaybanhanh: { type: "date", validation: { required: true } },
                            loaivanban: { type: "string", validation: { required: true } },
                            coquanbanhanh: { type: "string", validation: { required: true } },
                            OnCreated: { type: "date", editable: false }
                        }
                    }
                }
            });
            dataSource.sort({ field: "Id", dir: "asc" });
            window.stt = 0;
            $("#grid").kendoGrid({
                dataSource: dataSource,
                pageable: true,
                height: 550,
                dataBinding: function () {
                    stt = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                },
                columns: [
                    { title: "STT", width: "50px", template: "#= ++stt #" },
                    { title: "Số văn bản", width: "200px", template: "#=templateSovanban(sovanban,url)#" },
                    { field: "tenvanban", title: "Tên văn bản", width: "350px" },
                    { field: "ngaybanhanh", title: "Ngày ban hành", format: "{0:MM/dd/yyyy}", width: "120px" },
                    { field: "loaivanban", title: "Loại văn bản", width: "200px" },
                    { field: "coquanbanhanh", title: "Cơ quan ban hành", width: "200px" },
                ]

            }).data("kendoGrid");
        });

        function templateSovanban(sovanban, url) {
            return '<a style="color:black;" href="' + url + '" target="_blank">' + sovanban + ' <i class="fa fa-download"></i></a>';
        }

    </script>
}